
body {
    background: url(https://i.pinimg.com/originals/fc/14/19/fc1419eb1da88cb9fdcc769f8bf79223.png) no-repeat fixed;
    background-size: contain;
    background-color: #d8332a;
}

.content,.top_header,.modal-content,div#mobile_menu {
    box-shadow: 0 5px 14px #000000b5;
    background-color: #181818;
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);}

div#lefthome {
    background-color: #181818;
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);}

.bg-light {
    border: none;
    box-shadow: 0 5px 14px #000000b5;
    background-color: #181818;
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
}

li.p-1 {display: block;}

.card-body,.seBlogColumnRightPadding,.content,.card-header,div#righthome{padding: 0px !important; padding: 0px;}
.card-header {display: none;}

.post_container .post_text img {max-width: 100%;}

button.btn.btn-primary,button.button_down {background: transparent;}

.post {padding: 20px;}

h2.card-title {font-size: 25px;}

a.page-link {
    border-radius: 0px !important;
    background: #181818 !important;}


.post_text.pl-3,h2.card-title a {color: #d32c27;}

.additional_info.pl-3,
.additional_info.pl-3 a,
h6.card-subtitle.mb-2.text-muted.post_date,
h6.card-subtitle.mb-2.text-muted.post_date a,
[style="font-size: 11px; color: #333333; word-break: break-word; width: 100px; text-align: center;"],
.seBlogColumnRightPadding a,
.seBlogComments a,
.profile_comment_date {color: #353535 !important;}

.gifts-list {font-size: 0px;}

.seBlogColumnRightPadding {text-align: center;}

.blog_leftsearch {padding-left: 20%;}

input[type="text"] {background: transparent;}

a.page-link, a.page-link:hover {
    margin-top: 10px;
    border-radius: 20px;
    font-size: 17px;
    color: #303030;
    text-transform: uppercase;
    margin-right: 10px;
    background: #181818;
}

.copyright a {
    color: #d8332a;
    text-shadow: 1px 1px 2px black;
}

img.photo, .card, button.btn.btn-primary, button.button_down, .comment_headline, div#postcomment_userphotos, .profile_postcomment, textarea#comment_body, img.img-thumbnail, .modal-header, .modal-footer, .modal-header, .modal-footer, button.btn.btn-secondary, div.menu_dropdown, .comment_headline, input#comment_submit {
    border: none !important;
    border: none;
}


.modal-header, .modal-footer {
    color: #d32c27;
    text-transform: uppercase;
}

.seBlogColumnRightPadding {
    text-align: center;
}
.card-body, .seBlogColumnRightPadding, .content, .card-header, div#righthome {
    padding: 0px !important;
    padding: 0px;
}

.additional_info.pl-3, .additional_info.pl-3 a, h6.card-subtitle.mb-2.text-muted.post_date, h6.card-subtitle.mb-2.text-muted.post_date a, [style="font-size: 11px; color: #333333; word-break: break-word; width: 100px; text-align: center;"], .seBlogColumnRightPadding a, .seBlogComments a, .profile_comment_date {
    color: #353535;
}

.seBlogColumnRightPadding a:hover, h6.card-subtitle.mb-2.text-muted.post_date a:hover, .additional_info.pl-3 a:hover, .profile_comment_author a:hover, .profile_comment_links a:hover, .comment_headline a:hover {
    color: #7f7f7f;
    transition: 0.1s;
    text-decoration: unset;
}
.content {
    border-radius: 20px;
}

.btn-outline-success {
    color: #4b4b4b;
    border: none;
    text-transform: uppercase;
}

.btn-outline-success:hover {
    background: transparent;
}
[src="/images/notify.svg"] {
    filter: invert(1);
    width: 21px;
    margin-top: 3px;
    opacity: 0.2;
}

button.navbar-toggler {
    border: none;
    filter: contrast(0.5);
}

[src="./images/logo_new.png"] {
    content: url(https://beon.vip/uploads_image/cb/da/cbda2819ed8ee79600bbf228dd3a9b00.png);
    filter: contrast(0.5);
}

@media screen and (max-width: 1024px) {
body {
    background: url(https://i.pinimg.com/originals/fc/14/19/fc1419eb1da88cb9fdcc769f8bf79223.png) no-repeat fixed top 25px left !important;
    background-size: contain !important;
    background-color: #d8332a !important;
}
.content {
    margin-top: 200px;
    border-radius: 0px;
}
table.body {
    width: 100%;
}
.blog_leftsearch {
    padding-left: 0;
}
div#designs {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background: #c02d25;
    width: 20px;
    height: 20px;
    color: transparent;
}
.additional_info.pl-3 a {
    padding-left: 10px;
}
.additional_info.pl-3 {
    display: flex;
}}



#mobile_menu .menu_item_dropdown a {
    background: transparent;
    color: #585858;
    text-transform: uppercase;
    font-size: 11px;
}

div#mobile_photo_wrap {
    background: url(https://i.pinimg.com/originals/fc/14/19/fc1419eb1da88cb9fdcc769f8bf79223.png) no-repeat;
    background-size: contain;
    background-color: #d8332a;
    padding-top: 100px;
    color: #d8332a;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    font-size: 11px;
}

div#mobile_photo img {
    opacity: 0;
}

#mobile_menu button.btn.btn-primary {
    color: #d8332a;
    text-transform: uppercase;
    font-size: 11px;
}

img.menu_icon2 {
    display: none;
}

.profile_comment_author {
    border-bottom: 1px solid #353535;
}
blockquote.blockquote {
    background: #1e1e1e;
    border-color: #dd2f28;
}

.post_image a img, img.photo {
    border-radius: 5px;
}
.seBlogComments {
    color: #d32c24;
}

div#user_status {
    margin: auto;
}
font.disabled {
    color: #353535;
}

textarea#comment_body {
    background: #343333;
}

input#comment_submit {
    background-color: #e93a30;
    background-image: url(https://www.transparenttextures.com/patterns/egg-shell.png);
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 2px 1px 7px black;
    padding-bottom: 0px;
    font-weight: bold;
}

img.img-thumbnail {
    background: transparent;
    border-radius: 7px;
}
.userphoto_selected {
    background: transparent;
    outline: 1px solid #d8332a;
}
.profile_comment_links {
    color: transparent;
}

.comment_headline {
    margin-top: 30px;
    background: transparent;
}

.gifts-list img:hover {
    filter: grayscale(0) brightness(0.9);
}
.gifts-list img {
    filter: grayscale(1) brightness(0.2);
}

button.btn.btn-secondary {
    background-color: #e93a30;
    background-image: url(https://www.transparenttextures.com/patterns/egg-shell.png);
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 0px;
    font-weight: bold;
    color: black;
}

.updatesDelete a {
    color: #d32c27;
    text-transform: uppercase;
    font-size: 11px;
}
