.list-users-home.pt-2.first-users-home a:hover {
    text-decoration: unset !important;
}

/*---------------------------*/

/*Satan*/

.list-users-home.pt-2.first-users-home .list-users-left [href="https://beon.vip/Satan/blog/"]:after {
    content: 'BPblBAЮCb B ГOBHO';
    font-size: 10px;
    color: #333333;
    font-weight: 400;
    display: block;
    width: 100%;
}
