.left-menu {
    display: none;
}

.content {
    width: 100%;
    padding: 0px;
}

.col-12 {
    padding: 0px;
}

.info_container {
    margin: 0px;
}

.col-12+.col-12.col-md-6 {
    padding-right: 5px;
    padding-left: 5px;
}


.col-12 h1 {
    font-size: 12px;
    margin: 0px;
    margin-bottom: 10px;
}

.info_text {
    font-size: 14px;
}

.info_container {
    margin-bottom: 5px;
}

.info_text a {
    font-size: 14px;
    line-height: normal;
}

.d-flex.info_text a {
    font-size: 12px;
    text-decoration: underline;
}

.row {
    margin-right: unset;
    margin-left: unset;
}

.info_header {
    padding: 0px;
    padding-left: 2px;
}

.info_text a {
    text-decoration: underline;
    font-size: 13px;
}

.post-opt a {
    font-size: 10px;
}

/*ленивое МЕДИА*/

@media (max-width: 700px) {
.col-12.col-md-6 .info_container {
    margin: 0px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}}
