/*head*/

.header_menu,.top_header {
    width: 100%;
}
.top_header {
    box-shadow: unset !important;
    padding: 10px;
}
.top_menu {
    padding-bottom: 23px;
}

a.top_menu_item {
    font-size: 19px !important;
    text-transform: capitalize !important;
}

.top_header {
    box-shadow: unset !important;
    border-bottom: 1px solid #EBEBEB;
}

button.btn.btn-primary {
    border: unset;
    padding: 7px;
}

button.button_down {
    padding: 7px;
}

/*лого*/

.top_header table tbody tr td:first-child {
    width: 330px;
    text-align: center;
}

td.top_menu {
    width: auto !important;
    background: transparent !important;
    text-align: left !important;
}

.top_header table {
    width: 100% !important;
}

td.top_menu {
    padding-bottom: 16px;
}

/*-------------------------*/


div#message_post {
    position: relative;
}

div#messages_scroll {
    padding-bottom: 10px !important;
}

div#message_post .pt-3 {
    font-weight: bold;
    padding: 0 !important;
}

img#userphoto_url {
    width: 60px;
}

textarea#reply_body {
    min-height: 60px;
}

.pl-5.p-2, div#smiles {
    padding-left: 0px !important;
    padding-top: 0 !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

img.photo {
    border: unset;
}

.message_row.row.col-12 {
    padding: 30px;
    padding-bottom: 0;
}



/*--------------*/



.messages_date {
    font-size: 12px;
}

.messages_author {
    font-weight: 500 !important;
    padding-bottom: 0 !important;
}
.messages_text {
    padding-top: 5px;
}

div#message_row_text {
    padding-left: 10px;
}

.messages_actions {
    text-align: right;
}

/*минишапка?*/

.top_header {
    height: 60px;
}

.top_header table tbody tr td:first-child {
    height: 50px;
    display: block;
    text-align: left;
    width: 100px;
}

[src="./images/logo_new.png"] {
    content: url(https://beon.vip/favicon.ico);
    margin-top: -7px;
    margin-left: -10px;
    max-width: 52px;
}

td.top_menu {
    padding: 0;
}

button.btn.btn-light.btn-block {
    border-radius: 3px;
    border: unset;
}

.content {
    margin-top: 15px;
}

/*двоеточие*/

div#message_post .pt-3 {
    font-size: 16px;
}

.pt-3:before {
    content: ':';
    opacity: 0;
}

.pt-3 div:first-child {
    direction: ltr;
    font-size: 14px;
}
.pt-3 {
    direction: rtl;
}
/*----------------------*/

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: unset;
    border-bottom: 1px solid #0000001a;
}

 button.navbar-toggler:hover {
    background: #968e8e !important;
    color: #fdfdfd !important;
}
button.btn.btn-outline-success {
    color: rgba(0, 0, 0, 0.5);
    border-color: #0000001a;
}
button.button_down {
    margin-left: 5px;
}

div#message_row_text {
    padding-right: unset;
}


div#message_row_text {
    flex: 0 0 100%;
    max-width: calc(100% - 100px);
}

.messages_date {
    padding-top: 9px;
}

div#mobile_menu {
    width: 80%;
    max-width: 300px;
}

div#mobile_photo img {
    width: 100px;
}

div#mobile_photo+div {
    margin-bottom: 5px !important;
}

.portal_spacer {
    display: none;
}
button.button_down {
    border-radius: 3px;
}
button.btn.btn-primary, button.button_down, a.page-link, a.nav-item.nav-link.active, div#ajax_status a, a.nav-item.nav-link.active, .list-users-home.pt-2+.pt-2 button.btn.btn-primary.btn-block, .card [onclick="$('#profile_viewers').toggle();"],
button.btn.btn-light.btn-block {
    background: #54b9e7;
    color: #fdfdfd !important;
}

button.btn.btn-primary:hover,button.button_down:hover,button#messages_send:hover,button.btn.btn-light.btn-block:hover {
    background: #968e8e !important;
    color: #fdfdfd !important;
}
button#newupdates:hover {
    background: transparent !important;
}

.pl-5.p-2 img:hover,a#attach_file_click:hover {
    filter: opacity(0.7);
}
div#postcomment_userphotos {
    width: 110px;
    padding: 0;
}

[src="/images/paper-plane.svg"] {
    filter: brightness(0) invert(1);
}

button#messages_send {
    background: #54b9e7;
}

button#messages_send {
    margin-left: 10px;
}


.pr-2 {
    padding-right: 10px !important;
}

.pl-5.p-2 img {
    width: 27px;
    image-rendering: pixelated;
    margin-left: 10px;
    margin-right: 10px;
}

[src="/images/photo.svg"] {
    width: 25px;
}

a#attach_file_click {
    padding: 0;
    position: absolute;
    top: 70px;
    left: 130px;
    right: unset !important;
}

img#userphoto_url {
    border-radius: 3px;
}
button#messages_send {
    min-width: 100px;
}
[src="/images/verify.png"] {
    margin-top: -3px;
}

textarea#reply_body {
    overflow-y: auto !important;
}


/*MEDIA*/

@media (max-width: 1024px) {

}

/*smart*/

@media (max-width: 280px), (max-width: 480px), (max-width: 768px){
.message_row.row.col-12,div#message_post {
    padding: 0 !important;
}
[src="./images/logo_new.png"] {
    content: url(https://beon.vip/images/logo_new.png);
    width: 100px;
    height: auto;
    margin: 0px;
    image-rendering: -webkit-optimize-contrast;
    max-width: 100%;
}
.message_row.row.col-12 {
    margin-right: 0px !important;
    padding-right: unset !important;
}
div#messages_scroll .row {
    margin: auto !important;
    padding-bottom: 10px !important;
}
div#messages_scroll {
    padding: 5px !important;
    padding-bottom: 10px !important;
}
button.btn.btn-light.btn-block {
    margin-bottom: 10px;
}
  div#message_post {
    padding: 5px !important;
}

button#messages_send {
    display: block;
    width: 100%;
    float: unset !important;
    margin: auto;
}
  
div#smiles+div {
    display: block !important;
}
  textarea#reply_body {
    padding: 5px !important;
}
  .pr-2 {
    margin-bottom: 5px;
}
  .pl-5.p-2,div#smiles {
    padding: 0 !important;
    margin-bottom: 5px;
}
  textarea#reply_body {
    margin-bottom: 5px;
}
  
a#attach_file_click {
    padding: 0;
    right: 10px !important;
    top: 70px;
    left: unset;
}

.pl-5.p-2 {
    position: absolute;
    top: 70px;
    left: 0;
    width: calc(100% - 75px);
    margin-left: 75px;
    margin-top: 0px;
}
  
[src="/images/photo.svg"] {
    width: 27px;
}
  
.pl-5.p-2 img {
    width: 27px;
    image-rendering: pixelated;
    margin-left: 10px;
    margin-right: 10px;
}
  
div#smiles {
    position: absolute;
    background: #f8f9fa;
    padding: 5px !important;
    border-radius: 3px;
    border: 1px solid #dfe0e1;
    top: -40px;
    width: 90%;
    left: 4px;
    z-index: 2;
}
  
div#smiles img {
    margin: 6px;
    padding: 0 !important;
}
div#message_post {
    width: 100% !important;
    margin: unset !important;
    border: unset;
    border-radius: unset;
    border-top: 1px solid #ebebeb;
}
div#message_post .pt-3 {
    margin-bottom: 4px;
}
}


.top_header [href="./"]:after {
    content: url(https://i.ibb.co/KwbMTs9/filled-chat-1.png);
    position: absolute;
    top: 10px;
}

/*удалить изменить перестановка как в дневнике*/

.messages_actions {
    display: flex;
    flex-direction: row-reverse;
}

.messages_actions,.messages_actions [onclick^="editmessage"] {
    font-size: 0;
}

.messages_actions [onclick^="editmessage"]:before {
    content: 'изменить';
    font-size: 14px;
}

.messages_actions a {
    font-size: 14px;
    margin-left: 10px;
}

div#message_post {
    border: 1px solid #ebebeb;
    width: calc(100% - 20px) !important;
    margin: auto;
    margin-bottom: 10px !important;
    border-radius: 3px;
}

