/*другая система развёртывания выпадашек 2*/

div.menu_dropdown {
    display: block !important;
    max-height: 0px;
    overflow: hidden;
    border-radius: unset !important;
    padding: 0px;
    border: 1px solid #fff0 !important;
    transition: 0.1s;
}

.top_menu_link:hover div.menu_dropdown {
    border: 1px solid #ebebeb !important;
    max-height: 500px;
    transition: 0.1s;
    transition-delay: 0.1s;
}


/*--------head единый---------*/

.header_menu,.top_header {
    width: 100%;
}
.top_header {
    box-shadow: unset !important;
    padding: 10px;
}
.top_menu {
    padding-bottom: 23px;
}

a.top_menu_item {
    font-size: 19px !important;
    text-transform: capitalize !important;
}

.top_header {
    box-shadow: unset !important;
    border-bottom: 1px solid #EBEBEB;
}

button.btn.btn-primary {
    border: unset;
    padding: 7px;
}

button.button_down {
    padding: 7px;
}

/*лого*/

.top_header table tbody tr td:first-child {
    width: 330px;
    text-align: center;
}

td.top_menu {
    width: auto !important;
    background: transparent !important;
    text-align: left !important;
}

.top_header table {
    width: 100% !important;
}

td.top_menu {
    padding-bottom: 16px;
}

button.btn.btn-primary {
    border: unset;
    padding: 7px;
    background: #54b9e7;
}

button.button_down {
    padding: 7px;
    border-radius: 3px;
    margin-left: 5px;
    background: #54b9e7;
}


.list-users-home.pt-2+.pt-2 button.btn.btn-primary.btn-block:hover, a.nav-item.nav-link.active:hover, .card [onclick="$('#profile_viewers').toggle();"]:hover, a.page-link:hover, button.btn.btn-primary:hover, button.button_down:hover, div#ajax_status a:hover, button.btn.btn-outline-success:hover, button.navbar-toggler:hover {
    background: #8edcff !important;
    color: #fdfdfd !important;
}

button#newupdates:hover {
    background: transparent !important;
}


nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: unset;
    border-bottom: 1px solid #0000001a;
    padding-bottom: 0;
    padding-bottom: 0px !important;
}

button.btn.btn-outline-success {
    color: rgba(0, 0, 0, 0.5);
    border-color: #0000001a;
}

/*-------mob-------*/

div#mobile_menu {
    width: 80%;
    max-width: 300px;
}
div#mobile_photo img {
    width: 100px;
}
 div#mobile_photo+div {
    margin-bottom: 5px !important;
}
  .portal_spacer {
    display: none;
}

/*--------------*/


@media (max-width: 1024px) {
.top_header table tbody tr td:first-child {
    width: 240px;
}
.top_header button.btn.btn-primary {
    width: 60px;
    height: 38px;
}
.top_header button.btn.btn-primary:before {
    content: url(https://beon.vip/uploads_user/10000/9068/c0f97719d3b33901c5d82701055aec47.png);
    font-size: 18px;
    text-align: center;
    margin-left: -4px;
}
.top_header button.btn.btn-primary {
    font-size: 0;
}
a.he_quiz_take {
    margin: 0px !important;
    margin-top: 10px !important;
    min-width: 100px;
}
}



@media (max-width: 280px), (max-width: 480px), (max-width: 768px) {
[src="./images/logo_new.png"] {
    image-rendering: -webkit-optimize-contrast;
}
.page_header+br+ul.nav.nav-tabs {
    position: unset !important;
}
}


/*основной стиль тестов*/

.body {
    width: 100% !important;
    padding: 10px !important;
    padding-top: 75px !important;
}

.he_user_quiz {
    border: 1px solid #ebebeb !important;
    border-radius: 3px !important;
    background: transparent !important;
}

div.portal_content {
    border-color: #ebebeb !important;
}

.he_quiz_act a.he_quiz_take {
    background: #54b9e7 !important;
    border: unset !important;
    font-size: 14px !important;
    border-radius: 3px !important;
    color: #fdfdfd !important;
    font-weight: normal !important;
}

.he_user_quiz_name {
    border: unset !important;
    font-size: 16px !important;
}

.he_user_quiz_list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.he_user_quiz_list [style="float: left;"]+[style="float: left; width: 250px;"] {
    min-width: 330px;
}

.page_header {
    display: none;
}

.content {
    padding-top: 0 !important;
    position: relative;
}
.content br {
    display: none;
}

.header {
    background: #8bc34a !important;
    border-radius: 3px 3px 0 0;
    border: unset !important;
    color: white !important;
    text-align: center;
    font-weight: normal !important;
    padding: 3px !important;
}

.portal_spacer+.header {
    background: #3152ae !important;
}

.portal_content {
    padding: 10px !important;
    margin-bottom: 10px;
}

ul.he_quiz_cats {
    width: auto;
}

ul.he_quiz_cats li,
ul.he_quiz_cats{
    padding: 0 !important;
}

.he_quiz_cats li.active {
    border: unset !important;
    background: #54b9e7 !important;
    border-radius: 3px !important;
}

.he_quiz_cats li.active a {
    color: #fdfdfd !important;
}

.he_user_quiz_list [style="float: left;"] {
    width: 100%;
    margin-left: 10px;
}

.he_quiz_act1 {
    float: right;
}

ul.nav.nav-tabs {
    border: unset;
}

ul.nav.nav-tabs {
    position: absolute;
    top: 0;
    left: 340px;
    width: calc(70% - 340px);
}


.he_user_quiz_list [style="float: left;"] {
    width: 100%;
    margin-left: 10px;
    margin-top: 35px;
}

ul.nav.nav-tabs li.nav-item, ul.nav.nav-tabs a.nav-link.active {
    border-radius: 3px;
    border: unset !important;
}

a.nav-link.active {
    background: #54b9e7 !important;
    color: white !important;
}

a.nav-link:hover {
    background: #8edcff;
    color: white;
}

.nav-tabs .nav-link {
    border: unset;
}

.he_user_quiz_thumb img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: unset;
}

.he_user_quiz_thumb {
    width: 100px !important;
    height: 100px !important;
}

.he_user_quiz_takes a {
    display: block;
}

ul.he_quiz_cats a {
    color: #212529;
    font-weight: normal;
}

ul.he_quiz_cats li {
    padding: 3px !important;
    height: auto;
}

/*Недавно прошли*/

.portal_content+.portal_spacer+.header+.portal_content img.photo {
    border: unset;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.portal_content+.portal_spacer+.header+.portal_content [style="padding-left: 60px;"] {
    padding: 0 !important;
    padding-left: 20px !important;
    padding-bottom: 10px !important;
    display: grid;
}

.portal_content+.portal_spacer+.header+.portal_content [style="padding-left: 60px;"] img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
}

.portal_action_date {
    font-size: 12px;
}

.portal_content+.portal_spacer+.header+.portal_content [style="padding-left: 60px;"] [href^="https://beon.vip/"]:before {
    content: url(https://beon.vip/uploads_user/10000/9068/0518999fba0117c71dd497398b1dbfec.png);
    margin-right: 3px;
}

.he_user_quiz_content,.he_user_quiz_name {
    width: auto;
}

.he_user_quiz_name {
    font-weight: normal;
    font-size: 14px;
}


/*кнопки*/

a.active,.paging a {
    background: #54b9e7 !important;
    border-radius: 3px;
    color: white !important;
    border: unset !important;
}

a.active {
    background: #8edcff !important;
}

.show_menu.header-orange {
    background: #f36639;
    text-align: center;
    border-radius: 3px;
}


/*--------MEDIA-------*/


@media (max-width: 1024px) {
#righthome {
    padding-top: 0 !important;
}
.he_user_quiz_list [style="float: left;"]+[style="float: left; width: 250px;"],
div#lefthome {
    min-width: 240px !important;
}
ul.nav.nav-tabs {
    left: 250px;
    width: auto;
}
ul.nav.nav-tabs {
    position: unset;
}
.page_header+br+ul.nav.nav-tabs {
    left: 250px;
    top: 0;
}
.page_header+br+ul.nav.nav-tabs {
    position: absolute;
}
}


/*----------------------smart--------------------*/


@media (max-width: 280px), (max-width: 480px), (max-width: 768px) {
.he_user_quiz_list {
    flex-direction: column;
}
ul.nav.nav-tabs {
    position: unset;
    width: 100%;
}
.he_user_quiz_list [style="float: left;"]+[style="float: left; width: 250px;"] {
    min-width: 100% !important;
    width: 100% !important;
}
  .he_user_quiz_list [style="float: left;"] {
    margin: auto;
}
a.he_quiz_take {
    margin: 0px !important;
    margin-top: 10px !important;
    min-width: 100px;
}
div#righthome {
    padding-top: 0 !important;
}
div#lefthome {
    min-width: 100%;
}
}


/*основной стиль создания тестов*/

/*общий с главной*/



div#lefthome {
    min-width: 330px;
}

.body {
    width: 100% !important;
    padding: 10px !important;
    padding-top: 75px !important;
}

.card {
    border: unset !important;
    margin-bottom: 10px;
}

div#lefthome .card-body {
    border-radius: 0 0 3px 3px !important;
    border: 1px solid #00000020 !important;
}

.card-header {
    text-align: center;
    border-radius: 3px 3px 0 0 !important;
}

.card-header.header-orange {
    background: #f36639;
}

.card-header.header-green {
    background: #3152ae;
}

div#lefthome .card-body {
    padding: 10px;
    padding: 10px !important;
}

/*-------------*/


div#righthome .he_user_quiz_list {
    display: block;
}

.button [href="quiz_general.php"] {
    display: none;
}

div#righthome {
    padding-top: 25px;
}

div#content_flex {
    margin-top: 10px;
}

.he_user_quiz_name {
    font-weight: bold;
}

/*кнопки*/

.he_tab_act a,.he_step_tab span {
    background: #54b9e7 !important;
    border-radius: 3px !important;
    padding: 3px !important;
    color: aliceblue !important;
    font-weight: normal !important;
    border: unset !important;
}

.he_step_tab span {
    filter: grayscale(1);
}

/*-------------*/

table.quiz_tbl {
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

table.quiz_tbl th {
    background: #ffffff !important;
    text-align: center !important;
    font-weight: 500 !important;
    font-size: 15px !important;
}

.quiz_tbl tbody td {
    background: transparent !important;
}

table.quiz_tbl th {
    background: #ffffff !important;
    text-align: center !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    border: unset !important;
    border-bottom: 1px solid #ebebeb !important;
}

table.quiz_tbl label {
    font-weight: 500 !important;
}

table.quiz_tbl input.text,select {
    border: 1px solid #ced4da !important;
    border-radius: 3px !important;
}

.he_step_tab.he_tab_act {
    margin: 0px !important;
}


.portal_content {
    border-radius: 0 0 3px 3px;
}

a.he_quiz_take:hover {
    background: #8edcff !important;
}

ul.he_quiz_cats li a:hover {
    color: #4f91d4;
    text-decoration: unset;
}

/*результат*/

.he_quiz_take_cont input.button {
    background: #54b9e7;
    font-size: 14px;
    border-radius: 3px;
    border: unset;
    color: white;
    padding: 3px;
    margin-bottom: 6px;
}

.he_quiz_take_cont a.he_quiz_take {
    margin: 0px;
    margin-bottom: 6px !important;
}


.he_quiz_browse_results table.quiz_tbl th {
    text-align: left !important;
}

.he_quiz_browse_results table.quiz_tbl {
    border: unset !important;
}

.he_quiz_browse_results table.quiz_tbl thead tr th {
    border: 1px solid #ebebeb !important;
    border-radius: 3px;
}

.he_quiz_user_result img.photo {
    border: unset;
}


.he_quiz_list_tabs {
    border: unset !important;
}

.he_quiz_user_result img.cur_user_result {
    box-shadow: 0 0 0 1px #00b6ff;
}

.he_quiz_list_tabs {
    border: unset;
    margin-top: 15px;
}

.he_quiz_list_tabs a {
    background: #54b9e7 !important;
    border: unset !important;
    font-weight: 400 !important;
    color: white;
    border-radius: 3px;
}

.he_quiz_browse_results .he_quiz_browse_result {
    margin: 0px !important;
    margin-top: 10px !important;
    margin-bottom: 70px !important;
}

.he_quiz_header {
    font-size: 20px !important;
}

.he_quiz_user_result img.photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.he_quiz_user_result {
    width: 110px !important;
    margin-bottom: 30px;
}

.he_quiz_user_result {
    overflow-wrap: break-word;
    font-size: 12px;
}



/*дисплей нон кнопок дублей*/

[onclick^="$$('.he_quiz_browse_comments')"] {
    display: none !important;
}


 [onclick^="$$('.he_quiz_browse_results')"] {
    padding: 3px !important;
    text-align: center;
}


.he_quiz_header a.he_quiz_take, .he_quiz_header input.button,
 [onclick^="$$('.he_quiz_browse_results')"]{
    min-width: 180px;
}

.he_quiz_list_tabs {
    margin-top: 0px;
}

.he_quiz_header {
    margin-bottom: 10px;
}

@media (max-width: 280px), (max-width: 480px), (max-width: 768px) {
.he_quiz_take_cont {
    float: left !important;
}
.he_quiz_header {
    margin-bottom: 0px;
}
}


table.quiz_tbl td {
    padding: 0 !important;
    padding-top: 10px !important;
}

.he_step_tab.he_tab_act {
    margin-right: 5px !important;
}

.he_quiz_browse_result .quiz_tbl thead th .d br {
    display: unset;
}


/*img test*/

.he_quiz_browse_result .quiz_tbl thead th .d img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
}

/*-------------МОДАЛКА ALL-----------*/

.modal-content {
    border-radius: 3px;
    border: 1px solid #bebebe;
}

.modal-header {
    padding: 10px;
}

.modal-footer {
    padding: 10px;
}

.modal-body {
    padding: 10px;
}


.button.profile_button,.button.report_button,.button.add_quote_button,.button.edit_button,.button.fix_button,.button.delete_button {
    font-weight: 500;
}

button.btn.btn-secondary {
    background: #54b9e7;
    border: unset;
    border-radius: 3px;
}


h5.modal-title {
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    width: 100%;
    text-align: center;
}


.modal-header {
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
}

.modal-footer {
    border: unset;
    padding: 5px;
    border-top: 1px solid #ebebeb;
}

button.btn.btn-secondary {
    background: #54b9e7;
    border: unset;
    border-radius: 3px;
}

[src="./images/icons/action_delete2.gif"]2 {
    content: url(https://www.svgrepo.com/show/405158/cross-mark.svg);
    width: 11px;
    height: 14px;
}

button.close {
    padding-left: 0px !important;
}

.modal-footer {
    display: none;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    border-bottom: 1px solid #e4e4e4 !important;
}

/*----25.05.23----*/

span#notify_total {
    height: 38px;
    line-height: 3.2;
    min-width: 38px;
    font-weight: normal;
    margin-right: 4px;
    margin-top: -5px;
}

button#newupdates {
    padding: 5px;
}

@media (max-width: 280px),(max-width: 480px),(max-width: 768px) {
span#notify_total {
    height: unset;
    margin-top: unset;
    line-height: normal;
    min-width: unset;
    font-weight: unset;
    width: 20px;
    height: 20px;
}
button#newupdates {
    padding: 0px;
    margin: 0px;
}
}


span#notify_total {
    background: #adadad;
}

.updatesDelete a {
    color: #f44336;
}

a.nav-link {
    background: #e9ecef;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #6c7376;
    border-radius: 3px;
}

img.photo {
    border: unset;
}

/*---NEW шапка в моб версии-----*/


@media (max-width: 280px), (max-width: 480px), (max-width: 768px) {

[src="./images/logo_new.png"] {
    height: 40px;
    width: auto;
    image-rendering: unset;
}
[src="/images/notify.svg"] {
    width: 20px;
    opacity: 0.8;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    padding-left: 5px;
    padding-right: 5px;
}

button.navbar-toggler {
    padding-left: 5px;
    padding-right: 5px;
}
    
button.btn.btn-outline-success {
    height: 40px;
    font-size: 0px;
    padding: 0px;
    width: 40px;
    border: unset;
}

button.btn.btn-outline-success:before {
    content: '';
    width: 40px;
    height: 38px;
    display: block;
    background: url(https://img.icons8.com/?size=32&id=15814&format=png) no-repeat center / 28px;
    opacity: 0.3;
}

button.navbar-toggler {
    border: unset;
    padding: 5px;
}

button.navbar-toggler,
button.navbar-toggler:hover{
    background: url(https://img.icons8.com/?size=64&id=X5Y6bMrffncp&format=png) no-repeat center / 32px !important;
    opacity: 0.3;
}

span.navbar-toggler-icon {
    background: transparent !important;
}
button.btn.btn-outline-success:hover {
    background: transparent !important;
}

[src="./images/logo_new.png"] {
    height: 28px;
}

span#notify_total1 {
    background: #f36639;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    padding: 5px !important;
}
.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: unset !important;
}
button.navbar-toggler:focus {
    outline: unset !important;
}
/*-----tests-----*/
    
 [style="padding: 10px; text-align: center; margin-top: 10px;"] {
    padding: 0px !important;
    margin: 0px !important;
}
}


/*----------УБРАТЬ АУТЛАЙН С КНОПОК ФОКУСА-------*/

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus,
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled){
    outline: unset;
}

/*-----------------------*/

/*----------------*/

div.menu_item_dropdown a {
    transition: 0.1s;
    transition-delay: 0.1s;
}
div.menu_item_dropdown a:hover {
    background: #7f7f7f29 !important;
    transition-delay: 0s;
}

/*---ОСЕННЕЕ ЛОГО---*/

[src="./images/logo_new2.png"] {
    content: url(https://beon.vip/uploads_user/10000/9068/6ae6465181f9270bbcf291c58277e4d3.png);
}

/*---ЗИМНЕЕ ЛОГО---*/

[src="./images/logo_new2.png"] {
    content: url(https://beon.vip/uploads_image/1c/65/1c65abed0129a6f94851b9a1777399bc.png);
}

.show_menu.header-orange {
    background: #54b9e7;
    text-align: center;
    line-height: 2;
    font-size: 16px;
}

