@import url('https://AstralSnake.github.io/Sti.css');


input#comment_secure {
    background: #3a3a3a !important;
}

img#secure_image {
    filter: contrast(0);
}

.profile_comment_body {
    padding: 5px !important;
}

blockquote.blockquote {
    margin: 0px;
    background: #202020;
    padding: 0px;
    padding-left: 5px;
    font-size: 10px !important;
    letter-spacing: 1px;
}

div#postcomment_userphotos {
    height: 200px;
}



.copyright,
[src="/images/verify.png"] {
    display: none;
}

input#comment_submit {
    background: #3a3a3a;
}

* {
    border: unset !important;
}

textarea#comment_body {
    background: #3a3a3a;
    color: white !important;
}

.profile_postcomment,div#postcomment_userphotos,img.img-thumbnail,profile_comment_author  {
    padding: 0px !important;
}

.comment_headline {
    padding: 3px;
    font-size: 11px;
}

img.photo {
    border: none;
}

.top_header {
    position: relative !important;
    width: 100%;
    z-index: 99999;
    background: #28282899;
}

body * {
    color: #dbdbdb !important;
}
body {
    background: #282828;
}

.post_container .post_text img,div.profile_comment_body img {
    max-width: 100% !important;
}

.content {
    margin-left: 65% !important;
    width: 36% !important;
}

div#lefthome {
    display: none;
}

.profile_comment_links {
    color: transparent !important;
    font-size: 4px;
}

.profile_comment_links * {
    color: #646464 !important;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

div#user_status {
    display: none;
}

.profile_comment_author b {
    font-size: 11px;
    letter-spacing: 2px;
    color: #8f8f8f !important;
}

.seBlogComments [valign="top"] * {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px !important;
    padding-right: 8px !important;
    font-weight: unset;
}

[id^="comment_"]+[style="text-align: center;"] *,
.profile_comment_date {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #646464 !important;
}





/*================================================*/

/*UPD*/


table.body {
    padding: 0;
}

img.menu_icon2 {
    filter: grayscale(1);
}

div.menu_dropdown {
    background: #1c1c1c !important;
    border-radius: unset !important;
}
div.menu_dropdown a {
    background: transparent !important;
    font-size: 10px !important;
}

div.menu_dropdown a {
    background: transparent !important;
}

[src="/images/notify.svg"] {
    width: 21px;
}

button.button_down {
    background: transparent;
    filter: contrast(0);
}

button.btn.btn-primary {
    padding: 0px;
    background: #282828;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -4px;
}

.top_header {
    background: #1c1c1c;
    padding: 0px;
    height: 44px;
    border: 1px
 outset #323232 !important;
}

td.top_menu {
    padding: 0;
    padding-top: 5px;
}

.top_header {
    height: 44px;
}

.top_header * {
    font-size: 14px !important;
    text-transform: uppercase;
}

[href="./"]:before {
    content: 'Beon';
    font-size: 14px;
    display: block;
    margin-top: -35px;
    height: 30px;
}

[src="./images/logo_new.png"] {
    display: none;
}


.top_header {
    background: #1c1c1c;
    padding: 0px;
}

.post_text.pl-3 {
    padding-left: 5px !important;
}

[onclick^="newmessage"] {
    display: none !important;
}






@media (max-width: 1024px) {

.content {
    margin-left: 65% !important;
    width: 36% !important;
}

div#postcomment_userphotos {
    max-height: 100px !important;
}
div#bbcode {
    text-align: left !important;
}
.post_image a img,img.photo {
    max-width: 62px !important;
    max-height: 62px !important;
    object-fit: cover !important;
}

.post_image,
.seBlogComments [style="float: left; text-align: center; width: 110px;"] {
    max-width: 62px !important;
}

.profile_comment_author {
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div#designs {
    font-size: 13px;
    height: 20px !important;
    width: 70px;
}
}



/*СКРОЛЛ*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #1c1c1c;
}



