span.emj-dropdown {
    padding: 0px;
}

span.emj-dropdown [src="//beon.fun/i/smiles/kolobok/smile3.gif"] {
    background: url(https://beon.vip/uploads_image/37/e3/37e3975abfb445d77ab4622de3a0a59d.jpg) no-repeat center;
    background-size: contain;
    padding: 16px;
    width: 0px;
}

.emj-dropdown-content {
    width: 400px !important;
    height: 260px;
    padding: 5px;
    overflow: auto;
}


.comment-text [src^="//beon.fun/i/smiles/kolobok/"] {
    background-size: contain;
    padding: 100px;
    width: 0px;
}

.emj-dropdown-content [src^="//beon.fun/i/smiles/kolobok/"] {
    padding: 35px;
    width: 0px;
    display: none;
    background-size: cover;
}

.emj-dropdown-content a {
    padding: 0px;
}

[src="//beon.fun/i/smiles/kolobok/acute.gif"] {background: url(https://beon.vip/uploads_image/49/1f/491fa79243d6ef49202b7efd33076189.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/cray2.gif"] {background: url(https://beon.vip/uploads_image/b7/d1/b7d1f5eb4ac8802310ca2b0415a0ea3a.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/ok.gif"] {background: url(https://beon.vip/uploads_image/e0/38/e038cb982066ad0e72d1367a209b6f76.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/aggressive.gif"] {background: url(https://beon.vip/uploads_image/ab/6a/ab6af501929846fe3ea882bb9a261148.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/agree.gif"] {background: url(https://beon.vip/uploads_image/e5/25/e52544c379b32928575572e14fc21f5b.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/crazy.gif"] {background: url(https://beon.vip/uploads_image/2b/04/2b042dde786fe0898d4eebfdcacc6dc3.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/beee.gif"] {background: url(https://beon.vip/uploads_image/2b/aa/2baaf5d52e81b6ff3ef2f91ac8fd46c9.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/gamer1.gif"] {background: url(https://beon.vip/uploads_image/2e/75/2e75c84274949b6ef7b4e6775293c602.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/boast.gif"] {background: url(https://beon.vip/uploads_image/9f/92/9f92621a509e0097e1dcc0499e1d8213.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/bb.gif"] {background: url(https://beon.vip/uploads_image/9f/92/9f92621a509e0097e1dcc0499e1d8213.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/boredom.gif"] {background: url(https://beon.vip/uploads_image/55/66/5566174ef215d8dce78ab79476e5903b.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/buba.gif"] {background: url(https://beon.vip/uploads_image/d2/7a/d27a3516d05d10f4bb20e11b5b4f88ef.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/clapping.gif"] {background: url(https://beon.vip/uploads_image/e0/0a/e00a5450b42f118ef839de8b2bc58b5e.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/fool.gif"] {background: url(https://beon.vip/uploads_image/7f/31/7f310b494250b2c3eb2fc8ab3ff45a80.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/dance.gif"] {background: url(https://beon.vip/uploads_image/c9/08/c9086e0301bbb5d2d44b74a4045e9f45.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/declare.gif"] {background: url(https://beon.vip/uploads_image/1b/3d/1b3dd240849f6b7002c2a4b1129e28fb.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/derisive.gif"] {background: url(https://beon.vip/uploads_image/fc/a4/fca4147df4a20fc86070e335e519df4b.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/diablo.gif"] {background: url(https://beon.vip/uploads_image/7f/ee/7feec7d8d526021e0b2c686988f42d16.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/dirol.gif"] {background: url(https://beon.vip/uploads_image/7c/73/7c734e8008b8f9ba674d3d8192cf4f25.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/dntknw.gif"] {background: url(https://beon.vip/uploads_image/6e/a4/6ea4f067d6992d637075171fd3d1c42a.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/don-t_mention.gif"] {background: url(https://beon.vip/uploads_image/aa/e6/aae609c21216e037c625f88c06615b60.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/facepalm.gif"] {background: url(https://beon.vip/uploads_image/e9/90/e9908488f1065844962a70dd29b8b25c.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/good.gif"] {background: url(https://beon.vip/uploads_image/aa/e4/aae49f8178b4d878c0fc655cb68a00d9.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/grin.gif"] {background: url(https://beon.vip/uploads_image/37/e3/37e3975abfb445d77ab4622de3a0a59d.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/nea.gif"] {background: url(https://beon.vip/uploads_image/f4/cb/f4cba2d0be4f86c11a2c02c9aaf7046a.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/i-m_so_happy.gif"] {background: url(https://beon.vip/uploads_image/40/93/40937d535e05076b3c911a17634e4697.jpg) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/laugh2.gif"] {background: url(https://sdl-stickershop.line.naver.jp/products/0/0/1/1328467/android/stickers/13241483.png;compress=true) no-repeat center;
display: block !important;}
[src="//beon.fun/i/smiles/kolobok/lazy2.gif"] {background: url(https://beon.vip/uploads_image/1f/17/1f17ccc0e009d8f2feb5a1fa7c0ced02.jpg) no-repeat center;
display: block !important;}

/*---------------------*/

[onclick="addKlbk('air_kiss')"],
[onclick="addKlbk('angel')"],
[onclick="addKlbk('bad')"],
[onclick="addKlbk('alcoholic')"],
[onclick="addKlbk('black_eye')"],
[onclick="addKlbk('blum3')"],
[onclick="addKlbk('blush2')"],
[onclick="addKlbk('censored')"],
[onclick="addKlbk('crazy_pilot')"],
[onclick="addKlbk('dance')"],
[onclick="addKlbk('dance4')"],
[onclick="addKlbk('dash1')"],
[onclick="addKlbk('download')"],
[onclick="addKlbk('drag')"],
[onclick="addKlbk('drinks')"],
[onclick="addKlbk('focus')"],
[onclick="addKlbk('friends')"],
[onclick="addKlbk('girl_hospital')"],
[onclick="addKlbk('hang2')"],
[onclick="addKlbk('heat')"],
[onclick="addKlbk('help')"],
[onclick="addKlbk('hi')"],
[onclick="addKlbk('hunter')"],
[onclick="addKlbk('dance2')"],
[onclick="addKlbk('mail1')"],
[onclick="addKlbk('man_in_love')"],
[onclick="addKlbk('mda')"],
[onclick="addKlbk('meeting')"],
[onclick="addKlbk('mosking')"],
[onclick="addKlbk('music')"],
[onclick="addKlbk('negative')"],
[onclick="addKlbk('no2')"],
[onclick="addKlbk('not_i')"],
[onclick="addKlbk('nyam')"],
[onclick="addKlbk('offtopic')"],
[onclick="addKlbk('pardon')"],
[onclick="addKlbk('party')"],
[onclick="addKlbk('pleasantry')"],
[onclick="addKlbk('polling')"],
[onclick="addKlbk('pooh_door')"],
[onclick="addKlbk('popcorm1')"],
[onclick="addKlbk('preved')"],
[onclick="addKlbk('punish')"],
[onclick="addKlbk('read')"] {
    display: none !important;
}
