@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=PT+Mono&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=PT+Mono&family=Pangolin&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kelly+Slab&family=PT+Mono&family=Pangolin&family=Roboto+Slab:wght@100..900&display=swap');

@font-face{font-family:'cappuccicons';src:url('//source.cappuccicons.com/cappuccicons.eot');src:url('//source.cappuccicons.com/cappuccicons.eot#iefix') format('embedded-opentype'), url('//source.cappuccicons.com/cappuccicons.ttf') format('truetype'), url('//source.cappuccicons.com/cappuccicons.woff') format('woff'), url('//source.cappuccicons.com/cappuccicons.svg#cappuccicons') format('svg');font-weight:normal;font-style:normal;font-display:block;}



/*

font-family: "Comfortaa", sans-serif;
font-family: "Caveat", cursive;
font-family: "Alegreya Sans SC", sans-serif;

font-family: "Roboto Slab", serif;
font-family: "PT Mono", monospace;
font-family: "Pangolin", cursive;
font-family: "Kelly Slab", sans-serif;

*/

.card.mb-2.post_home:has([href="https://beon.vip/you/blog/&category_id=8014"]) {
    display: none !important;
}

[src="https://beon.vip/uploads_user/10000/9068/c3eccad64610d73eaef7c6d7688a7ca7.gif"] {
    width: 70px !important;
    filter: grayscale(1) sepia(0.3) brightness(0.9);
    opacity: 0;
}


[src="/images/verify.png"] {
    filter: invert(1) hue-rotate(-14deg) brightness(0.6) saturate(0.8) !important;
}

.blog_leftphoto img {
    content: url(https://i2.beon.fun/communities/17/172/profile/avaw.png);
}

h6.card-subtitle.mb-2.text-muted.post_date [href="https://beon.vip/you/"]:after,
.profile_comment_author [href="https://beon.vip/you/"] :after {
    content: url(https://oort.beon.fun/i/flags/us.gif);
    margin-left: 4px;
}

div#entry_main {
    display: none !important;
}


[onclick^="more_menu"]:before {
    display: block;
    line-height: 2.5;
    width: 20px;
}

body {
    font-family: "Pangolin", cursive;
}

div#lefthome,h2.card-title,h6.card-subtitle.mb-2.text-muted.post_date {
    font-family: "Kelly Slab", sans-serif;
}


div#righthome {
    overflow: visible;
}

.content {
    padding: 20px !important;
}

[style="padding: 10px; text-align: center; margin-top: 10px;"] {
    margin: 0px !important;
    padding: 0px !important;
}

.seBlogComments .profile_comment_author [href="https://beon.vip/you/"]:after, div#lefthome .portal_spacer+.card [href="https://beon.vip/you/"]:after, .blog_leftprofile [href="https://beon.vip/you/blog/"]:after {
    display: none;
}









body {
    background: url(https://i.ibb.co/fxSZsSP/c2.png) no-repeat right center fixed, url(https://i.ibb.co/jVXb8yb/c2-z.png);
    background-size: contain,auto;
    background-color: #e8e9d5;
    background-blend-mode: luminosity;
}

.content {
    background: url(https://www.transparenttextures.com/patterns/concrete-wall.png) fixed;
}

.top_header {
    display: none;
}


div#righthome {
    width: calc(100% - 600px);
    margin-right: 28%;
}

div#lefthome {
    border: unset !important;
    overflow: visible;
    position: sticky;
    top: 20%;
    width: 40%;
    height: max-content;
}

.seBlogColumnRightPadding, div#lefthome:before {
    max-width: 320px;
    margin: auto;
    margin-bottom: 5px !important;
}


div#lefthome:before {
    content: '';
    display: block;
    width: 100%;
    height: 170px;
    margin: auto;
    background: url(https://i.ibb.co/C80Ds2L/usa3.png) no-repeat center;
    background-color: #0d0d00;
    background-size: auto;
    border: 2px solid #0d0d00;
}

.blog_leftphoto img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    margin-top: -55px;
    margin-bottom: 20px;
}


.blog_leftprofile {
    display: none;
}

div#lefthome div {
    border: unset !important;
}

.card-header {
    display: none;
}

.card.group_members {
    display: none;
}

li.p-1 {
    display: block;
    padding: 0px !important;
}

li.p-1 a,.card.blog_categories a {
    background: #0d0d00;
    margin-bottom: 8px;
    padding: 0;
    display: block;
    color: #db9810 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 0.8;
    padding-top: 1px;
    font-weight: 400;
    font-size: 25px;
    width: fit-content;
}


[href*="fromgroup"],
[href*="suggest"],
[onclick^="TB_show('Пригласить новых участников'"],
[href^="javascript:TB_show('Подписаться на группу'"],
[href^="/user_group_edit.php?group_id"]{
    display: none !important;
}

.group_desc {
    display: none;
}


ul.seBlogCategoryList a {
    font-size: 15px !important;
}

.blog_leftsearch input[type="text"] {
    margin: 0px !important;
    border: 2px solid #0d0d00;
    padding: 5px;
    box-shadow: 7px 7px #f0f0eabd;
    background: #0d0d00;
    border-radius: unset;
    text-align: left;
    color: #d8d9c5;
    width: calc(100% - 5px);
    height: 41px;
}

::placeholder {
    color: #f0f0eabd;
    font-size: 15px;
}

.blog_leftsearch tr:after {
    content: 'Поиск';
    margin: 0px !important;
    border: 2px solid #0d0d00;
    padding: 5px;
    background: #602020;
    color: #e7e8d4;
    text-transform: uppercase;
    display: block;
    height: 41px;
    line-height: 2;
    text-align: center;
}

div#lefthome .card {
    margin: 0px !important;
}

.card-body,.blog_leftphoto {
    padding: 0px !important;
}

table.body {
    padding: 0px !important;
}


.card.mb-2.post_home:first-child {
    margin: 0px !important;
    padding: 5px;
    margin-bottom: 20px !important;
    padding-left: 10px;
    background: url(https://i.ibb.co/hfksGM2/b5.png) no-repeat top -50px right;
    background-color: #f0f0eabd;
    background-size: 240px;
    color: #0d0d00;
    outline: 2px dashed #0d0d00;
}


.card.mb-2.post_home {
    margin: 0px !important;
    padding: 5px;
    margin-bottom: 20px !important;
    padding-left: 10px;
    background: url(https://i.ibb.co/hfksGM2/b5.png) no-repeat top -50px right;
    background-color: #f0f0eabd;
    background-size: 240px;
    color: #0d0d00;
    outline: 2px dashed #0d0d00;
}

.card.mb-2.post_home h6.card-subtitle.mb-2.text-muted.post_date,
.additional_info.pl-3 *,
.post_data *:before,
.like_button.liked+span{
    color: #0d0d00 !important;
}

div#user_status,.blog_user_status {
    color: #777866 !important;
}


.card.mb-2.post_home+.card.mb-2.post_home {
    margin: 0px !important;
    padding: 5px;
    margin-bottom: 20px !important;
    background: #0d0d00;
    padding-left: 10px;
    color: #e6e7d3;
    outline: unset;
}

h2.card-title a, h6.card-subtitle.mb-2.text-muted.post_date a {
    color: #913434;
}

.card.mb-2.post_home+.card.mb-2.post_home h6.card-subtitle.mb-2.text-muted.post_date,
.card.mb-2.post_home+.card.mb-2.post_home div#user_status,
.card.mb-2.post_home+.card.mb-2.post_home .blog_user_status,
.card.mb-2.post_home+.card.mb-2.post_home .additional_info.pl-3 *,
.card.mb-2.post_home+.card.mb-2.post_home .post_data *:before {
    color: #d9dac68f !important;
}




.additional_info.pl-3 *,
.post_data *:before,
.profile_comment_links *,
.profile_comment_links *:before{
    font-size: 0.75rem;
}

span.card-text a,.profile_comment_author b,.profile_comment_body a {
    color: #913434;
}

.card-link.post_likes {
    line-height: 2.5;
}

.seBlogComments .card-link.post_likes {
    line-height: 1.5;
}

.like_button.liked:before {
    text-shadow: 0px 0px #0d0d00;
}

div#user_status,.blog_user_status {
    font-size: 10px;
}

span.card-text strong {
    color: #913434;
    font-size: 0.7em;
}


div[id^="comment_"]:not(div#comment_subscribe) {
    min-height: auto;
    margin: 0px !important;
    padding: 5px;
    margin-bottom: 20px !important;
    background: #0d0d00;
    padding-left: 10px;
    color: #e6e7d3;
}

blockquote.blockquote {
    background: #616345;
    color: #0d0d00;
    border: unset;
    margin: 0px;
    font-size: 14px !important;
}


.profile_comment_date {
    color: #777866 !important;
}

a:hover {
    text-decoration: unset !important;
}
.profile_comment_date {
    font-size: 11px !important;
}

div.profile_comment_body {
    min-height: 100px;
}

div[id^="comment_"]:not(div#comment_subscribe) div {
    margin: 0px !important;
}

.seBlogComments .profile_comment_links *,
.seBlogComments .profile_comment_links *:before,
.seBlogComments .like_button.liked+span {
    color: #525435 !important;
}


.profile_comment_date {
    line-height: 2.3;
}


.profile_comment_author b {
    margin-right: 5px;
}

[id^="grouptopic_"][id$="_postcomment"], [id^="blog"][id$="_postcomment"] {
    background: url(https://i.ibb.co/WyPSW1q/k2r.png) no-repeat bottom right;
    background-color: #0d0d00;
    color: #c98c0f;
}


.comment_headline,.profile_postcomment {
    border: unset !important;
}

textarea#comment_body {
    background: #e2e3cf;
    border: unset !important;
    border-radius: unset;
    color: #0d0d00;
}

textarea#comment_body::placeholder {
    color: transparent;
}

input#comment_submit,button.btn.btn-secondary {
    margin: 0px !important;
    border: 2px solid #0d0d00;
    padding: 5px;
    background: #602020;
    color: #e7e8d4;
    text-transform: uppercase;
    border-radius: unset !important;
}

input#comment_submit:hover,button.btn.btn-secondary:hover {
    background: #0d0d00 !important;
}

input#comment_submit {
    width: auto;
}

[onclick^="subscribe"]:before {
    color: #c98c0f;
}

div#bbcode [src^="/images/bbcode/"] {
    border-radius: unset;
    background-color: #c98c0f;
}


/*----СКРОЛЛ----*/


::-webkit-scrollbar {
    width: 20px;
    background: #e4e5d1;
    border: aliceblue;
}

::-webkit-scrollbar-thumb {
    background-color: #0d0d00;
    border: 4px solid #e6e7d3;
}

div#postcomment_userphotos::-webkit-scrollbar {
    width: 10px;
    background: #e4e5d1;
    border: aliceblue;
}

div#postcomment_userphotos::-webkit-scrollbar-thumb {
    background-color: #0d0d00;
    border: 2px solid #e6e7d3;
}

/*----END----*/


.userphoto_selected img.img-thumbnail {
    outline: 3px solid #c98c0f;
    outline-offset: -3px;
}

.userphoto_selected img.img-thumbnail {
    border-radius: unset;
}






/*------------------------------разобрать*/

/*-----ШАПКА-----*/

.top_header {
    background: #e09520;
    border: unset;
    display: block;
    top: 0;
    left: 0px;
    width: 100%;
    height: 44px;
    right: 0;
    bottom: 0;
    z-index: 222 !important;
    opacity: 1;
}

.top_header {
    top: -90px;
}

[onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"] {
    bottom: -55px !important;
    right: 20px !important;
    left: unset !important;
    width: 30px !important;
    height: 30px !important;
    background-color: #0e39a7e6 !important;
}

.top_header:has(div#menu_main_dropdown[style="display: inline;"]) {
    top: 0px;
}

div#menu_main_dropdown>div {
    display: none;
}

.top_menu_link_container {
    display: block !important;
}



[onmouseover="showMenu('menu_dropdown_profile');"], [onmouseover="showMenu('menu_dropdown_blog');"], [onmouseover="showMenu('menu_dropdown_tests');"], [onmouseover="showMenu('menu_dropdown_groups');"], [onmouseover="showMenu('menu_dropdown_albums');"], [href="im.php"], [onmouseover="showMenu('menu_dropdown_albums');"], [onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"], [href="./"] {
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 50px;
    height: 50px;
    font-family: 'cappuccicons';
    color: #180207;
    text-align: center;
    text-decoration: unset !important;
}


[onmouseover="showMenu('menu_dropdown_profile');"] {
    bottom: 10px;
    left: 80px;
}

[onmouseover="showMenu('menu_dropdown_blog');"] {
    bottom: 10px;
    left: 140px;
}

[onmouseover="showMenu('menu_dropdown_tests');"] {
    bottom: 10px;
    left: 200px;
}


[onmouseover="showMenu('menu_dropdown_groups');"] {
    bottom: 10px;
    left: 260px;
}


[onmouseover="showMenu('menu_dropdown_albums');"] {
    bottom: 2px !important;
    left: 380px;
}

[href="im.php"] {
    bottom: 10px;
    left: 320px;
}


[onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"] {
    bottom: 10px;
    left: 440px;
}


[href="./"] {
    bottom: 10px;
    left: 20px;
}

b.top_header utton#newupdates, .top_header button.btn.btn-primary, .top_header button.button_down {
    background: transparent !important;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-family: 'cappuccicons';
    color: #180207;
    text-align: center;
    text-decoration: unset !important;
    border-radius: 0px;
}

.top_header button.btn.btn-primary {
    right: 80px;
    font-size: 0px;
    line-height: normal;
}




button#newupdates {
    right: 140px;
}


[src="./images/logo_new.png"] {
    display: none;
}

.top_header table tbody tr td:first-child {
    width: auto !important;
}

.top_header div.menu_dropdown {
    border: unset !important;
    padding: 0px;
}

.top_menu_link:hover div.menu_dropdown {
    border: unset !important;
}


.top_header a.top_menu_item {
    font-size: 0px !important;
}

.top_header a.top_menu_item:before, [href="./"]:before {
    content: '\ea26';
}


.top_header button.btn.btn-primary:before {
    content: '\e97b';
}

.top_header a.top_menu_item:before, [href="./"]:before,
.top_header button.btn.btn-primary:before {
    color: #5c86ed;
    font-size: 25px;
}


[onmouseover="showMenu('menu_dropdown_profile');"]:before {
    content: '\ecf0' !important;
}


[onmouseover="showMenu('menu_dropdown_blog');"]:before {
    content: '\eb0d' !important;
}

[onmouseover="showMenu('menu_dropdown_tests');"]:before {
    content: '\eaea' !important;
}


[onmouseover="showMenu('menu_dropdown_groups');"]:before {
    content: '\eaf9' !important;
}

[onmouseover="showMenu('menu_dropdown_albums');"]:before {
    content: '\e9ad' !important;
}

[href="im.php"]:before {
    content: '\ea88' !important;
}

[onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"]:before {
    content: '\e91a' !important;
    font-size: 20px !important;
    line-height: 2.5;
}

[href="./"]:before {
    content: '\eab7';
}


div.menu_dropdown {
    position: absolute;
    top: 0px;
    left: 20px;
    margin: 0px;
    padding-top: 10px !important;
}


div#menu_dropdown_profile {
    top: 70px;
    left: 80px;
}

div#menu_dropdown_blog {
    top: 70px;
    left: 140px;
}

div#menu_dropdown_tests {
    top: 70px;
    left: 200px;
}


div#menu_dropdown_groups {
    top: 70px;
    left: 260px;
}

div#menu_dropdown_albums {
    top: 70px;
    left: 380px;
}


[href="user_logout.php"] {
    display: none !important;
}

div.menu_dropdown {
    transition: unset !important;
}

img.menu_icon2 {
    display: none;
}

div.menu_item_dropdown a {
    background: #e09520;
    color: #0d0d00 !important;
    margin-bottom: 4px;
    font-size: 16px;
    text-transform: inherit;
}

div.menu_dropdown {
    background: transparent;
}


.top_header a.menu_item:hover {
    background: #973131 !important;
    color: #e6e7d3 !important;
}

.top_header a.menu_item {
    padding: 0px !important;
    line-height: 2.5;
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: center;
}


span#notify_total {
    position: absolute;
    left: -60px;
    border-radius: 0;
    width: 50px;
    height: 50px;
    bottom: 0px;
    line-height: 2;
    font-size: 20px;
    background: transparent;
    outline: unset;
    color: #2f271c;
    font-family: 'Sofia Sans', sans-serif;
}


div#menu_main_dropdown {
    border: unset;
}


[src="/images/notify.svg"],[src="/images/button_down.svg"] {
    width: 25px;
    filter: invert(50%) sepia(24%) saturate(1199%) hue-rotate(185deg) brightness(99%) contrast(99%);
}

[src="/images/button_down.svg"] {
    width: 30px;
}

/*----ШАПКА END----*/

/*----NEW шапка----*/

.top_header {
    border: unset;
    display: block;
    top: 0;
    left: 0px;
    width: 100%;
    height: 44px;
    right: 0;
    bottom: 0;
    z-index: 222 !important;
    opacity: 1;
}

div.menu_dropdown {
    top: 40px !important;
}

.top_header a,button#newupdates,button.btn.btn-primary,
.top_header button.btn.btn-primary,.top_header button.button_down {
    bottom: 0px;
}

[onmouseover="showMenu('menu_dropdown_profile');"], [onmouseover="showMenu('menu_dropdown_blog');"], [onmouseover="showMenu('menu_dropdown_tests');"], [onmouseover="showMenu('menu_dropdown_groups');"], [onmouseover="showMenu('menu_dropdown_albums');"], [href="im.php"], [onmouseover="showMenu('menu_dropdown_albums');"], [onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"], [href="./"] {
    height: 40px;
}



body .top_header {
    top: -90px;
}


body [onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"] {
    bottom: -96px !important;
    right: 0px !important;
    width: 50px !important;
    height: 50px !important;
    background-color: #e09520 !important;
    display: block;
    border-radius: 0 0 7px 7px;
}



[onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"] {
    display: none;
}


.top_header:has(div#menu_main_dropdown[style="display: inline;"]) [onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"] {
    bottom: -50px !important;
}

.top_header a.top_menu_item:before, [href="./"]:before, .top_header button.btn.btn-primary:before {
    color: #0d0d00;
    font-size: 25px;
}

[src="/images/notify.svg"], [src="/images/button_down.svg"] {
    filter: brightness(0);
}

table.body {
    padding-top: 30px !important;
}

div.top_menu_link {
    padding: 0px !important;
}

[href="./"]:after {
    content: '';
    font-size: 0;
    background: url(https://www.svgrepo.com/show/512958/target-82.svg) no-repeat center / 30px;
    background-color: #973131;
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 65px;
    top: 0;
    border-radius: 0 0 7px 7px;
}

.top_header:has(div#menu_main_dropdown[style="display: inline;"]) [href="./"]:after {
    top: 44px !important;
}

span#notify_total {
    font-size: 19px;
    line-height: 2;
    background-color: #e09520;
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 125px;
    top: 5px;
    border-radius: 0 0 7px 7px;
    left: unset;
    color: #0d0d00;
}


.top_header:has(div#menu_main_dropdown[style="display: inline;"]) span#notify_total {
    top: 49px !important;
}



/*-----------------------------*/



.modal-content {
    background: url(https://i.ibb.co/jVXb8yb/c2-z.png);
    border-radius: unset;
    border: 2px solid black;
}


.modal-header,.modal-footer {
    border: unset;
}

.updatesWrap *,.modal-content a {
    color: black !important;
}



/*-----МЕДИА--------*/

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    border: unset !important;
    background: transparent;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu button.btn.btn-outline-success.mr-1.mobile_button,
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu button.btn.btn-outline-success{
    font-size: 0;
    border: unset;
}

button.navbar-toggler {
    border: unset;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu [href="./"]:before,
[src="/images/notify.svg"]{
    display: none;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu a {
    font-size: 0 !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu span#notify_total {
    top: 5px;
}


nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu button.navbar-toggler,
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu button.btn.btn-outline-success:before {
    display: block;
    background-color: #e09520 !important;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 0 0 7px 7px;
    opacity: 1;
}


.show_menu.header-orange {
    text-align: center;
    font-weight: normal !important;
    background: #973131 !important;
    color: #dfe0cd !important;
    line-height: 2;
    border-radius: unset;
    font-size: 20px;
    padding: 0;
}

.copyright [onclick="scrolltop(); return false;"] {
    background: url(https://www.svgrepo.com/show/533623/arrow-sm-up.svg) no-repeat center / contain;
    position: fixed;
    bottom: 5px;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
}

a.copyright {
    margin: 0px !important;
}

.copyright *, .copyright {
    font-size: 0px;
    padding: 0px !IMPORTANT;
    margin: 0px !important;
}


div#mobile_menu {
    background: #0d0d00;
    color: #e6e7d3;
}

#mobile_menu .menu_item_dropdown a {
    background: transparent;
    font-size: 16px;
}

#mobile_menu button.btn.btn-primary, #mobile_menu button.btn.btn-primary:hover {
    margin: 0px !important;
    border: 2px solid #0d0d00 !important;
    padding: 5px;
    background: #602020 !important;
    color: #e7e8d4 !important;
    text-transform: uppercase;
    border-radius: unset !important;
}



.profile_comment_author b:hover,h2.card-title a:hover,h6.card-subtitle.mb-2.text-muted.post_date a:hover,
span.card-text a:hover, .profile_comment_body a:hover {
    color: #e09520;
}



textarea, input.w-100, div#newpostform input[type="text"], select, .textareabg.p-1 input[type="text"] {
    background: #e2e3cf;
    border: unset !important;
}

.navbar-light .navbar-toggler-icon {
    filter: drop-shadow(0px 0px 0px black);
}


div[id^="comment_"]:not(div#comment_subscribe) {
    padding-top: 10px;
}

div#user_status,.blog_user_status {
    padding-top: 5px;
}


#mobile_menu .menu_item_dropdown a {
    color: #e6e7d3 !important;
}

div#fffuuusmiles {
    width: 255px !important;
}


@media (max-width: 280px), (max-width: 480px), (max-width: 768px) {
   div#righthome,div#lefthome {
    width: 100%;
    margin: 0px !important;
}
    div#lefthome {
    height: auto;
    background: url(https://i.ibb.co/jVXb8yb/c2-z.png);
    position: unset;
}
    .content {
    padding: 10px !important;
    margin-top: 105px !important;
}
    .seBlogColumnRightPadding, div#lefthome:before {
    max-width: 100% !important;
    width: 100%;
}
    .card.mb-2.post_home:first-child,.card.mb-2.post_home {
    background-color: #f0f0eae8;
}
    body {
    background: url(https://i.ibb.co/fxSZsSP/c2.png) no-repeat right center fixed, url(https://i.ibb.co/jVXb8yb/c2-z.png);
    background-size: cover,auto;
    background-color: #e8e9d5;
    background-blend-mode: luminosity;
}
    [href="./"]:before {
    display: none;
}
    [href="./"]:after {
    right: unset;
    left: 0px;
}
    
    button.btn.btn-outline-success:before {
    right: 65px !important;
}
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu span#notify_total {
    top: 0;
}
    li.p-1 a {
    margin: auto;
    margin-bottom: 5px;
}
    .copyright [onclick="scrolltop(); return false;"] {
    background-color: #973131;
}
    .blog_leftsearch input[type="text"] {
    margin-left: 10px !important;
    width: calc(100% - 20px);
}
    ul.seBlogCategoryList {
    text-align: center;
}
    a#attach_file_click {
    filter: invert(55%) sepia(34%) saturate(4868%) hue-rotate(18deg) brightness(102%) contrast(88%);
}
    div.profile_comment_body img {
    max-width: 100% !important;
}
}







.seBlogColumnRightPadding [href="/user_blog_settings.php"],
.seBlogColumnRightPadding [href="/user_editprofile.php"],
.seBlogColumnRightPadding [onclick="loadmodal('/userphotos.php', 'Мои аватарки'); return false"],
.seBlogColumnRightPadding [href="/user_account.php"],
.seBlogColumnRightPadding [href="user_blog.php"],
.seBlogColumnRightPadding [href$="blog/&task=blogentry_main"]{
    display: none !important;
}

ul.seBlogCategoryList a {
    margin-right: 6px;
}
ul.seBlogCategoryList {
    font-size: 0;
}

ul.seBlogCategoryList {
    max-height: 20px;
    overflow: hidden;
}

.card.blog_gifts {
    display: none !important;
}

a.page-link,a.page-link:hover {
    background: transparent !important;
    color: black !important;
}

.page-link:focus {
    box-shadow: unset;
}

ul.seBlogCategoryList {
    display: none !important;
}


div[id^="comment_"]:not(div#comment_subscribe):nth-child(5n-2) {
    background: url(https://i.ibb.co/GRKcWCx/b5-in-l.png) no-repeat top -100px right -30px, 
                url(https://i.ibb.co/YcBc13p/b5-back.png) repeat-y right 207px top;
    background-size: 240px,auto;
}


blockquote.blockquote {
    width: fit-content;
}


div#designs {
    display: none !important;
}

[href^="user_blog_entry.php?blogentry_id=7"] {
    display: none !important;
}

font.disabled {
    color: black;
}

a#comment_next_page_top,a#comment_next_page_bottom,
a#comment_last_page_top,a#comment_last_page_bottom{
    color: #973131;
}

a.commentReply:before {
    font-size: 13px;
}

li.p-1 a:hover {
    transform: rotate(3deg);
}

table.body {
    padding-top: 0px !important;
}

div.profile_comment_body img {
    max-width: 300px;
}

div#bbcode [src^="/images/fffuuusmiles/"]:hover {
    outline: 2px solid #e09520;
    outline-offset: -5px;
    scale: 1.4;
}


/*---------------КЛИНИКА----------------*/

body {
    background: #c3baaf;
}

div#lefthome:before {
    background: black;
}

.blog_leftsearch input[type="text"] {
    box-shadow: unset;
}

.blog_leftphoto img {
    content: url(https://beon.vip/uploads_user/10000/9068/c74d420aece0acfc300f066e1cb0fccf.gif);
    object-position: center;
}

li.p-1 a, .card.blog_categories a {
    color: #c3baaf !important;
}

div#bbcode [src^="/images/bbcode/"] {
    border-radius: unset;
    background-color: #c3baaf;
}

.blog_leftsearch tr:after,input#comment_submit, button.btn.btn-secondary,#mobile_menu button.btn.btn-primary, #mobile_menu button.btn.btn-primary:hover {
    background: #d8c8e6 !important;
    color: black !important;
}

.comment_headline {
    color: #c1b9af;
}

div[id^="comment_"]:not(div#comment_subscribe),
[id^="grouptopic_"][id$="_postcomment"], [id^="blog"][id$="_postcomment"],div[id^="comment_"]:not(div#comment_subscribe):nth-child(5n-2){
    background: black;
}

textarea#comment_body {
    background: #c3baaf;
    color: #0d0d00;
}

[onclick^="subscribe"]:before {
    color: #d8c8e6;
}

a#comment_next_page_top, a#comment_next_page_bottom, a#comment_last_page_top, a#comment_last_page_bottom {
    color: #ffe179;
}

input#comment_submit:hover, button.btn.btn-secondary:hover {
    background: #c3baaf !important;
}

body [onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"] {
    background: #d8c8e6 !important;
}

[href="./"]:after,
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu button.navbar-toggler, nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu button.btn.btn-outline-success:before{
    background-color: #f6dc80 !important;
}

.top_header,div.menu_item_dropdown a {
    background: #d8c8e6;
}

.top_header a.menu_item:hover {
    background: #f6dc80 !important;
    color: #000000 !important;
}

.content {
    background: transparent;
}

span.card-text a, .profile_comment_author b, .profile_comment_body a {
    color: #f6dc80;
}

[src="/images/verify.png"] {
    filter: invert(1) hue-rotate(266deg) brightness(2) saturate(0.2) !important;
}


::-webkit-scrollbar {
    width: 20px;
    background: cadetblue;
    border: aliceblue;
}
::-webkit-scrollbar {
    width: 20px;
    background: #c3baaf;
    border: aliceblue;
}
::-webkit-scrollbar-thumb {
    background-color: #0d0d00;
    border: 4px solid #c3baaf;
}
::-webkit-scrollbar-thumb {
    background-color: #0d0d00;
    border: 4px solid #c3baaf;
}

.card.mb-2.post_home:first-child {
    background: #c3baaf;
}

h2.card-title a, h6.card-subtitle.mb-2.text-muted.post_date a {
    color: #d8c8e6;
}

div#user_status, .blog_user_status,
.card.mb-2.post_home+.card.mb-2.post_home h6.card-subtitle.mb-2.text-muted.post_date, .card.mb-2.post_home+.card.mb-2.post_home div#user_status, .card.mb-2.post_home+.card.mb-2.post_home .blog_user_status, .card.mb-2.post_home+.card.mb-2.post_home .additional_info.pl-3 *, .card.mb-2.post_home+.card.mb-2.post_home .post_data *:before{
    color: #86736e !important;
}

blockquote.blockquote {
    background: #c3baaf;
    color: #0d0d00;
}

.card.mb-2.post_home:first-child h2.card-title a,
.card.mb-2.post_home:first-child h6.card-subtitle.mb-2.text-muted.post_date a{
    color: black;
}

.show_menu.header-orange {
    background: #d8c8e6 !important;
    color: black !important;
}

div#lefthome {
    background: transparent;
}

div#mobile_menu {
    background: black;
    color: #c3baaf;
}

#mobile_menu .menu_item_dropdown a {
    color: #c3baaf !important;
}


.modal-content {
    background: #c3baaf;
    color: #0d0d00;
}

[src="./uploads_user/10000/9068/97bc45e5cf2e5f2515da38175cd90d2a.gif"] {
    content: url(https://beon.vip/uploads_user/10000/9068/0e6dc7faf69c9454fa4df4a993efa6ae.gif);
}
