@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/*
font-family: 'Raleway', sans-serif;
*/

/*--------------------------*/

@font-face {
font-family: 'font3036ae86f3e196e33d3be155da20f495';
    
    src:    url('https://nomail.com.ua/files/eot/3036ae86f3e196e33d3be155da20f495.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/3036ae86f3e196e33d3be155da20f495.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/3036ae86f3e196e33d3be155da20f495.woff2') format('woff2');
}

@font-face { font-family: 'HelveticaNeueCyr-Thin';  src: local('HelveticaNeueCyr-Thin'), url('https://nomail.com.ua/files/woff/3036ae86f3e196e33d3be155da20f495.woff') format('woff'); }




/*=================================*/
h3.left-menu-text,a.post-title,a.user.post-title-user,.datebg,span.post-title-date {
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
}

/*=================================*/



.left-menu-text {
    padding: 0;
}

[href="/design/disable"],
p.left-menu-text+div+div+div {
    font-size: 0;
}

[href="/design/disable"]:before {
    content: 'DISABLE UI';
    font-size: 12px;
}

a:hover {
    text-decoration: unset !important;
}

p.left-menu-text a:after, a.blog-subscribe:after, [href^="//beon.fun/rating/community/"]:after {
    content: '_';
    font-size: 0;
    position: absolute;
    left: -50px;
    top: 7px;
    display: block;
    width: 50px;
    height: 7px;
    border-bottom: 1px solid;
    border-left: 7px solid;
    transform: rotate(-10deg);
    transition: 0.3s;
}

p.left-menu-text a:hover:after, a.blog-subscribe:hover:after, [href^="//beon.fun/rating/community/"]:hover:after {
    border-left: 25px solid;
    transition: 0.3s;
}

p.left-menu-text, a.blog-subscribe, [href^="//beon.fun/rating/community/"] {
    margin-left: 60px !important;
    position: relative;
    padding: 0;
    text-transform: uppercase;
    font-size: 13px;
}


.left-menu a:hover {
    color: #54a8e3;
}

.left-menu {
    width: 380px;
    min-width: 360px;
}

p.left-menu-text a:before,
a.blog-subscribe:before,
[href^="//beon.fun/rating/community/"]:before {
    content: '-';
    color: transparent;
    background: transparent;
    border: 1px solid #525252;
    display: table-caption;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    transform: rotate(45deg);
}

p.left-menu-text a:hover:before, a.blog-subscribe:hover:before, [href^="//beon.fun/rating/community/"]:hover:before {
    border: 1px solid #3490dc;
}


div#footer,.post-content.blog_total_counter {
    display: none;
}

.left-menu>div {
    padding: 20px;
}


.left-menu,.content {
    overflow: unset;
}

.content {
    overflow: unset;
    background: #ffffff59;
}

h3.left-menu-text {
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 3px;
    transform: translateX(-20px) translateY(-20px);
    margin-right: -40px;
    color: #f2f2f2;
}



body.bodybg {
    background: url(https://i.ibb.co/TqsvY1s/detroit-become-wallpaper-177-1920x108003.png) no-repeat top center fixed;
    background-size: cover;
}

p.left-menu-text {
    margin: 0px;
}

main.py-4 {
    margin: auto;
    margin-top: 100px;
}

textarea#csseditortext {
    max-height: 400px;
    overflow-y: auto !important;
}

.left-menu {
    border: unset !important;
    position: relative;
}


div#beon-fnplayer {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.post-content {
    margin: 0px !important;
    padding: 10px;
    padding-top: unset;
    position: relative;
}

.post-avatar {
    margin: 0px !important;
}

.post-content [style="margin-left: 5px;"] {
    margin: 0px !important;
}

.text-center+p.left-menu-text {
    margin-top: 20px;
    color: #525252;
}

div#beon-fnplayer {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    background: transparent;
}

div#fnplayer-slider {
    background: transparent;
    border-bottom: 1px solid #54a8e3;
}

div#fnplayer-slider span {
    font-size: 0px;
}

div#fnplayer-slider-inner {
    background: transparent;
    border: 1px solid #54a8e3;
    border-bottom: unset;
}

div#fnplayer-slider-inner {
    background: transparent;
    border: 1px solid #54a8e3;
    border-bottom: unset;
}

div#fnplayer-volume-mask {
    border: unset;
}

div#fnplayer-volume {
    border: unset;
    border-bottom: 1px solid #54a8e3;
    background: transparent;
    margin: 0px !important;
}

div#fnplayer-volume-inner {
    border: 1px solid #54a8e3;
    border-bottom: unset;
    background: transparent;
}

button#fnplayer-stop {
    background: transparent;
    border: 1px solid #54a8e3;
}

button#fnplayer-play {
    border: 1px solid red !important;
    border-top: unset !important;
    border-bottom: unset !important;
    height: 11px !important;
    width: 3px !important;
    border-color: #54a8e3 !important;
    opacity: 1;
    margin-right: 5px;
    clip-path: polygon(0 0, 0% 100%, 90% 50%);
    background: #54a8e3;
}


#fnplayer-play.paused {
    background: transparent !important;
}
#fnplayer-play.paused {
    border: 1px solid red !important;
    border-top: unset !important;
    border-bottom: unset !important;
    height: 10px !important;
    width: 3px !important;
    border-color: #54a8e3 !important;
    opacity: 1;
    margin-right: 5px;
    clip-path: unset;
}


.left-menu a {
    color: #525252;
}

[src="/i/user.png"] {
    border: 1px solid;
    width: 10px;
    height: 10px;
    padding: 4px;
    margin-right: 5px;
    transform: rotate(45deg);
}

span.readertime+a {
    text-transform: uppercase;
    font-size: 13px;
}

span.readertime {
    display: none;
}



span.readertime+a {
    margin-left: 60px;
    position: relative;
}

span.readertime+a:after {
    content: '_';
    font-size: 0;
    position: absolute;
    left: -50px;
    top: 8px;
    display: block;
    width: 50px;
    height: 7px;
    border-bottom: 1px solid;
    border-left: 7px solid;
    transform: rotate( -10deg);
    transition: 0.3s;
}

span.readertime+a:hover:after {
    border-left: 25px solid;
    transition: 0.3s;
}

input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #838383;
    padding: 0px;
}

.left-menu-text input[type="submit"] {
    background: transparent;
    border: 1px solid #54a8e3;
    padding: 0;
    margin-left: 2px;
    color: transparent;
    height: 12px;
    display: none;
}

[action="/search"] {
    position: relative;
    text-align: center;
    margin-top: 30px;
}



input[type="text"]::placeholder {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    color: #525252;
}

.blog__tags a {
    font-size: 14px !important;
}



[src="/i/offline.png"] {
    display: none;
}

span.post-opt {
    color: #5a5a5a;
    text-transform: uppercase;
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
    float: right;
    width: 105px;
    text-align: right;
}

.left-menu>div:first-child a {
    color: #6c6c6c;
    font-size: 13px;
}

.content {
    margin-left: 26px;
}



div#app {
    padding: 0px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

/*вверхвниз*/
a.my-menu.for-mobile.d-none.d-md-inline {
    position: fixed;
    left: 1%;
    top: 150px;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    position: fixed;
    left: 1%;
    bottom: 150px;
}

a.my-menu.for-mobile.d-none.d-md-inline, [onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0;
    background: transparent;
    display: block !important;
    width: 10px;
    height: 10px;
    padding: 0px !important;
    border: 1px solid #f5f5f5;
    transform: rotate(45deg);
}


a.my-menu.for-mobile.d-none.d-md-inline:before {
    content: unset;
    position: fixed;
    left: 1%;
    bottom: 159px;
    background: #3490dc;
    height: calc(100% - 318px);
    width: 1px;
    transform: translateX(4px);
    pointer-events: none;
}

.sign,.row.w-100 {
    line-height: 1.2;
}

.post-text {
    padding-left: 10px;
}

.comment-text,.post-text {
    color: #404040;
}

.sign,.row.w-100 *,.datebg,span.post-title-date,span.post-title-date+span,.comment-text {
    color: #646464;
}
.tag:before,.user:before {
    display: none;
}

.row.w-100 {
    margin-top: 10px;
    margin-left: 0;
}

.post-opt.col-12.col-md-6,span.post-title-date {
    padding: 0px;
}


.row.w-100 *,.datebg,span.post-title-date,span.post-title-date+span {
    font-size: 12px;
    letter-spacing: 1px;
    font-style: unset;
}


a.user.post-title-user {
    display: block;
    width: fit-content;
    background: #f7f7f7cf;
    color: #838383;
    font-size: 19px;
    padding-left: 15px;
    padding-right: 5px;
}

a.post-title {
    color: #f0f0f1;
    background: linear-gradient(90deg, #499fdb, #2171a9);
    text-decoration: unset;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 5px;
}

.post-text,.comment-text {
    font-size: 15px;
    line-height: 1.4;
}


.left-menu>div {
    box-shadow: -12px -12px #5c96bf14, -6px -6px #469cd82e;
    margin-bottom: 35px;
    background: #ffffff59;
}

.comment-content,.comment-text {
    padding: 10px;
}

.content {
    box-shadow: -6px -6px #ffffff29;
}

.post-content {
    margin-bottom: 25px !important;
}

[src="/i/blog.png"] {
    background: url(https://img.icons8.com/metro/2x/book.png) no-repeat center / contain;
    width: 18px;
    height: 12px;
    padding: 7px;
    image-rendering: -webkit-optimize-contrast;
    opacity: 0.6;
}


[src="//beon.fun/i/design-off.png"] {
    background: url(https://img.icons8.com/material/2x/paint-palette.png) no-repeat center / contain;
    width: 18px;
    height: 12px;
    padding: 7px;
    image-rendering: -webkit-optimize-contrast;
    opacity: 0.6;
    margin-top: -8px;
}

[href="/design/disable"] {
    display: block;
    margin-top: 30px;
}

.left-menu-text [href="/members-activities"],div [href^="//beon.fun/communities/"] {
    text-transform: uppercase;
    font-size: 12px;
}

.comment-box a.user.post-title-user {
    background: transparent;
    padding: 0;
    color: #499fdb;
    font-size: 21px;
    line-height: 1;
}

span.post-title-date+a {
    color: #767676;
    font-size: 10px;
}

.post-opt {
    padding-left: 10px;
    font-size: 12px;
}

.post-opt a,
.post-opt span {
    color: #7a7a7a;
}

.alert.alert-success {
    display: none;
}

.textareabg {
    background: transparent;
}

.textareabg {
    padding: 10px;
}

.comment-row {
    border-top: 1px solid #53a2db94;
    margin-top: 5px;
    padding-top: 10px;
}

.blog__tags+div div.left-menu-text {
    margin-bottom: 3px;
    border-bottom: 1px solid #8597a35e;
    color: #4c90bf;
}

a.post-title:hover {
    filter: drop-shadow(6px -6px 0px #6da8d14f);
    transition: 0.2s;
}

.left-menu-text [href="/members-activities"]:before, div [href^="//beon.fun/communities/"]:before {
    content: ' — ';
    color: #525252;
    font-size: 17px;
    line-height: 1.3;
}

.prevsibling.col-md-6, .prevsibling.col-md-6 a,
.nextsibling.text-right.col-md-6,.nextsibling.text-right.col-md-6 a {
    padding: 0px;
    color: #979797;
    text-transform: uppercase;
    font-size: 12px;
}




.crumbs {
    font-size: 20px;
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    margin: 0px !important;
    padding: 0px;
}

[src="//beon.fun/i/logo2.png"] {
    display: none;
}

li::marker {
    font-size: 0;
}

.bg-white {
    background: transparent;
    box-shadow: unset !important;
    padding: 0px;
    border-bottom: 1px solid #ffffff73;
}


span.crumb-item, .crumbs a {
    color: #f1f1f1;
    text-decoration: unset;
    font-size: 28px;
    font-weight: unset;
}

[href="https://beon.fun"]:before {
    content: 'Beon';
    color: #efefef;
    text-decoration: unset;
    font-size: 30px;
    line-height: 1;
    font-weight: 100;
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
}

.container {
    max-width: 100%;
    padding: 0px;
}

.pc-menu {
    display: none;
}

.hamburger-menu {
    display: block;
    position: absolute;
    right: 10px;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background: #efefef;
}

.datebg {
    margin: 0px;
    padding: 0px;
    text-align: right;
    padding-right: 10px;
    font-weight: unset;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 23px;
}

.crumbs {
    color: #ffffff85;
    font-size: 30px;
}

ul.menu__box {
    padding-top: 60px;
    overflow: auto;
}



.hamburger-menu a.menu__item:hover {
    background: #65acdd;
    color: #f5f5f5;
}

.hamburger-menu a.menu__item {
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    color: #404040;
    font-size: 15px;
    letter-spacing: 1px;
}

ul.menu__box {
    background: #f3f3f38c;
    backdrop-filter: blur(3px);
    top: 60px;
    padding: 0;
    width: auto;
}

.post-content [style="display: flex; justify-content: space-between;"] a {
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    letter-spacing: 1px;
    font-size: 12px;
    color: #9f9f9f;
    text-transform: uppercase;
}

.comment-box__message-partial.comment-content * {
    color: #499fdb;
}
.comment-box__message-partial.comment-content {
    text-align: right;
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0px;
    padding-right: 10px;
    color: #565656;
}

.comment-box h2 {
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    text-align: right;
    color: #f0f0f1;
    background: linear-gradient( -90deg, #378cc7, #44444400);
    text-decoration: unset;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 5px;
}

img.imagefsme {
    padding: 0;
}

span.emj-dropdown {
    padding: 0px;
}

textarea {
    background: #f2f2f35e;
    border: unset;
}

.textareabg input[type="submit"],
.left-menu__user-notification.left-menu__unread-message input[type="submit"] {
    background: #4e9acf;
    border: unset;
    color: #ededed;
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    letter-spacing: 1px;
    font-size: 16px;
}

.avatar-select-list {
    height: 234px;
}

a.readertime {
    overflow-wrap: anywhere;
}

.post-content h1, div#commentpreviewplace+p {
    padding-top: 7px;
    color: #9f9f9f;
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    font-size: 30px;
    margin: 0px;
}

.avatar-select-label-selected {
    border: 4px solid #6ba8d3;
    background: #6ba8d3;
    filter: grayscale(1);
}

div#commentpreviewplace+p {
    font-size: 23px;
    margin-bottom: 15px;
}


.post-content [style="margin-left: 5px;"] {
    position: relative;
}
.post-content [style="margin-left: 5px;"]:before {
    content: '-';
    font-size: 0;
    display: block;
    background: #2272aa;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 24px;
    left: 0;
    z-index: -1;
}


/*СКРОЛЛ*/

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #58a1d3;
}
::-webkit-scrollbar-track {
    background: #e4e6e7;
}


textarea:focus {
    outline: unset;
    box-shadow: inset 0 0 7px #54545463;
    background: #f2f2f38a;
}

.tag_bar > span {
    color: #4c4c4c;
}



div#commentpreviewplace a.post-title-user {
    background: transparent;
    padding: 0;
    color: #499fdb;
    font-size: 21px;
    line-height: 1;
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
}

div#commentpreviewplace span.post-title-date {
    font-size: 13px;
}

div.textareabg {
    margin: 0px !important;
}

/*создание записи*/

div.textareabg>div {
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    text-align: right;
    color: #f0f0f1;
    background: linear-gradient( -90deg, #378cc7, #44444400);
    text-decoration: unset;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 5px;
    line-height: 1.2;
}

form.messageform>[name="_token"]+p,[name="posttitle"]+br+br+p,
.col-md-4 p,.col-md-4 div,.container-fluid.mt-5+br+br+p,a.messageform__taglinks {
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0px;
    padding-right: 10px;
    color: #565656;
}

form.messageform input[type="text"] {
    border-left: 1px solid #838383;
}

.container-fluid.mt-5 {
    padding: 0px;
}

select {
    background: #499fdb;
    border: unset;
    color: #ede7e8;
}

[src="//beon.fun/i/tag.png"] {
    display: none;
}

input[type="checkbox"] {
    filter: saturate(0) brightness(0.8);
}

.post-content  .container-fluid {
    width: 85%;
}

.container-fluid {
    padding: 0;
}

[src="/i/online.png"] {
    filter: hue-rotate(80deg);
}

.mobile_open_menu h3.left-menu-text {
    background: #74a8cf !important;
    width: 100%;
}








/*МЕДИА*/

@media (max-width: 1024px) {

div#app {
    padding: 0px;
    width: 97%;
    margin: auto;
    margin-top: 20px;
}


.left-menu {
    width: 20%;
    min-width: 30%;
}

.left-menu>div {
    padding: 10px;
    margin-bottom: 20px;
}

p.left-menu-text {
    margin-left: unset !important;
}
p.left-menu-text a:after, a.blog-subscribe:after, [href^="//beon.fun/rating/community/"]:after {
    display: none;
}
a.blog-subscribe,[href^="//beon.fun/rating/community/"] {
    margin: 0px !important;
}

h3.left-menu-text {
    font-size: 14px;
    transform: translateX(-10px) translateY(-10px);
    margin-right: -20px;
}

span.readertime+a:after {
    width: 30px;
    left: -32px;
    top: 6px;
}

span.readertime+a {
    margin-left: 35px;
    position: relative;
}

.text-center img {
    max-width: 150px;
}

.content {
    margin-left: 10px;
}

a.my-menu.for-mobile.d-none.d-md-inline {
    display: none !important;
}
.fas, .far, .tag_bar > * {
    padding: 0;
    font-size: 15px;
}
.crumbs * {
    font-size: 20px !important;
}
[href="https://beon.fun"]:before {
    font-size: 24px;
}

span.post-opt {
    float: unset;
}
[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    display: none;
}
}


/*768*/

@media (max-width: 768px) {

div#app {
    padding: 0px;
    width: 97%;
    margin: auto;
    margin-top: 20px;
}


.left-menu {
    width: 20%;
    min-width: 30%;
}

.left-menu>div {
    padding: 10px;
    margin-bottom: 20px;
}

p.left-menu-text {
    margin-left: unset !important;
}
p.left-menu-text a:after, a.blog-subscribe:after, [href^="//beon.fun/rating/community/"]:after {
    display: none;
}
a.blog-subscribe,[href^="//beon.fun/rating/community/"] {
    margin: 0px !important;
}

h3.left-menu-text {
    font-size: 14px;
    transform: translateX(-10px) translateY(-10px);
    margin-right: -20px;
}

span.readertime+a:after {
    width: 30px;
    left: -32px;
    top: 6px;
}

span.readertime+a {
    margin-left: 35px;
    position: relative;
}

.text-center img {
    max-width: 150px;
}

.content {
    margin-left: 10px;
}

a.my-menu.for-mobile.d-none.d-md-inline {
    display: none !important;
}
.fas, .far, .tag_bar > * {
    padding: 0;
    font-size: 15px;
}
.crumbs * {
    font-size: 20px !important;
}
[href="https://beon.fun"]:before {
    font-size: 24px;
}

span.post-opt {
    float: unset;
}
[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    display: none;
}
}


/*700*/

@media (max-width: 700px) {

.content {
    margin: 0px;
}
div#app {
    width: 95%;
    margin-top: unset;
}

.post-content {
    padding: 5px;
}
a.post-title {
    font-size: 25px;
}
.post-content [style="margin-left: 5px;"]:before {
    top: 20px;
}
a.user.post-title-user {
    font-size: 16px;
}
.mobile_open_menu {
    padding: 0px !important;
}
.mobile_open_menu h3.left-menu-text {
    transform: unset;
    color: #f0f0f1 !important;
    background: linear-gradient(90deg, #499fdb, #2171a9) !important;
    text-decoration: unset;
    font-size: 20px !important;
    padding: 2px;
    font-weight: unset !important;
}

.left-menu {
    width: 100%;
}

.fa-angle-down:before {
    color: #489eda;
}
.left-menu>div {
    padding: 10px;
}

h3.left-menu-text {
    transform: translateX(-10px) translateY(-10px);
    font-size: 17px;
    margin-right: -20px;
}

.left-menu>div {
    margin-bottom: 20px;
}

a.my-menu.for-mobile.d-none.d-md-inline, [onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    display: none !important;
}

i.fas.fa-angle-down {
    display: none;
}
.hamburger-menu {
    position: unset;
}

a.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none {
    text-transform: uppercase;
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    font-size: 15px;
    color: #ffffffa3;
    padding: 0px !important;
}

ul.menu__box {
    top: 0;
    padding-top: 40px;
    padding-right: 10px;
}
.datebg {
    font-size: 13px;
}
.left-menu {
    min-width: 100%;
}
.crumbs * {
    font-size: 20px !important;
}
[href="https://beon.fun"]:before {
    font-size: 24px;
}
.fas, .far, .tag_bar > * {
    padding: 0;
    font-size: 15px;
}
}


/*UPD*/

h3.left-menu-text {
    background-color: #4a94c7 !important;
}

a.tag {
    color: #2272aa !important;
}

p.quotation {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
    background: #33a2ef30;
    color: #2770a3;
    width: fit-content;
    border-color: #2aa7ff;
    font-size: 12px;
    font-style: italic;
    border: unset;
    margin-left: 15px;
}

p.quotation:last-child {
    margin-bottom: 15px;
}

.fa-retweet:before,.fa-trash-alt:before,.fa-quote-left:before {
    color: #858585;
    font-size: 12px;
}

a.post-title:hover,
.textareabg input[type="submit"]:hover {
    filter: drop-shadow(6px -6px 0px #6da8d14f);
    transition: 0.2s;
}


.pagination *, .pagination {
    font-size: 15px !important;
}
.pagination {
    display: block;
    width: 100%;
}

span.pagination-goto {
    color: #efefef;
    font-size: 17px !important;
}

.post-text a,.comment-text a {
    color: #218bd5;
    font-style: italic;
    font-size: 14px;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    border-color: #58a9e1;
}

.left-menu__user-notification.left-menu__unread-message img+p+p {
    font-size: 16px;
    color: #545454;
}
.left-menu__user-notification.left-menu__unread-message img+p {
    color: #1a6295;
    font-family: 'font3036ae86f3e196e33d3be155da20f495';
    font-size: 15px;
    margin-bottom: 5px;
}

.comment-text {
    color: #404040;
}

/*UPD2*/




a.actionignore {
    font-size: 0;
    margin-left: 75px !important;
    position: relative;
    padding: 0;
    text-transform: uppercase;
    position: relative;
}

a.actionignore:before {
    content: 'Добавить в игнор';
    font-size: 14px;
    text-transform: uppercase;
}



a.actionignore:after {
    content: '-';
    color: transparent;
    background: transparent;
    border: 1px solid #525252;
    display: table-caption;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    transform: rotate( 45deg );
    position: absolute;
    left: -15px;
    top: -10px;
}

p.left-menu-text {
    color: #525252;
}

a.navbar-brand {
    font-size: 0;
}

* {
    font-family: 'Nunito';
}


/*UPD*/

a.post-title,[href="https://beon.fun"]:before,span.crumb-item,h3.left-menu-text,a.user.post-title-user,
.datebg,div.textareabg>div,
.textareabg input[type="submit"], .left-menu__user-notification.left-menu__unread-message input[type="submit"],
.post-content h1, div#commentpreviewplace+p,
.comment-box h2,
.comment-box__message-partial.comment-content {
    font-family: 'Raleway', sans-serif;
}

form.messageform>[name="_token"]+p,
[name="posttitle"]+br+br+p, .col-md-4 p, .col-md-4 div, .container-fluid.mt-5+br+br+p, a.messageform__taglinks {
    font-family: 'Nunito';
}

a.user.post-title-user {
    font-weight: bold;
    font-size: 17px !important;
}

.hamburger-menu a.menu__item {
    font-family: 'Nunito';
    font-weight: 100;
    font-size: 14px;
}


span.post-title-date {
    font-family: 'Nunito';
    letter-spacing: unset;
}

div#commentpreviewplace+p {
    color: #ffffff;
    line-height: normal;
    font-size: 0;
}

.post-content [style="display: flex; justify-content: space-between;"] a {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 11px;
}

div#app+div+[style="text-align: center"] {
    font-family: 'Raleway';
    color: white;
}
