
[src="/images/bbcode/smile.gif"] {content: url('https://beon.vip/uploads_user/1000/968/b5ba62592a7363b5073bb2eba927c00b.png');}

#smiles img {width: 80px; max-height: 80px;}

[src="/images/beonsmiles/angel.png"] {content: url('https://beon.vip/uploads_user/21000/20703/632846343c2daff8f9794843d002f1fa.jpg'); }
[src="/images/beonsmiles/angry.png"] {content: url('https://beon.vip/uploads_user/21000/20703/64cf45ee6906dd99b9608d654e513b22.jpg'); }
[src="/images/beonsmiles/big-smile.png"] {content: url('https://beon.vip/uploads_user/21000/20703/4ec41b592e607a2a01d655cd9da925ba.jpg');}
[src="/images/beonsmiles/confused.png"] {content: url('https://beon.vip/uploads_user/21000/20703/98656a2c141e211fcde1671daff512cc.jpg');}
[src="/images/beonsmiles/crazy.png"] {content: url('https://beon.vip/uploads_user/21000/20703/c5a3fdd39921dac0f229929ffd93c531.jpg'); }
[src="/images/beonsmiles/cry.png"] {content: url('https://beon.vip/uploads_user/21000/20703/919cf7de4dee67a6ad14ebf75532e000.jpg');}
[src="/images/beonsmiles/cunning.png"] {content: url('https://beon.vip/uploads_user/21000/20703/97b963cb513ea8af127d2ffc90c84aa6.jpg');}
[src="/images/beonsmiles/devil.png"] {content: url('https://beon.vip/uploads_user/21000/20703/ccb76d6e567cd6d7161e6fca76aef7b6.jpg');}
[src="/images/beonsmiles/kiss.png"] {content: url('https://beon.vip/uploads_user/21000/20703/72462299d40ae62f583ed966d17f8a8f.jpg');}
[src="/images/beonsmiles/sad.png"] {content: url('https://beon.vip/uploads_user/21000/20703/9afdd0056d18c03c6954e4d0aaf6638a.jpg');}
[src="/images/beonsmiles/shhh.png"] {content: url('https://beon.vip/uploads_user/21000/20703/57d4badf2431c37e12e75577d20e4d5d.jpg');}
[src="/images/beonsmiles/shocked.png"] {content: url('https://beon.vip/uploads_user/21000/20703/7df582da71cf7baf24d366c079a78d41.jpg');}
[src="/images/beonsmiles/smile.png"] {content: url('https://beon.vip/uploads_user/21000/20703/799b46e4e3177c5e9043401a1958dbec.jpg');}
[src="/images/beonsmiles/sun-glasses.png"] {content: url('https://beon.vip/uploads_user/21000/20703/81bfcb132162fa630e8c7b9aa3413135.jpg'); }
[src="/images/beonsmiles/surprised.png"] {content: url('https://beon.vip/uploads_user/21000/20703/bbb54ded59b17e14e8d5212568e76130.png'); }
[src="/images/beonsmiles/thinking.png"] {content: url('https://beon.vip/uploads_user/21000/20703/e89f744d37bc4512d10d03f158e88aa8.png'); }
[src="/images/beonsmiles/thumbs-down.png"] {content: url('https://beon.vip/uploads_user/21000/20703/558e5d2200564af7e198897242080cc5.png'); }
[src="/images/beonsmiles/thumbs-up.png"] {content: url('https://beon.vip/uploads_user/21000/20703/5e7255b4799b56916223ea69e80d6951.png'); }
[src="/images/beonsmiles/tired.png"] {content: url('https://beon.vip/uploads_user/21000/20703/e637d598d997d90dc43e1efa5cbd245a.png');}
[src="/images/beonsmiles/tongue-sticking-out.png"] {content: url('https://beon.vip/uploads_user/21000/20703/effce0be4222b631595b524d7b4b031d.png'); }
[src="/images/beonsmiles/turn-red.png"] {content: url('https://beon.vip/uploads_user/21000/20703/19f3462560bf7d3343d5a34e2e615e34.png'); }
[src="/images/beonsmiles/undecided.png"] {content: url('https://beon.vip/uploads_user/21000/20703/68e45dcc77edf9227f5236f218b6f2c2.png');}
[src="/images/beonsmiles/upset.png"] {content: url('https://beon.vip/uploads_user/21000/20703/06dd2ff51e1a373657589065cad861d9.png'); }

[src="/images/beonsmiles/wink.png"] {content: url('https://i.ibb.co/1rdMDzR/image.png');}
[src$="/templates/images/smiles/bad.gif"] {content: url('https://beon.vip/uploads_image/19/7b/197b3ced1459c3aee9f4503b16d4fff8.jpg'); }
[src$="/templates/images/smiles/biggrin.gif"] {content: url('https://i.ibb.co/47krdbN/image.png'); }
[src$="/templates/images/smiles/blum.gif"] {content: url('https://i.ibb.co/Bz9HV61/image.png');}
[src$="/templates/images/smiles/blush.gif"] {content: url('https://i.ibb.co/wNfvphh/D.png');}
[src$="/templates/images/smiles/cray.gif"] {content: url('https://i.ibb.co/0Z7gz5f/image.png');}
[src$="/templates/images/smiles/crazy.gif"] {content: url('https://i.ibb.co/5rJLMVT/image.gif');}
[src$="/templates/images/smiles/dance.gif"] {content: url('https://beon.vip/uploads_user/1000/968/280ad39e3222b214f38088442ff609b8.gif');}
[src$="/templates/images/smiles/diablo.gif"] {content: url('https://i.ibb.co/gRS7R5J/image.png');}
[src$="/templates/images/smiles/dirol.gif"] {content: url('https://i.ibb.co/Xjcg7tT/image.png');}
[src$="/templates/images/smiles/drinks.gif"] {content: url('https://i.ibb.co/HFt5V3S/image.png');}
[src$="/templates/images/smiles/fool.gif"] {content: url('https://i.ibb.co/w67p760/a1347578acc614aaf926b396e683d17d.gif');}
[src$="/templates/images/smiles/good.gif"] {content: url('https://i.ibb.co/wJjddqZ/image.gif');}
[src$="/templates/images/smiles/kiss_mini.gif"] {content: url('https://beon.vip/uploads_user/1000/968/fc329c23b865b0921eaef1c084acfb6e.gif');}
[src$="/templates/images/smiles/man_in_love.gif"] {content: url('https://beon.vip/uploads_user/1000/968/2712e5f453db211d89904199d4562a40.gif');}
[src$="/templates/images/smiles/music.gif"] {content: url('https://i.ibb.co/DzYnLrs/image.gif');}
[src$="/templates/images/smiles/nea.gif"] {content: url('https://beon.vip/uploads_image/54/e9/54e9d3c355d7fe6f8d91f51f3530ccf1.png') !important;}
[src$="/templates/images/smiles/pardon.gif"] {content: url('https://i.ibb.co/B2R3Ss1/image.png') !important;}
[src$="/templates/images/smiles/rofl.gif"] {content: url('https://i.ibb.co/dMchWwD/image.png') !important;}
[src$="/templates/images/smiles/rolleyes.gif"] {content: url('https://i.ibb.co/ZzL8Pkd/image.png') !important;}
[src$="/templates/images/smiles/sad.gif"] {content: url('https://i.ibb.co/7pYkBk0/image.png') !important;}
[src$="/templates/images/smiles/scratch_one-s_head.gif"] {content: url('https://i.ibb.co/y6dbMxz/image.gif') !important;}
[src$="/templates/images/smiles/shok.gif"] {content: url('https://i.ibb.co/tPxm9qD/image.png') !important;}
[src$="/templates/images/smiles/shout.gif"] {content: url('https://i.ibb.co/qDQmWjq/image.png') !important;}
[src$="/templates/images/smiles/smile.gif"] {content: url('https://i.ibb.co/9rcKXRx/image.gif') !important;}
[src$="/templates/images/smiles/unknw.gif"] {content: url('https://beon.vip/uploads_image/94/de/94de93f7d8247588e6fd476a02382f5f.jpg') !important; }
[src$="/templates/images/smiles/wacko2.gif"] {content: url('https://beon.vip/uploads_image/88/9d/889dec3224a2b05be470db3625d72866.jpg') !important; }
[src$="/templates/images/smiles/wink.gif"] {content: url('https://i.ibb.co/wMBmmdf/2.gif') !important; }
[src$="/templates/images/smiles/yahoo.gif"] {content: url('https://beon.vip/uploads_user/1000/968/3f3b63b9bc9878311cc38f9a2edbf9d7.gif');}
[src$="/templates/images/smiles/angel.gif"] {content: url('https://i.ibb.co/9TgVGKn/image.gif');} 




[src^="/images/fffuuusmiles/"] {
width: 0;
padding: 60px;
background: no-repeat center /contain;
}
[alt="FFFUUU Смайлы"] {
padding: 20px !important;
background: url('https://beon.vip/uploads_user/21000/20703/c5a3fdd39921dac0f229929ffd93c531.jpg') no-repeat center /cover;
}

[src="/images/fffuuusmiles/kiddingme.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/b13f8f63f064e44b5fb84a26ac036218.gif');
}
[src="/images/fffuuusmiles/hurts.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/eafe1faa0a671d6722e077e8581670b8.gif');
}
[src="/images/fffuuusmiles/trolldance.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/4f255e38d9e682e7980a9079dd356fca.gif');
}
[src="/images/fffuuusmiles/lawyerbeginner.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/9140cf7d4c8242d8bffa75b1433cc2eb.gif');
}
[src="/images/fffuuusmiles/pickupmaster.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/44d438ba22d90362524760010f3cae41.gif');
}
[src="/images/fffuuusmiles/aimalaca.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/514c21db6a6e33127202a961ecff057d.gif');
}
[src="/images/fffuuusmiles/cool.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/70183897d1cb7e542652e306f3ea0aec.gif');
}
[src="/images/fffuuusmiles/doomed.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/80c660ce554cdccf49ced3cc2896ff1c.gif');
}
[src="/images/fffuuusmiles/fair.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/f5aaaa394ddceed5668501654b202c61.gif');
}
[src="/images/fffuuusmiles/fapfapfap.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/6e7881c5885b55d84c59e5dbb3b9baeb.gif');
}
[src="/images/fffuuusmiles/foreveralone.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/41dcca0e90b831a8c9e3e4e560090a8f.gif');
}
[src="/images/fffuuusmiles/fu.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/989623791de9f97aa08ea24aea83e433.gif');
}
[src="/images/fffuuusmiles/fuckyeah.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/bfd7e92cc24ff8c56b02ded823d587e9.gif');
}
[src="/images/fffuuusmiles/happy.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/ed7a730f85bda0d256f749534fa1db2b.gif');
}
[src="/images/fffuuusmiles/itsnotok.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/ea866f255c259b8fbf3c6666226d1e95.gif');
}
[src="/images/fffuuusmiles/lol.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/517116b8698c16a55ca0c48dff69a711.gif');
}
[src="/images/fffuuusmiles/megustagirl.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/a982d1931051d029d0f850cae7a530de.gif');
}
[src="/images/fffuuusmiles/megustasmile.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/52a91251e9fefff37cf87decd8bb76fe.gif');
}
[src="/images/fffuuusmiles/muhaha.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/9b504b4156e12092ec7bac038186ed91.gif');
}
[src="/images/fffuuusmiles/ofcourse.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/88cb73f8d90561b5e19748b6f128306b.gif');
}
[src="/images/fffuuusmiles/okay.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/2e87486e26668aa90f1f0388f5858463.gif');
}
[src="/images/fffuuusmiles/pfff.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/45f9d00955e89eb9eee9dffb60f2c119.gif');
}
[src="/images/fffuuusmiles/please.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/049c2ec08ccdad01b1af8d88c2b17e6e.gif');
}
[src="/images/fffuuusmiles/pokerface.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/b4d691d9aee437167b57f8604bbd4b7d.gif');
}
[src="/images/fffuuusmiles/really.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/143337b87512badfecbd537286c269fe.gif');
}
[src="/images/fffuuusmiles/shkololota.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/df34444cdf95b32bec73e5636779dd5e.gif');
}
[src="/images/fffuuusmiles/suspiciou.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/15b775eb52ba6ecb846dbaae704ebcfc.gif');
}
[src="/images/fffuuusmiles/tobey.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/0e73cefa0881dda098ec5fd314f477f2.gif');
}
[src="/images/fffuuusmiles/trollbl.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/8a5183ee0309a6e734c2a73e6748aa95.gif');
}

[src="/images/fffuuusmiles/whaaat.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/ba4be42acc70244c0ba72b8c067443d8.gif');
}
[src="/images/fffuuusmiles/yaoming.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/41fc95fab6f9c6a469a7d62429ecf3b3.gif');
}
[src="/images/fffuuusmiles/yaominginv.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/45d3e06ee40a7b3ecbd24b5005aacbd6.gif');
}
[src="/images/fffuuusmiles/yaomingpff.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/2222c019053dc32a2a4690b50eeda4b9.gif');
}
[src="/images/fffuuusmiles/beaman.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/e42d82cff207eb269924a5469ce11b65.gif');
}
[src="/images/fffuuusmiles/rage.gif"] {
background-image: url('https://beon.vip/uploads_user/21000/20703/5e7255b4799b56916223ea69e80d6951.png');
}

/*стиль заголовка*/

.card-title {
    background-color: none !important;
    background-color: none;
    margin-left: -7px !important;
    color: #dadada !important;
    color: #dadada
}
.photo, .profile_friend_photo img{
border-radius: 10px;
box-shadow: 0 0 10px #444;}
.post_image img{
border-radius: 10px;
box-shadow: -1px -1px 6px 2px #d3d3d3 !important;
box-shadow: -1px -1px 6px 2px #d3d3d3;

}
textarea#comment_body {
color: #f2f2f2 !important;
}
div#lefthome .card {
    border-style: none;
}
.card-header {
    border-style: none;
}
   .invert {
    filter: invert(1);
   }
div#bbcode [src^="/images/bbcode/"] {
    filter: invert(1);
}
a#attach_file_click {
    filter: invert(1);
}
.profile_postcomment {
   border: none !important;
}
textarea#comment_body {
    border-color: #181818;
    padding: 10px;
    border-radius: 25px;
    min-height: 150px;
    border: none;
    background-color: #2f2f2f;
}
[id^="grouptopic_"][id$="_postcomment"], [id^="blog"][id$="_postcomment"] {
    right: 20px !important;
}
.comment_headline {
    /* text-align: center; */
    margin-left: 10px !important;
    border: none;
    background: #0d0d0d00 !important;
}
input#comment_submit {
    background: #2f2f2f;
    color: #dadada;
    border-radius: 10px;
}
a.copyright:link {
    color: #868686;
}
.top_header {
    
    
    background: #010101;
    border-bottom: 1px solid #000000;
}
div#designs {
-webkit-filter: invert(0.95);
}

/*мобильная часть*/
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    filter: invert(1) grayscale(1) drop-shadow(2px 4px 6px black);
}
.modal-content {
    background-color: #181818;
    border: unset;
    background-color: #181818;
    border: unset;
}
.like_user .photo {
    filter: invert(1);
}
.show_menu.header-orange {
    background: #C50000;
    filter: grayscale(1) !important;
}
h2.card_title {
background: black
}

#mobile_menu {
    background: #181818;
    color: #dadada
}
button.btn.btn-primary {
    border: unset;
    padding: 7px;
    background: #C50000;
    filter: invert(1) !important;
}
#mobile_menu .menu_item_dropdown a {
    background: #181818;
    color: #dadada;
    filter: grayscale(1);
}
.profile_postcomment {
    border: none;
}

button.btn.btn-secondary {
    background: #6b6b6b;
    border: unset;
    border-radius: 3px;
    filter: invert(1);
}
button.button_down {
    background: #a9a9a9;
}
.top_header table tbody tr td a img{
    filter: hue-rotate(73deg);
}

.top_header table tbody tr td:first-child {
    filter: invert(1);
}
body {
    background-color: #181818;
}
a:link {
    color: #C50000;
}
a.menu_item:link {
    color: #C50000;
}
div {
color: #dadada;
}
.profile_photo, .header, .profile_content, .profile {
border: none;
border: none !important;
}
.recentaction_div {
    background: none;
}
.header {
    color: #dadada !important;
}


.profile_leftside .header, .header, .profile_photo, .profile, .profile_content, .profile_action {
    border: none !important;
    border: none;
}

.profile_leftside .profile_menu1 a, .nolink, .profile_menu1 a {
    background: #C50000 !important;
}
.profile_rightside .profile_tab2 a {
    background: #C50000 !important;
}
.profile_rightside .profile_tab a {
    background: #C50000 !important;
}

a:visited {
    color: #6c8c57;
}
.browse_friends_result, .browse_friends_result, .profile_blogentry, .profile_action {
border: none;
border: none !important;
} 
.pagination justify-content-end float-right{

}
.profile_rightside .profile_tab a {
    background: #bebebe !important;
}
.menu_dropdown {
background-color: none !important;
}

#newupdates {
    filter: sepia(1);
    filter: sepia(1) !important;
}
.header {
    color: #dadada;
}
.profile_tab2 a {
    background: #C50000;
    color: #ddd !important;
}
div {
    border-top: none !important;
}body { background-color: #181818; }body { background-position: top left; }body { background-repeat: repeat; }body { background-attachment: scroll; }.post_home { background-color: #181818; }.post_home { color: #dadada; }.text-muted { color: #dadada; }.post_home a { color: #c50000; }.button a { color: #c50000; }.post_home { background-position: top left; }.post_home { background-repeat: repeat; }.seBlogComments { background-color: #181818; }.comment_headline { background: #0d0d0d; }.seBlogComments { color: #dadada; }#comment_user_status { color: #dadada; }.seBlogComments a { color: #c50000; }.seBlogComments textarea { background-color: #181818; }.seBlogComments { background-position: top left; }.seBlogComments { background-repeat: repeat; }.seBlogColumnRightPadding .card { background-color: #181818; }.seBlogColumnRightPadding .card-title { background: #0b0a0a; }.seBlogColumnRightPadding .card { color: #dadada; }.text-muted { color: #dadada; }.seBlogColumnRightPadding .card a { color: #c50000; }.button a { color: #c50000; }.seBlogColumnRightPadding .card { background-position: top left; }.seBlogColumnRightPadding .card { background-repeat: repeat; }
