body:before {
    content: '';
    background: url(https://i.ibb.co/n82vShz/fish2.png) no-repeat center / contain;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    animation: swim 3s infinite; 
}


@keyframes swim {
  0% {
    transform: translateY(-50px) translateX(0) rotate(30deg);
  }
  25% { 
    transform: translateY(50px) translateX(250px) rotate(20deg);
  }
  50% {
    transform: translateY(100px) translateX(500px);
  }
  75% {
    transform: translateY(50px) translateX(850px) rotate(-20deg);
  }
  100% {
    transform: translateY(-170px) translateX(1200px) rotate(-40deg);
  }
}

