@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

/*
font-family: 'PT Mono', monospace;
*/

* {
    font-family: 'PT Mono', monospace;
}

.seBlogColumnRightPadding,div#righthome {
    padding: 0;
}

div#righthome {
    margin-left: 15px;
}

.card.p-1 {
    height: 245px;
    margin-bottom: 0px;
}

.blog_leftphoto img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}
.blog_leftphoto img {
    content: url(https://i.ibb.co/XFdHVXT/po234.png);
    width: 200px;
    height: 200px;
}



/*-------------------------*/


div#lefthome .card {
    border: unset;
    border-radius: unset;
    padding: 0;
}

.card-header {
    padding: 0;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    border-radius: unset !important;
    color: white;
}

.card-body, ul.seBlogCategoryList {
    padding: 5px;
    margin-bottom: 0px;
}

.gifts-list .p-1 {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 11px;
}

.gifts-list img {
    width: 36px;
    height: 36px;
}



.blog_leftprofile {
    font-weight: 100;
    font-size: 16px;
    line-height: 2;
}
img.photo {
    border: unset;
}


.top_header {
    position: static !important;
    width: 100% !important;
    max-width: 1300px;
    margin: auto;
    background: #fdfdfd;
    margin-top: 30px;
    border: unset !important;
}

.top_header [href="./"]:before {
    content: 'Beon';
    font-size: 20px;
    color: #7082ff;
}
[src="./images/logo_new.png"] {
    display: none;
}
td.top_menu {
    padding: 0;
}

.top_header td {
    padding: 0 !important;
}

a.top_menu_item {
    font-size: 20px !important;
}

.card-header, button.btn.btn-primary, button.button_down, .copyright [href="#"] {
    background: linear-gradient(90deg, #546cf0, #bc8eee,#ffc08a);
}


button.btn.btn-primary, button.button_down, .copyright [href="#"] {
    color: #fdfdfd !important;
    border: unset;
    border-radius: unset;
    padding: 0;
    font-size: 16px;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 32px;
}

:focus {
    outline: unset !important;
}
a {
    text-decoration: unset !important;
}
[onclick="scrolltop(); return false;"] {
    display: block;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 333333;
    margin: 0px !important;
    width: 44px;
    font-size: 0 !important;
}
[onclick="scrolltop(); return false;"]:before {
    content: url(https://beon.vip/images/button_down.svg);
    transform: rotate(180deg);
    display: block;
    margin-top: 4px;
}

ul.seBlogCategoryList {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}
ul.seBlogCategoryList li {
    padding-right: 5px;
}

div.menu_dropdown {
    display: block !important;
    max-height: 0px;
    overflow: hidden;
    border: unset;
    border-radius: unset !important;
    transition: 0.2s;
}

.top_menu_link:hover div.menu_dropdown {
    max-height: 500px;
    transition: 0.6s;
}
a.top_menu_item {
    font-size: 16px !important;
    background: #fdfdfd;
    color: #7082ff !important;
    line-height: 2;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.top_menu_link {
    padding: 0 !important;
    margin-right: 10px;
}

div.top_menu_link_container, div.top_menu_link_container_end {
    height: unset;
}

.top_header table {
    width: 100% !important;
}

.top_menu_link_container {
    float: right !important;
}

button#newupdates {
    background: #5b6ef0 !important;
    display: block;
    margin-right: 10px;
}

[onclick="window.scrollTo(0,100000); return false;"] {
    background: red;
    position: fixed;
    top: 5px;
    right: 5px;
}

button#newupdates img {
    width: 19px;
    filter: invert(1);
}

button.btn.btn-primary {
    margin-right: 10px;
}



li.p-1 {
    display: block;
    padding: 0 !important;
    line-height: 2;
}
.blog_leftsearch .card-body {
    padding-top: 15px;
}

td.top_menu1 {
    width: fit-content;
    margin: auto !important;
    display: block;
}
/*-------------------*/
table.body {
    width: 100%;
    padding: 0;
    margin: auto;
}
.content {
    max-width: 1300px;
}

table.body {
    padding: 0px !important;
}

.card.mb-2.post_home {
    position: relative;
}

.card.mb-2.post_home:first-child {
    position: unset;
}



.card.mb-2.post_home:first-child h6.card-subtitle.mb-2.text-muted.post_date {
    display: none;
}

.card.mb-2.post_home {
    margin-bottom: 50px !important;
}



.card.mb-2.post_home:first-child .post_container {
    margin: 0px;
}

h2.card-title {
    margin: 0px;
}

span.card-text p {
    margin: 0px;
}

.post_container .post_text img {
    image-rendering: -webkit-optimize-contrast;
    transition: 0.2s;
    padding: 4px;
}
td.top_menu {
    width: fit-content;
    margin-right: auto;
    display: block;
}

h2.card-title a {
    color: #576def;
}
div.menu_dropdown {
    background: #5b6ef0;
}

div.menu_item_dropdown a {
    background: transparent;
    color: #fdfdfd !important;
}
span#notify_total {
    background: #fdfdfd;
    border-radius: unset;
    color: #5b6ef0;
}

.card-body input[type="text"] {
    background: #eceeef;
    width: 290px;
    display: block;
    border: unset;
    text-align: center;
    font-size: 16px;
    line-height: 2;
}


.top_menu_link [href="im.php"] {
    font-size: 0 !important;
}
.top_menu_link [href="im.php"]:before {
    content: 'ЛС';
    font-size: 16px;
    color: #fff !important;
}

[href="im.php"]  {
    background: #fcbe8f !important;
}

button.button_down,.copyright [href="#"],a.copyright {
    background: #5b6ef0;
}
a.copyright {
    font-size: 16px;
    color: #fdfdfd !important;
    padding-left: 10px;
    padding-right: 10px;
}
div.menu_item_dropdown a {
    transition: 0.2s;
}

div.menu_item_dropdown a:hover {
    background: #fcbe8f;
    padding-left: 10px;
}

div#lefthome a, .post, a.top_menu_item,a.card-link,h6.card-subtitle.mb-2.text-muted.post_date,
.seBlogComments tr td div a,ul.seBlogCategoryList, .profile_comment_body {
    color: #5a5e71 !important;
}

ul.seBlogCategoryList a,.post_text.pl-3 a,.category a,h6.card-subtitle.mb-2.text-muted.post_date a {
    color: #5e57da !important;
}

.additional_info.pl-3 {
    text-align: right;
}


h6.card-subtitle.mb-2.text-muted.post_date a {
    font-size: 16px;
}
h6.card-subtitle.mb-2.text-muted.post_date {
    display: block;
    font-size: 13px;
}
div#lefthome .card-header a {
    color: #fdfdfd !important;
}


p.card-link,a.card-link,.category,.seBlogComments tr td div a {
    font-size: 13px;
    font-weight: 100;
}

.category {
    text-align: left;
    margin-bottom: -23px;
}
.blog_leftsearch .card-header {
    font-size: 0;
}
.blog_leftsearch .card-header:before {
    content: 'Искать';
    font-size: 16px;
}
input[type="text"]::placeholder {
    color: #c2c2c2;
}
a.page-link {
    background: #5b6ef0;
    font-size: 16px;
    border-radius: unset !important;
    color: #fdfdfd;
    margin-left: 10px;
    line-height: 2;
    transition: 0.2s;
    padding: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
a.page-link:hover {
    background: #fcbe8f;
    color: #fdfdfd;
    padding-left: 20px !important;
}
.additional_info.pl-3 {
    margin-top: 10px;
}

div#lefthome li.p-1 a {
    display: block;
    transition: 0.2s cubic-bezier(0.15, 1.27, 1, 1.15);
}
div#lefthome li.p-1 a:hover {
    padding-left: 25px;
    box-shadow: inset 15px 0 #6170ef;
}


h2.card-title {
    margin-bottom: 10px;
}
h2.card-title {
    max-width: 100%;
    overflow: hidden;
    height: 38px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
:focus {
    box-shadow: unset !important;
}

button.button_down,.copyright [href="#"] {
    transition: 0.2s cubic-bezier(0.15, 1.27, 1, 1.15);
}

[onclick="window.scrollTo(0,100000); return false;"]:hover {
    padding-top: 15px;
}

.copyright [href="#"]:hover {
    padding-bottom: 15px;
}

font.disabled {
    font-size: 13px;
    line-height: 2;
    color: #5a5e71 !important;
}

a#comment_next_page_top,a#comment_next_page_bottom,a#comment_last_page_top,a#comment_last_page_bottom {
    color: #576def;
    font-size: 13px;
    line-height: 2;
}

.comment_headline {
    background: linear-gradient( 90deg, #546cf0, #bc8eee,#ffc08a);
    font-size: 16px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: unset;
    color: #fdfdfd;
    border: unset;
}

div#comment_subscribe a {
    color: #fdfdfd !important;
}

a#attach_file_click {
    color: #fdfdfd;
    padding: 0 !important;
    text-align: center;
}

.profile_postcomment {
    border: unset !important;
    padding: 0 !important;
    padding-top: 20px !important;
}

div#postcomment_userphotos {
    padding: 0;
    border: unset;
}

div#postcomment_userphotos .p-1 {
    padding: 0 !important;
    margin-bottom: 5px;
}
img.img-thumbnail {
    padding: 4px;
    border: unset;
    background: transparent;
}

.userphoto_selected {
    background: #556cf0;
}

/*СКРОЛЛ*/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: #eceeef;
    border: 4px solid #fdfdfd;
}

::-webkit-scrollbar-track {
    background: #eceeef;
    border: 8px solid #fdfdfd;
}

.comment_headline1,.profile_postcomment1 {
    width: 700px;
}

input#comment_submit {
    background: #556df0;
    font-size: 16px;
    border: unset;
    color: #fdfdfd;
    padding: 0;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
}

div#bbcode [src="/images/bbcode/b.gif"],
[src="/images/bbcode/i.gif"],[src="/images/bbcode/u.gif"],
[src="/images/bbcode/img.gif"],[src="/images/bbcode/smile.gif"],
[src="/images/fffuuusmiles/fair.gif"]{
    width: 20px;
    height: 20px;
    image-rendering: pixelated;
}

div#bbcode {
    line-height: 3;
}

textarea#comment_body {
    background: #eceeef;
    border: unset;
    padding: 10px;
    border-radius: unset;
    font-size: 14px;
}

div#righthome:before {
    content: '';
    display: block;
    height: 200px;
    margin-bottom: 15px;
    background-blend-mode: screen;
}


blockquote.blockquote {
    background: #febf8b;
    border: unset;
    width: fit-content;
}

blockquote.blockquote {
    background: #5b6ef0;
    border: unset;
    width: fit-content;
    color: #fdfdfd;
}

.profile_comment_links a {
    font-size: 13px;
    font-weight: 100;
    color: #5a5e71;
}
.profile_comment_author {
    padding: 0 !important;
    padding-left: 5px !important;
}
.profile_comment_author a {
    font-size: 16px;
    font-weight: 100;
    line-height: 2;
    color: #5a5e71;
}
[src="/images/verify.png"] {
    margin-top: -4px;
}
[src="/images/verify.png"] {
    margin-top: -4px;
    filter: hue-rotate(45deg);
}
.post_image div,div#user_status {
    line-height: normal;
    color: #818181 !important;
    font-size: 10px !important;
}
.comment_headline {
    background: linear-gradient( 90deg , #546cf0, #bc8eee,#ffc08a), 
                url(https://i.ibb.co/47MDXRS/loi4jg-2.png) no-repeat top -375px left -242px;
    background-blend-mode: screen;
}

#mobile_menu .menu_item_dropdown a:hover {
    background: #5b6ef0 !important;
    color: white !important;
}

.modal-header,.modal-footer {
    border: unset;
}

div#he_styler {
    display: none;
}

.group_desc {
    padding-bottom: 10px;
    color: #5a5e71;
    font-size: 14px;
    line-height: 2;
    font-style: italic;
    display: none;
}

.modal-content {
    border-radius: unset;
    border: unset;
}

button.btn.btn-secondary {
    background: #556df0;
    font-size: 16px;
    border: unset;
    color: #fdfdfd;
    padding: 0;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: unset;
}

.modal-content a {
    color: #5a5e71;
}

/*==============MEDIA====================*/


@media (min-width: 1026px) {
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    background: linear-gradient( 90deg, #546cf0, #bc8eee,#ffc08a);
    border: unset;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu button.navbar-toggler {
    border: unset;
    border-radius: unset;
    filter: invert(1);
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu a.nav-link.top_menu_item {
    background: transparent;
    font-size: 16px !important;
    padding: 0;
    line-height: 2;
    color: #fdfdfd !important;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: unset;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu button.btn.btn-outline-success {
    position: unset;
    padding: 0;
    font-size: 16px;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: unset;
    border: unset;
    background: transparent;
    color: #ffffff;
}

/*доп, меню*/
  
div#mobile_menu {
    background: white;
    width: 90%;
    overflow-x: hidden;
}
  #mobile_menu .menu_item_dropdown a {
    color: #5b6ef0 !important;
    padding: 0;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    background: transparent !important;
}
  .portal_spacer {
    display: none;
}
div#mobile_photo+div {
    color: #5b6ef0;
    font-size: 14px;
    line-height: 2;
    display: none;
}
  div#mobile_photo img {
    width: 100px;
    max-height: 100px;
    object-fit: cover;
}
  #mobile_menu button.btn.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}

}

/*-----------1024-------------*/

@media (max-width: 1024px) {
  

.content {
    max-width: 100% !important;
    width: 100% !important;
    margin-top: 12px;
    padding: 0 !important;
}

div#righthome {
    margin: auto;
}


.card.mb-2.post_home:first-child .container_music {
    position: unset;
}

div#lefthome, .card.mb-2.post_home:first-child .container_music {
    min-width: 300px;
}

.post_text.pl-3 {
    padding: 7px !important;
}

.additional_info.pl-3 {
    padding: 0 !important;
}

p.card-link {
    margin: 0px;
}

a.card-link {
    float: left;
}

.category {
    margin: 0px;
}
table.body {
    padding: 7px !important;
}
    
button.btn.btn-outline-success:hover {
    background: #6d80f4 !important;
}
    
button.btn.btn-outline-success:before {
    width: 100%;
}

h2.card-title {
    max-width: 400px;
}

.show_menu.header-orange {
    font-size: 20px;
    text-align: center;
    line-height: 2;
    padding: 0;
}

.bg-light {
    border: unset;
    background: #5b6ef0;
    padding: 5px;
}


.collapse:not(.show) {
    display: block;
}





ul.navbar-nav.mr-auto [id="browse_blogs.php"],
ul.navbar-nav.mr-auto [id="browse_quiz.php"],
ul.navbar-nav.mr-auto [id="browse_groups.php"],
ul.navbar-nav.mr-auto [id="browse_albums.php"],
ul.navbar-nav.mr-auto [id="search.php"]{
    display: none;
}

.bg-light [href="/home.php"] {
    background: #6d80f4;
    color: #fdfdfd !important;
    font-size: 0 !important;
    line-height: 2.5;
    display: block !important;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    text-align: center;
}

.bg-light [href="/home.php"]:before {
    content: 'Beon';
    font-size: 16px;
}

button.btn.btn-outline-success {
    position: fixed;
    top: 0;
    right: 25%;
    width: 25%;
    background: #dfb9ff;
    border: unset;
    font-size: 0;
    line-height: 2.5;
    padding: 0;
    border-radius: unset;
    color: #fdfdfd;
}

button.btn.btn-outline-success:before {
    content: 'DOWN';
    font-size: 16px;
}

button.navbar-toggler {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    padding: 0;
    border-radius: unset;
    background: #febf8c;
    border: unset;
    height: 40px;
}


.bg-light button#newupdates {
    position: fixed;
    top: 0;
    left: 25%;
    width: 25%;
    padding: 0 !important;
    background: #a5a8ff !important;
    height: 40px;
}

.navbar-light .navbar-toggler-icon {
    filter: invert(1);
}
.card-body input[type="text"] {
    margin: auto;
    width: 100%;
}
  
/*доп*/
  
div#righthome {
    margin-left: 15px;
}
div#lefthome {
    display: block !important;
    max-width: 300px;
}
  div#content_flex {
    flex-direction: row;
}
.show_menu.header-orange {
    display: none;
}
  div#righthome {
    margin-top: 0px;
}
  .top_header {
    margin-top: 0px;
}
.card.mb-2.post_home:first-child .container_music {
    position: absolute;
}
/*доп, меню*/
  
div#mobile_menu {
    background: white;
    width: 90%;
    overflow-x: hidden;
}
  #mobile_menu .menu_item_dropdown a {
    color: #5b6ef0 !important;
    padding: 0;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    background: transparent !important;
}
  .portal_spacer {
    display: none;
}
div#mobile_photo+div {
    color: #5b6ef0;
    font-size: 14px;
    line-height: 2;
    display: none;
}
  div#mobile_photo img {
    width: 100px;
    max-height: 100px;
    object-fit: cover;
}
  #mobile_menu button.btn.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}
.additional_info.pl-3 {
    padding-left: 7px !important;
}
button#newupdates {
    margin: 0px;
} 
}



/*-----------768-------------*/

@media (max-width: 768px) {
  
div#content_flex {
    flex-direction: column;
}
  
.show_menu.header-orange {
    display: block !important;
}
  


.content {
    max-width: 100% !important;
    width: 100% !important;
    margin-top: 12px;
    padding: 0 !important;
}

div#righthome {
    margin: auto;
}


.card.mb-2.post_home:first-child .container_music {
    position: unset;
}

div#lefthome, .card.mb-2.post_home:first-child .container_music {
    min-width: 100%;
}

.post_text.pl-3 {
    padding: 7px !important;
}

.additional_info.pl-3 {
    padding: 0 !important;
}

p.card-link {
    margin: 0px;
}

a.card-link {
    float: left;
}

.category {
    margin: 0px;
}
table.body {
    padding: 7px;
}

h2.card-title {
    max-width: 250px;
}

.show_menu.header-orange {
    font-size: 20px;
    text-align: center;
    line-height: 2;
    padding: 0;
}

.bg-light {
    border: unset;
    background: #5b6ef0;
    padding: 5px;
}


.collapse:not(.show) {
    display: block;
}

ul.navbar-nav.mr-auto [id="browse_blogs.php"],
ul.navbar-nav.mr-auto [id="browse_quiz.php"],
ul.navbar-nav.mr-auto [id="browse_groups.php"],
ul.navbar-nav.mr-auto [id="browse_albums.php"],
ul.navbar-nav.mr-auto [id="search.php"]{
    display: none;
}

.bg-light [href="/home.php"] {
    background: #6d80f4;
    color: #fdfdfd !important;
    font-size: 0 !important;
    line-height: 2.5;
    display: block !important;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    text-align: center;
}

.bg-light [href="/home.php"]:before {
    content: 'Beon';
    font-size: 16px;
}

button.btn.btn-outline-success {
    position: fixed;
    top: 0;
    right: 25%;
    width: 25%;
    background: #dfb9ff;
    border: unset;
    font-size: 0;
    line-height: 2.5;
    padding: 0;
    border-radius: unset;
    color: #fdfdfd;
}

button.btn.btn-outline-success:before {
    content: 'DOWN';
    font-size: 16px;
}

button.navbar-toggler {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    padding: 0;
    border-radius: unset;
    background: #febf8c;
    border: unset;
    height: 40px;
}


.bg-light button#newupdates {
    position: fixed;
    top: 0;
    left: 25%;
    width: 25%;
    padding: 0 !important;
    background: #a5a8ff !important;
    height: 40px;
    margin: 0px;
}

.navbar-light .navbar-toggler-icon {
    filter: invert(1);
}
.card-body input[type="text"] {
    margin: auto;
    width: 100%;
}
div#content_flex [style="display: block;"]:first-child {
    display: none !important;
}
/*доп, меню*/
  
div#mobile_menu {
    background: white;
    width: 90%;
    overflow-x: hidden;
}
  #mobile_menu .menu_item_dropdown a {
    color: #5b6ef0 !important;
    padding: 0;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    background: transparent !important;
}
  .portal_spacer {
    display: none;
}
div#mobile_photo+div {
    color: #5b6ef0;
    font-size: 14px;
    line-height: 2;
    display: none;
}
  div#mobile_photo img {
    width: 100px;
    max-height: 100px;
    object-fit: cover;
}
  #mobile_menu button.btn.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}
.additional_info.pl-3 {
    padding-left: 7px !important;
}
button.btn.btn-outline-success:before {
    content: 'DOWN';
    font-size: 16px;
    background: transparent;
    opacity: 1;
}
button.navbar-toggler, button.navbar-toggler:hover {
    background-color: #5a5700 !important;
    opacity: 1;
    filter: invert(1);
}
table.body {
    padding-top: 35px !important;
}
}



/*-----------700-------------*/

@media (max-width: 700px) {
  

div#content_flex {
    flex-direction: column;
}
  
.show_menu.header-orange {
    display: block !important;
}
  

.content {
    max-width: 100% !important;
    width: 100% !important;
    margin-top: 12px;
    padding: 0 !important;
}

div#righthome {
    margin: auto;
}


.card.mb-2.post_home:first-child .container_music {
    position: unset;
}

div#lefthome, .card.mb-2.post_home:first-child .container_music {
    min-width: 100%;
}

.post_text.pl-3 {
    padding: 7px !important;
}

.additional_info.pl-3 {
    padding: 0 !important;
}

p.card-link {
    margin: 0px;
}

a.card-link {
    float: left;
}

.category {
    margin: 0px;
}
table.body {
    padding: 7px;
}

h2.card-title {
    max-width: 250px;
}

.show_menu.header-orange {
    font-size: 20px;
    text-align: center;
    line-height: 2;
    padding: 0;
}

.bg-light {
    border: unset;
    background: #5b6ef0;
    padding: 5px;
}


.collapse:not(.show) {
    display: block;
}


ul.navbar-nav.mr-auto [id="browse_blogs.php"],
ul.navbar-nav.mr-auto [id="browse_quiz.php"],
ul.navbar-nav.mr-auto [id="browse_groups.php"],
ul.navbar-nav.mr-auto [id="browse_albums.php"],
ul.navbar-nav.mr-auto [id="search.php"]{
    display: none;
}

.bg-light [href="/home.php"] {
    background: #6d80f4;
    color: #fdfdfd !important;
    font-size: 0 !important;
    line-height: 2.5;
    display: block !important;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    text-align: center;
}

.bg-light [href="/home.php"]:before {
    content: 'Beon';
    font-size: 16px;
}

button.btn.btn-outline-success {
    position: fixed;
    top: 0;
    right: 25%;
    width: 25%;
    background: #dfb9ff;
    border: unset;
    font-size: 0;
    line-height: 2.5;
    padding: 0;
    border-radius: unset;
    color: #fdfdfd;
}

button.btn.btn-outline-success:before {
    content: 'DOWN';
    font-size: 16px;
    background: transparent;
    opacity: 1;
}
button.navbar-toggler {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    padding: 0;
    border-radius: unset;
    background: #febf8c;
    border: unset;
    height: 40px;
}


.bg-light button#newupdates {
    position: fixed;
    top: 0;
    left: 25%;
    width: 25%;
    padding: 0 !important;
    background: #a5a8ff !important;
    height: 40px;
}

.navbar-light .navbar-toggler-icon {
    filter: invert(1);
}
.card-body input[type="text"] {
    margin: auto;
    width: 100%;
}
div#content_flex [style="display: block;"]:first-child {
    display: none !important;
}
  
/*доп, меню*/
  
div#mobile_menu {
    background: white;
    width: 90%;
    overflow-x: hidden;
}
  #mobile_menu .menu_item_dropdown a {
    color: #5b6ef0 !important;
    padding: 0;
    font-size: 15px;
    line-height: 2;
    background: transparent !important;
}
  .portal_spacer {
    display: none;
}
div#mobile_photo+div {
    color: #5b6ef0;
    font-size: 14px;
    line-height: 2;
    display: none;
}
  div#mobile_photo img {
    width: 100px;
    max-height: 100px;
    object-fit: cover;
}
  #mobile_menu button.btn.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}
.additional_info .card-link {
    display: block !important;
    text-align: left;
}
.additional_info.pl-3 {
    padding-left: 7px !important;
}
button.navbar-toggler, button.navbar-toggler:hover {
    background-color: #5a5700 !important;
    opacity: 1;
    filter: invert(1);
}
table.body {
    padding-top: 35px !important;
}
}



/*UPD*/

.comment_headline {
    margin-top: 15px;
}

.blog_leftprofile {
    font-weight: 100 !important;
}
.seBlogColumnRightPadding {
    padding: 0px !important;
}

.profile_comment_body a {
    color: #5b6ef0;
}

div#designs {
    background: #eceeef;
    position: fixed !important;
    bottom: 45px !important;
    right: 5px !important;
    height: 32px !important;
    width: 44px !important;
    overflow: hidden;
}

div#designs:before {
    content: 'X';
    text-align: center;
    display: block;
    font-size: 16px;
    line-height: 2;
    color: #7176ef;
}

.post_data {
    margin-top: 35px;
}

#mobile_menu .menu_item_dropdown a {
    text-align: left !important;
    padding-left: 10px !important;
}


/*-------UPD FIX-------*/

span#notify_total {
    line-height: normal;
    padding: 0px;
    height: unset;
    background: transparent;
    color: #fdfdfd;
}

.top_header table tbody tr td:first-child {
    width: unset;
}

button#newupdates {
    padding: 0px;
    padding-left: 7px;
    padding-right: 7px;
}

button#newupdates:hover {
    background: #fdc296 !important;
}

/*-----УБИРАЕТ ТЕ БОРДЕРЫ В ШАПКЕ-----*/

.top_header .top_menu_link:hover div.menu_dropdown {
    border: unset !important;
}

.top_header .top_menu_link div.menu_dropdown {
    padding: 0px;
    border: unset !important;
}

/*-------------------*/

a#attach_file_click {
    top: 87px;
}

.blog_leftsearch .card-body {
    margin-top: 10px;
}


/*-----------------FIX 03.06.2024---применит ли без хаба хз----------*/

div#righthome:before {
    content: '';
    display: block;
    height: 200px;
    margin-bottom: 15px;
    background: url(https://i.ibb.co/Vw2LgsL/gradient.png);
    background-size: auto 200px;
}


.card-header, button.btn.btn-primary, button.btn.btn-primary:hover {
    background: url(https://i.ibb.co/Vw2LgsL/gradient.png) no-repeat left -112px top, linear-gradient(90deg, #546cf0, #bc8eee, #c7b3ff) !important;
    background-blend-mode: hard-light;
    background-size: 1000px, auto !important;
}

.card.mt-3.blog_leftmenu .card-header, .card.blog_categories .card-header,.show_menu.header-orange {
    background: url(https://i.ibb.co/Vw2LgsL/gradient.png) no-repeat right -100px, linear-gradient(90deg, #546cf0, #d8a877, #529edb) !important;
    background-size: 1000px, auto !important;
}

.show_menu.header-orange {
    background-blend-mode: hard-light;
    border-radius: unset !important;
}

.card-header {
    padding: 0px !important;
}

button.button_down:hover {
    background: #5b6ef0 !important;
}

.copyright a, .copyright *, .copyright {
    font-size: 0px !important;
}

div.menu_item_dropdown a:hover {
    background: #fcbe8f !important;
    padding-left: 10px;
}

[href="im.php"] {
    background: #f7cdbd !important;
}

[onclick^="subscribe"]:before {
    font-family: "fontawesome";
}
