@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Tektur&family=Yanone+Kaffeesatz:wght@300&display=swap');

@font-face{font-family:'cappuccicons';src:url('//source.cappuccicons.com/cappuccicons.eot');src:url('//source.cappuccicons.com/cappuccicons.eot#iefix') format('embedded-opentype'), url('//source.cappuccicons.com/cappuccicons.ttf') format('truetype'), url('//source.cappuccicons.com/cappuccicons.woff') format('woff'), url('//source.cappuccicons.com/cappuccicons.svg#cappuccicons') format('svg');font-weight:normal;font-style:normal;font-display:block;}

/*

font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Tektur', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;

*/



/*----ПРЕДО ДОПОЛНЕННОЙ РЕАЛЬНОСТИ-----*/

.post-content.blog_total_counter+.post-content span.imagewrapper {
    position: relative;
}

.post-content.blog_total_counter+.post-content:has([src="//i1.beon.fun/21/15/1521/35/794235/snnnn23.png"]) span.imagewrapper:before {
    content: '';
    display: block;
    background: url(https://i.ibb.co/9qVfH3d/blood.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 45px;
    left: -240px;
    filter: brightness(0.7);
    z-index: 33;
}

[src="//i1.beon.fun/21/15/1521/35/794235/snnnn23.png"] {
    filter: grayscale(1) brightness(0.7) !important;
}

/*-------*/

a {
    text-decoration: unset !important;
}

body {
    font-family: 'Tektur', cursive;
    font-size: 13px;
}

body.bodybg {
    background: #090909;
}

body.bodybg {
    background: url(https://i.ibb.co/TkMS2y0/ch-2.png) fixed;
    background-color: black;
}


main.py-4 {
    width: 65%;
    margin-left: 10%;
}

div#app1 {
    padding-left: 45px;
    padding-right: 45px;
}



.left-menu {
    position: sticky;
    top: 20%;
}

.content {
    max-width: 700px;
    margin-left: 30px;
}



.left-menu {
    margin-top: 0px !important;
    width: 300px;
    max-width: 300px;
    margin-right: 20px !important;
    border: unset !important;
}

.left-menu__friends.left-menu__friends_offline,
.community__moders,.community__members {
    display: none !important;
}

.post-content {
    padding: 20px;
    margin: auto !important;
    margin-bottom: 30px !important;
}

.datebg {
    background: transparent;
    color: #606060 !important;
    font-weight: 100;
    text-align: right;
    font-size: 13px;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 0px;
    padding-left: 10px;
    z-index: 2;
    position: relative;
    border-bottom: 1px solid #ffffff24;
    padding-bottom: 30px;
    padding-right: 65px;
}

.datebg:before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    background: url(https://i.ibb.co/RPczDKG/snake.png) no-repeat center / contain;
    position: absolute;
    top: -30px;
    right: 0;
    filter: contrast(0.5);
    image-rendering: -webkit-optimize-contrast;
}

h3.left-menu-text {
    background: transparent !important;
    font-size: 16px;
    text-align: center;
}


.post-content, .blog__about, span.readertime, a.user.post-title-user, span.post-title-date, .row.w-100.mt-3 *, .left-menu * {
    color: #979797 !important;
    font-size: 12px;
}

a.post-title, .row.w-100.mt-3 a.tag,.post-content h1,.small-text,.small-text+div a,a.load_ignored_comments,.post-row .post-opt *,
.prevsibling.col-md-6,.prevsibling.col-md-6 a,.comment-box h2,.nextsibling.text-right.col-md-6,.nextsibling.text-right.col-md-6 a {
    color: #606060 !important;
}

.small-text {
    font-size: 13px;
}
a.user.post-title-user {
    font-size: 15px;
}
span.comments_count {
    position: sticky;
    top: 100%;
}


/*----ВРЕМЕННО ОТКЛЮЧЕНО----*/

[action="/search"] {
    display: none;
}

/*----END----*/


.blog__about {
    text-align: center;
}


.post-content, .blog__about, span.readertime, a.user.post-title-user, span.post-title-date, .row.w-100.mt-3 *, .left-menu *,
.comment-row {
    color: #a8a8a8 !important;
    font-size: 12px;
}

span.post-title-date {
    padding: 0px;
    font-size: 11px;
}

.row.w-100.mt-31 {
    padding: 20px;
    border: 1px solid #ffffff24;
}

h3.left-menu-text {
    display: none;
}


.blog__read-me, .blog__tags, .blog__last-comments {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}



.post-content.blog_total_counter,.user:before,.tag:before {
    display: none;
}




a.post-title {
    text-decoration: unset;
}


span.post-title-date+span,img.flag {
    display: none;
}
span.post-title-date {
    padding: 0px;
}


.post-opt.col-12.col-md-6 {
    padding: 0px;
}
.row.w-100.mt-3 {
    margin: 0px;
}

.post-text {
    padding: 20px;
    padding-right: 0px;
}

.post-avatar img,img.mw-100,img.imagefsme {
    filter: grayscale(1);
}


.post-avatar img:hover,img.mw-100:hover,img.imagefsme:hover {
    filter: unset;
}


/*----ПЛЕЕР----*/

div#beon-fnplayer {
    width: 80%;
    margin: auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background: transparent;
}


div#beon-fnplayer {
    background: transparent;
}
div#beon-fnplayer {
    background: transparent;
}



div#beon-fnplayer {
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
    background: transparent;
    margin-top: 35px !important;
}

button#fnplayer-stop {
    display: none;
}

button#fnplayer-play {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    margin: auto !important;
    background: #660e0e;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    width: 9px;
    height: 11px;
    border: unset;
}

div#fnplayer-slider {
    margin: 0px !important;
}


div#fnplayer-slider-inner, div#fnplayer-volume-inner {
    background: #660e0e;
    height: 3px;
    margin-top: -1px;
    border: unset;
}

div#fnplayer-slider span {
    font-size: 0;
}

div#fnplayer-slider, div#fnplayer-volume {
    height: 1px;
    background: #343434;
}

div#fnplayer-volume-mask {
    border: unset;
}

#fnplayer-play.paused {
    clip-path: unset;
    background: transparent;
    border-width: 0px 0 0px 7px;
    padding: 0 !important;
    color: #660e0e !important;
}

/*----END----*/


.blog__about .text-center+div:not(div#beon-fnplayer) {
    margin-top: 20px;
    margin-bottom: 10px;
}


/*----ШАПКА----*/

.hamburger-menu {
    display: block;
}

.bg-white {
    background: transparent;
    position: sticky;
    top: 0;
    padding: 10px;
}

.pc-menu,.m2{
    display: none;
}




a.navbar-brand, label.menu__btn, a.my-menu.for-mobile.d-none.d-md-inline, [onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-family: 'cappuccicons';
    color: #a8a8a8 !important;
    font-size: 0;
    background: transparent;
    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    padding-left: 0px !important;
    padding-top: 0 !important;
    line-height: normal;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    position: fixed;
    bottom: 10px;
    right: 15px;
    background: transparent;
    color: #a8a8a8 !important;
}

.container {
    max-width: 100%;
    padding: 0px;
}

label.menu__btn {
    margin: 0px;
}


.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    display: none;
}



.hamburger-menu {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    margin-top: -5px;
}


/*----ICON----*/

a.navbar-brand:before, label.menu__btn:before, a.my-menu.for-mobile.d-none.d-md-inline:before, [onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    content: '';
    background: url(https://i.ibb.co/YBDmC5Z/snake-3.png) no-repeat center / 80px;
    display: block;
    width: 100%;
    height: 100%;
    filter: contrast(0.5);
}


label.menu__btn:before {
    background: url(https://i.ibb.co/Kj1yXgV/hum.png) no-repeat center / 25px;
}

a.my-menu.for-mobile.d-none.d-md-inline:before {
    background: url(https://i.ibb.co/KqdFcHD/arrow.png) no-repeat center / 70px;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    background: url(https://i.ibb.co/KqdFcHD/arrow.png) no-repeat center / 70px;
    transform: rotate(180deg);
}

/*----------END------*/

ul.menu__box {
    right: unset;
    left: 160px;
    top: 14px;
    bottom: unset;
    width: 250px;
    height: 0px;
    padding: 15px;
    background: #616161;
}

a.menu__item {
    color: #080808;
    font-family: 'Tektur', cursive;
    font-size: 13px;
}

.bg-white {
    z-index: 2;
}

.menu__item:hover {
    background-color: transparent;
}
#menu__toggle:checked ~ .menu__box {
    height: 393px;
}


a.menu__item {
    padding: 0px;
    font-weight: 100;
    text-align: left;
}

a.menu__item:hover {
    color: #b3aeae;
}

.avatar-select-list::-webkit-scrollbar,
ul.menu__box::-webkit-scrollbar,
.emj-dropdown-content::-webkit-scrollbar {
    display: none;
}

/*----END----*/

.crumbs {
    color: #606060;
    position: sticky;
    top: 77px;
    padding-left: 10px;
    margin-top: 0px !important;
    font-size: 0px;
}

.crumbs a {
    font-size: 14px;
    color: #5e5e5e;
}

p.alert.alert-success {
    border-radius: unset;
    background: #d4d4d4;
    border: unset;
    color: black;
}

.footer__infolinks.p-1,div#page__admincontact,div#footer,div#page__rendertime,main.py-4+.crumbs {
    display: none;
}


.row.w-100.mt-3 a.tag, .post-text a {
    color: #881313 !important;
}

/*----СКРОЛЛ----*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #070707;
}

::-webkit-scrollbar-thumb {
    background-color: #404040 !important;
    border: 3px solid #070707;
    background-blend-mode: soft-light;
}


/*----END----*/

a.post-title {
    display: block;
    width: fit-content;
}

.post-content a.user.post-title-user, .post-content span.post-title-date, .post-contentspan.user-drop-menu.cur-p {
    color: #606060 !important;
}

div#usermenu {
    border-radius: unset;
    background: #080808;
    border: unset;
}
div#usermenu a {
    color: #a8a8a8 !important;
    font-size: 12px;
}

div#usermenu a, a.post-title:hover {
    color: #9d9d9d !important;
}

.post-content.blog_total_counter+.post-content a.user.post-title-user,
.post-content.blog_total_counter+.post-content span.user-drop-menu.cur-p{
    display: none;
}

.blog__about [href="/p/groups"],
[href="/p/manage_members"],
[href="/members-activities"]{
    display: none;
}



.content {
    position: relative;
    z-index: 2;
}

.blog__about .text-center+div:not(div#beon-fnplayer) {
    position: relative;
    border-bottom: 1px solid #ffffff24;
    padding-bottom: 15px;
    margin-bottom: 40px;
    display: none;
}

.content {
    margin-top: -35px;
}
.left-menu {
    overflow: visible;
}
.blog__about {
    margin-top: 150px;
}

.blog__about .text-center {
    display: none;
}

.left-menu-text,.post-opt.col-12.col-md-6,div#usermenu {
    text-transform: lowercase;
}

div#usermenu {
    z-index: 333;
}



.blog__about * {
    color: #919191 !important;
}


/*----КОММЕНТЫ----*/



.comment-box .comment-base {
    padding: 20px;
    padding-right: 0px;
}

span.post-title-date+a {
    font-size: 10px;
    color: #686868;
    display: none;
}

span.user-drop-menu.cur-p {
    color: #686868;
}

.comment-text+.mt-3, .post-opt.mt-3 * {
    color: #686868;
}

p.quotation {
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    border-left: 1px solid;
    color: #797979;
    border-color: #ffffff24;
}

p.quotation:last-child {
    margin-bottom: 15px;
}

div#commentpreviewplace+p {
    display: none;
}

.textareabg {
    background: transparent;
    padding: 20px;
    color: #a0a0a0;
}

span.emj-dropdown {
    padding: 0px;
}

img.dropbtn, [src^="//beon.fun/i/smiles/"] {
    filter: grayscale(1) opacity(0.7);
}

textarea {
    background: #0606068f;
    border: unset;
    color: #bdbdbd;
    padding: 10px;
}

textarea:focus {
    outline: unset !important;
}

.tag_bar > span {
    background: #191919;
    display: inline-block;
    min-width: 22px;
    height: 22px;
    text-align: center;
    font-size: 14px;
}

.tag_bar {
    margin-top: 10px;
    margin-bottom: 10px;
}


input[type="submit"] {
    background: #191919;
    color: #a0a0a0;
    border: unset;
    font-size: 14px;
}

.avatar-select-label {
    border: 4px solid #191919;
    filter: grayscale(1);
    margin-bottom: 10px;
}

.avatar-select-label-selected {
    border: 4px solid #a0a0a0 !important;
    filter: unset !important;
}

.comment-box .comment-row {
    border-top: 1px solid #ffffff24;
    padding-top: 20px;
    margin-top: 10px;
}

.sign {
    font-size: 10px;
    color: #797979 !important;
}

.comment-box span.post-title-date {
    float: right;
    color: #797979 !important;
}


.post-opt.col-12.col-md-6 * {
    color: #606060 !important;
}


a.user.post-title-user {
    color: #606060 !important;
}

.comment-box h2,.prevsibling.col-md-6,.nextsibling.text-right.col-md-6 {
    display: none;
}

.comment-content {
    min-height: auto;
    margin-bottom: 35px;
}



#menu__toggle:checked ~ :before {
    background: url(https://i.ibb.co/9NyBJNv/cross.png) no-repeat center / 45px;
}

@media (min-width: 1920px) {
  main.py-4 {
    margin: auto;
    width: 70%;
}
  .content {
    max-width: 820px;
}
}
.blog__gifts,.blog__iread,.blog__read-me {
    display: none;
}
[src="//beon.fun/i/design-off.png"] {
    display: none;
}

span.embed-responsive.embed-responsive-16by9,.post-text img,.comment-base img {
    filter: grayscale(1);
}

span.embed-responsive.embed-responsive-16by9:hover,.post-text img:hover,.comment-base img:hover {
    filter: unset;
}
.comment-text a {
    color: #881313;
}

.comment-box__message-partial.comment-content {
    color: #881313;
    text-align: center;
}

.blog:before {
    filter: grayscale(1);
}

p.quotation {
    margin-left: 15px;
}

[src="//beon.fun/i/offline.png"] {
    display: none;
}



/*----UPD-----*/

a.post-title,a.user.post-title-user,.left-menu a,
.comment-text+.mt-3 *, .post-opt.mt-3 *{
    transition: 0.4s;
    transition-delay: 0.1s;
}

a.post-title:hover, a.user.post-title-user:hover, .left-menu a:hover, .comment-text+.mt-3 *:hover, .post-opt.mt-3 *:hover {
    color: #660e0e !important;
    transition-delay: 0s;
}
.blog__about a {
    display: none; 
}

a.actionignore,[href="/design/enable"],[href="//forestone.beon.fun/subscriptions/"],
[href="/p"],[href="/drafts"] {
    display: block !important; 
}

.left-menu-text {
    font-size: 0;
}

.right-menu-text {
    display: none;
}

input[type="submit"] {
    transition: 0.4s;
    transition-delay: 0.1s;
}

input[type="submit"]:hover {
    background: #404040;
    color: black;
    transition-delay: 0s;
}


.comment-text+.mt-3 {
    position: sticky;
    top: 100%;
}
  .emj-dropdown-content {
    background: #191919;
    max-height: 240px;
}

.post-avatar {
    margin: 0px !important;
}

a.post-title,.post-content a.user.post-title-user {
    margin-left: -5px;
}


#menu__toggle:checked ~ .menu__box {
    height: 570px;
}




div#commentpreviewplace .comment-content {
    padding: 10px;
}

div#commentpreviewplace .comment-base {
    padding: 10px;
}
div#commentpreviewplace a.post-title-user {
    color: #606060!important;
    font-size: 12px;
}


.blog__about .left-menu-text a {
    font-size: 13px;
}
.blog__about .left-menu-text {
    font-size: 0;
}

/*----MEDIA----*/

@media (max-width: 280px), (max-width: 480px), (max-width: 768px) {
  main.py-4 {
    width: 100%;
    margin: auto;
}
  .post-content {
    padding: 0px;
}
  .content {
    margin: 0px;
}
  .post-text {
    padding: 7px;
}
.datebg {
    margin: 0px;
    padding: 0px;
    padding-right: 55px;
    font-size: 14px;
    margin-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
  span.comments_count span {
    font-size: 0px !important;
}
  span.comments_count span::before {
    font-size: 13px;
}
.bg-white {
    z-index: 33;
    background: #060606;
    padding: 5px;
    top: 2px;
}
  
a.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none {
    font-family: 'cappuccicons';
    color: #a8a8a8 !important;
    font-size: 0;
    background: transparent;
    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    padding-left: 0px !important;
    padding-top: 0 !important;
    line-height: normal;
    text-shadow: unset !important;
}
a.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none:before {
    content: '';
    background: url(https://i.ibb.co/KqdFcHD/arrow.png) no-repeat center / 70px;
    display: block;
    width: 100%;
    height: 100%;
    filter: contrast(0.5);
}
.hamburger-menu {
    margin: 0px;
}
ul.menu__box {
    right: 0;
    left: unset;
    top: 70px;
    bottom: unset;
    width: 250px;
    height: 0px;
    padding: 15px;
    background: #060606;
}
a.menu__item {
    color: #686868;
    text-align: center;
}
  .fas, .far, .tag_bar > * {
    font-size: 14px;
}

.content {
    padding: 10px;
}
  .comment-box .comment-base {
    padding: 10px;
}
  .textareabg {
    padding: 0px;
}
  .fas, .far, .tag_bar > * {
    padding: 0px;
}
  .tag_bar > span {
    margin-bottom: 7px;
}
.form__show-avatars {
    background: #191919;
    color: #a0a0a0;
    border: unset;
    font-size: 14px;
}
  .crumbs {
    position: unset;
    margin: 0px !important;
}
  .comment-text+.mt-3 {
    text-align: right;
}
  .emj-dropdown-content {
    background: #191919;
    max-height: 240px;
}
[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    z-index: 333;
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: unset;
    transform: translateY(5px);
    height: 25px;
}
  a.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none {
    transform: translateY(10px);
    height: 25px;
}
  body.bodybg {
    background-position: center;
}
  input#submitpreview {
    margin-top: 10px;
}
.mobile_open_menu h3.left-menu-text {
    display: block;
}

.left-menu {
    position: unset;
}

.left-menu {
    width: 100%;
    margin: auto !important;
    max-width: 100%;
    margin-top: 20px !important;
}
.left-menu > div.mobile_open_menu > h3 {
    font-weight: normal;
    color: #6a6a6a !important;
}



.blog__gifts, .blog__iread, .blog__read-me,.text-center,.blog__tags,.blog__last-comments {
    display: none !important;
}

.blog__about .text-center+div:not(div#beon-fnplayer) {
    display: none !important;
}

.blog__about {
    margin: 0px;
    margin-bottom: 35px;
}


.blog__about .left-menu-text a {
    font-size: 14px !important;
}
.blog__about .left-menu-text {
    font-size: 0 !important;
}
.blog__about * {
    color: #666666 !important;
}
.left-menu div {
    font-size: 14px !important;
}
.fa-angle-down:before {
    color: #676666;
}

.left-menu > div.mobile_open_menu > h3 {
    background: #191919 !important;
    color: #616161 !important;
    border: unset;
    font-size: 17px !important;
    line-height: 2;
}
.crumbs a {
    font-size: 16px;
}
}


.content h1 {
    color: #666666;
}

.row.w-100.mt-3 * {
    transition: 0.4s;
    transition-delay: 0.1s;
}

.row.w-100.mt-3 *:hover {
    color: #660e0e !important;
    transition-delay: 0s;
}

.left-menu__user-notification.left-menu__unread-message img {
    filter: grayscale(1);
}

.blog__about [href="/design/disable"] {
    font-size: 13px !important;
    display: block;
}

.tag_bar > span {
    transition: 0.4s;
    transition-delay: 0.1s;
}

.tag_bar > span:hover {
    background: #404040;
    color: black;
    transition-delay: 0s;
}

.comment-text+.mt-3 *,input[type="submit"],.row.w-100.mt-3 * {
    cursor: pointer;
}

input[type="submit"] {
    line-height: 2;
}

.textareabg {
    margin-bottom: 25px;
}


a.post-subscribe,
a.load_ignored_comments {
    transition: 0.4s;
    transition-delay: 0.1s;
}

a.post-subscribe:hover,
a.load_ignored_comments:hover {
    color: #881313 !important;
    transition-delay: 0s;
}


input[type="submit"]:hover,.tag_bar > span:hover {
    background: #3a0606;
    color: black;
    transition-delay: 0s;
}


input.w-100,input[type="text"],select {
    background: #0606068f;
    border: unset;
    color: #bdbdbd;
}

.col-md-4 {
    padding: 0px;
}

.pagination a {
    margin-left: 10px;
}

a.post-title-user {
    color: #606060 !important;
    font-size: 13px;
}


/*------UPD 06.09.2023--------*/

[onsubmit="confirmRemoving()"] a {
    font-size: 12px !important;
    display: unset !important;
    color: #dadada !important;
}

[name="commname"] {
    position: relative;
    z-index: 22;
}

button.btn.btn-primary, button.btn.btn-secondary {
    background: #191919;
    color: #a0a0a0;
    border: unset;
    font-size: 14px;
    border-radius: 0px;
    padding: 5px;
}

.post-content .text-center {
    display: unset !important;
}

.blog__about [href$=".beon.fun/friends-posts/"] {
    display: block;
}
