@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Noto+Sans+Cypro+Minoan&family=Noto+Serif+SC:wght@300&family=Roboto+Condensed&family=Victor+Mono&display=swap');


@font-face{font-family:'cappuccicons';src:url('//source.cappuccicons.com/cappuccicons.eot');src:url('//source.cappuccicons.com/cappuccicons.eot#iefix') format('embedded-opentype'), url('//source.cappuccicons.com/cappuccicons.ttf') format('truetype'), url('//source.cappuccicons.com/cappuccicons.woff') format('woff'), url('//source.cappuccicons.com/cappuccicons.svg#cappuccicons') format('svg');font-weight:normal;font-style:normal;font-display:block;}


/*

font-family: 'Manrope', sans-serif;
font-family: 'Noto Sans Cypro Minoan', sans-serif;
font-family: 'Noto Serif SC', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Victor Mono', monospace;

*/

div#entry_main {
    display: none;
}

.copyright {
    display: none;
}


body {
    font-family: 'Victor Mono', monospace,'Noto Serif SC', serif;
}

body {
    background-color: #8e9298;
}

h2.card-title a,.blog_leftprofile a,.profile_comment_author a {
    color: #343234;
}


h6.card-subtitle.mb-2.text-muted.post_date a,.category a,
.card.blog_categories a, h6.card-subtitle.mb-2.text-muted.post_date {
    color: #343234;
}

input[type="text"]::placeholder {
    color: #343234;
}

/*----УДАЛИТЬ----*/



[src="https://beon.vip/uploads_user/10000/9068/b5b3a35a1f749e8ca0bc6e89bc586ed1.png"],
.blog_leftphoto [src="./images/nophoto.gif"],
[src="https://beon.vip/uploads_user/10000/9068/28803b3f3bf50b829d41166b1d7e4a81.png"] {
    filter: grayscale(1);
}


.blog_leftphoto [src="./images/nophoto.gif"] {
    content: url(https://beon.vip/uploads_user/10000/9068/b5b3a35a1f749e8ca0bc6e89bc586ed1.png);
    image-rendering: pixelated;
}


/*-------------------*/

.content {
    width: 60% !important;
    min-width: 960px;
    max-width: 1200px;
    margin-left: unset !important;
    background: #ebebeb;
}

table.body {
    padding: 0px !important;
}


[style="padding: 10px; text-align: center; margin-top: 10px;"] {
    display: none;
}


body:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    image-rendering: pixelated;
    background: url(https://i.ibb.co/xD6LP5G/winter-red.png) no-repeat right fixed;
    background-size: contain;
}

.group_desc {
    display: none;
}

.copyright {
    display: none;
}

.content:before {
    content: 'stars';
    font-size: 0px;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.content:before {
    background: url(https://i.ibb.co/t4fGyT9/snow.png) fixed;
    background-size: 500px 500px;
    opacity: 0.6;
    animation: cos2 100s infinite linear;
    background-position: 500px 500px;
}



@keyframes cos2 {
  0%{background-position: 0 0;}
}

h2.card-title,h6.card-subtitle.mb-2.text-muted.post_date,.post_container,.seBlogComments {
    position: relative;
    z-index: 1;
}


div#lefthome .card,.card-header {
    border: unset;
    border-radius: unset !important;
}

.seBlogColumnRightPadding {
    padding: 15px !important;
}

li.p-1 {
    list-style: decimal;
    display: block;
}

.card.group_members {
    display: none;
}

.blog_leftphoto img {
    width: 100px;
    height: 100px;
    object-fit: none;
}
.blog_leftphoto {
    text-align: left !important;
    padding: 0px;
}

.blog_leftprofile {
    position: absolute;
    top: 0;
    left: 110px;
    text-align: left !important;
    width: calc(100% - 120px) !important;
}



div#user_status,.blog_user_status {
    font-size: 9px;
}

.blog_leftsearch input[type="text"] {
    background: transparent;
    line-height: 2;
    font-size: 16px;
}


.card-header {
    background: #a8a8a8;
    font-size: 16px;
    color: #ebebeb;
    text-align: revert;
}


.blog_leftprofile:before {
    content: '100/100';
    display: block;
    width: 100%;
    height: 10px;
    background: #ed9278;
    position: absolute;
    top: 30px;
}

.blog_leftprofile:after {
    content: '100/100';
    display: block;
    width: 100%;
    height: 10px;
    background: #d3dacb;
    position: absolute;
    top: 60px;
}

.card.p-1:before {
    content: 'lvl 12';
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 22;
    color: #dae1d2;
    text-shadow: 0 0 2px black;
    opacity: 0;
}

.blog_leftprofile a {
    max-width: 100%;
    overflow: hidden;
    display: block;
    height: 25px;
}

div#lefthome {
  background: silver;
}

.content {
    padding: 0px !important;
}

div#righthome {
    padding-top: 15px;
}


div#lefthome:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://i.ibb.co/8dgb9L3/pixel-treee.png) no-repeat bottom left 90px;
    image-rendering: pixelated;
    position: fixed;
    bottom: 0;
    mix-blend-mode: plus-lighter;
    opacity: 0.5;
}

.seBlogColumnRightPadding {
    position: sticky;
    top: 0;
}

div#content_flex {
    min-height: 100vh;
}

.like_button.liked:before,.like_button.liked+span,span.card-text a,div.profile_comment_body a {
    color: #ed9278 !important;
}

.like_button.liked:before {
    text-shadow: 0px 0px #ed9278;
}

input#comment_submit,button.btn.btn-secondary {
    width: auto;
    background: #adba9d;
    border-radius: unset !important;
    color: #fbfbfb;
}

textarea#comment_body {
    border: unset;
    border-radius: unset;
    background: #fafafa;
}

.modal-content {
    border: unset;
    border-radius: unset;
    background: #ebebeb;
}


.post_text.pl-3 {
    padding: 10px !important;
}

.modal-header,.modal-footer {
    border: unset;
}
.noUpdates {
    color: #4f4d4f;
    text-align: center;
}
.modal-header {
    display: none;
}

:focus {
    box-shadow: unset !important;
    outline: unset !important;
}

/*-----ШАПКА-----*/

.top_header {
    border: unset;
    display: block;
    left: 0px;
    width: 100%;
    height: 90px;
    right: 0;
    bottom: 0;
    z-index: 222 !important;
    opacity: 1;
    transition: 0.2s;
    top: -90px;
}

.top_header {
    background-color: #c0c0c0;
    background-image: url(https://www.transparenttextures.com/patterns/noisy-grid.png);
}


[onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"] {
    bottom: -55px !important;
    left: 20px !important;
    width: 30px !important;
    height: 30px !important;
    background-color: #ed9278 !important;
}

.top_header:has(div#menu_main_dropdown[style="display: inline;"]) {
    top: 0px;
    transition-delay: 0s;
}

div#menu_main_dropdown>div {
    display: none;
}

.top_menu_link_container {
    display: block !important;
}



[onmouseover="showMenu('menu_dropdown_profile');"], [onmouseover="showMenu('menu_dropdown_blog');"], [onmouseover="showMenu('menu_dropdown_tests');"], [onmouseover="showMenu('menu_dropdown_groups');"], [onmouseover="showMenu('menu_dropdown_albums');"], [href="im.php"], [onmouseover="showMenu('menu_dropdown_albums');"], [onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"], [href="./"] {
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 50px;
    height: 50px;
    font-family: 'cappuccicons';
    color: #180207;
    text-align: center;
    text-decoration: unset !important;
}


[onmouseover="showMenu('menu_dropdown_profile');"] {
    bottom: 20px;
    left: 80px;
}

[onmouseover="showMenu('menu_dropdown_blog');"] {
    top: 20px;
    left: 140px;
}

[onmouseover="showMenu('menu_dropdown_tests');"] {
    bottom: 20px;
    left: 200px;
}


[onmouseover="showMenu('menu_dropdown_groups');"] {
    bottom: 20px;
    left: 260px;
}

[onmouseover="showMenu('menu_dropdown_albums');"] {
    bottom: 20px;
    left: 380px;
}

[href="im.php"] {
    bottom: 20px;
    left: 320px;
}


[onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"] {
    position: absolute;
    right: 20px !important;
    left: unset !important;
    top: 100px;
}

[href="./"] {
    bottom: 20px;
    left: 20px;
}

button#newupdates, button.btn.btn-primary, button.button_down {
    background: transparent !important;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-family: 'cappuccicons';
    color: #180207;
    text-align: center;
    text-decoration: unset !important;
    border-radius: 0px;
}

button.btn.btn-primary {
    right: 80px;
    font-size: 0px;
    line-height: normal;
}

button.btn.btn-primary:before {
    content: '\e97b';
    color: #4f4d4f;
    font-size: 30px;
}

[src="/images/notify.svg"] {
    filter: contrast(0.4);
}
[src="/images/button_down.svg"] {
    filter: invert(1) contrast(0.4);
    width: 30px;
}


button#newupdates {
    right: 140px;
}


[src="./images/logo_new.png"] {
    display: none;
}

.top_header table tbody tr td:first-child {
    width: auto !important;
}

.top_header div.menu_dropdown {
    border: unset !important;
    padding: 0px;
}

.top_menu_link:hover div.menu_dropdown {
    border: unset !important;
}


a.top_menu_item {
    font-size: 0px !important;
}

a.top_menu_item:before, [href="./"]:before {
    content: '\ea26';
    color: #4f4d4f;
    font-size: 30px;
}


[onmouseover="showMenu('menu_dropdown_profile');"]:before {
    content: '\ecf0' !important;
}


[onmouseover="showMenu('menu_dropdown_blog');"]:before {
    content: '\e904' !important;
}

[onmouseover="showMenu('menu_dropdown_tests');"]:before {
    content: '\eaea' !important;
}


[onmouseover="showMenu('menu_dropdown_groups');"]:before {
    content: '\eaf9' !important;
}

[onmouseover="showMenu('menu_dropdown_albums');"]:before {
    content: '\eb23' !important;
}

[href="im.php"]:before {
    content: '\e9d5' !important;
}

[onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"]:before {
    content: '\eb81' !important;
    font-size: 20px !important;
}

[href="./"]:before {
    content: '\ec53';
}


div.menu_dropdown {
    position: absolute;
    top: 0px;
    left: 20px;
    margin: 0px;
    padding-top: 10px !important;
}


div#menu_dropdown_profile {
    top: 70px;
    left: 80px;
}

div#menu_dropdown_blog {
    top: 70px;
    left: 140px;
}

div#menu_dropdown_tests {
    top: 70px;
    left: 200px;
}


div#menu_dropdown_groups {
    top: 70px;
    left: 260px;
}

div#menu_dropdown_albums {
    top: 70px;
    left: 380px;
}


[href="user_logout.php"] {
    display: none !important;
}

div.menu_dropdown {
    transition: unset !important;
}

img.menu_icon2 {
    display: none;
}

div.menu_item_dropdown a {
    background-color: #ebebeb;
}

div.menu_dropdown {
    background: transparent;
}

a.menu_item {
    color: #000000 !important;
}

.top_header a.menu_item:hover {
    background: #adba9d !important;
    color: #ebebeb !important;
}

.top_header a.menu_item {
    padding: 0px !important;
    line-height: 2.5;
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: center;
}


span#notify_total {
    position: absolute;
    left: -60px;
    border-radius: 0;
    width: 50px;
    height: 50px;
    bottom: 0px;
    line-height: 2;
    font-size: 20px;
    background: black;
    outline: 1px solid black;
    color: #ee0923;
    font-family: 'Sofia Sans', sans-serif;
}
div#menu_main_dropdown {
    border: unset;
}


/*----ДОПОЛНИТЕЛЬНАЯ ФУНКЦИЯ ДЛЯ ШАПКИ хз чот фигня оставлю на будущее----*/

.top_header1:has(div#menu_main_dropdown[style="display: inline;"]):before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
}


/*----ШАПКА END----*/


/*----СКРОЛЛ----*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #8e9298;
}

::-webkit-scrollbar-thumb {
    background: #ed9278;
}

::-webkit-scrollbar-thumb:hover {
    background: #ebebeb;
}

div#postcomment_userphotos::-webkit-scrollbar  {
    background: #ebebeb;
}

div#postcomment_userphotos::-webkit-scrollbar-thumb {
    background: #8e9298;
}


/*----END----*/


.top_header {
    width: 60% !important;
    min-width: 960px;
    max-width: 1200px;
}

div#content_flex+br {
    display: none;
}

/*-----ДОП 2------*/

ul.pagination.justify-content-end.float-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 0px;
}

a.page-link {
    background: #ebebeb;
    width: 35px;
    height: 35px;
    margin-left: 15px !important;
    font-size: 0px;
    padding: 0px;
    text-align: center;
    line-height: 1.7;
    border-radius: unset !important;
}


li.page-item a:before, li.page-item+li.page-item a:before {
    content: '\e920';
    font-size: 20px;
    color: #282626;
    font-family: 'cappuccicons';
}


li.page-item+li.page-item a:before {
    content: '\e921';
}

:focus {
    box-shadow: unset !important;
}


.list-users-home.pt-2+.pt-2 button.btn.btn-primary.btn-block:hover, a.nav-item.nav-link.active:hover, .card [onclick="$('#profile_viewers').toggle();"]:hover, a.page-link:hover, button.btn.btn-primary:hover, button.button_down:hover, div#ajax_status a:hover, button.btn.btn-outline-success:hover, button.navbar-toggler:hover {
    background: #fbfbfb !important;
    color: #fbfbfb !important;
}

.userphoto_selected img.img-thumbnail {
    outline: 3px solid #8e9298;
}


a.page-link {
    transition: 0.2s;
}
a.page-link:hover {
    transform: scale(1.3);
    image-rendering: pixelated;
}

div#designs {
    background-color: #ebebeb;
    border: unset;
    border-radius: unset;
    top: 10px;
    width: 35px;
    height: 35px !important;
}

li.page-item:only-child a:before {
    content: '\e921' !important;
}


.top_header {
    box-shadow: 0px 0px 20px #4c4c4c40 !important;
}


.list-users-home.pt-2+.pt-2 button.btn.btn-primary.btn-block:hover, a.nav-item.nav-link.active:hover, .card [onclick="$('#profile_viewers').toggle();"]:hover, a.page-link:hover, button.btn.btn-primary:hover, button.button_down:hover, div#ajax_status a:hover, button.btn.btn-outline-success:hover, button.navbar-toggler:hover,
button#newupdates:hover {
    background: #ebebeb !important;
}


.left_category_block:hover,.card.blog_categories:hover {
    max-height: 700px;
}

.left_category_block,.card.blog_categories {
    max-height: 125px;
    overflow: hidden;
    transition: 1s linear;
}

ul.seBlogCategoryList li {
    line-height: 1.6;
}

.card-header a {
    color: #ebebeb;
}

.gifts-list .p-1:first-child, .gifts-list .p-1:first-child+.p-1, .gifts-list .p-1:first-child+.p-1+.p-1, .gifts-list .p-1:first-child+.p-1+.p-1+.p-1 {
    display: block;
}
.gifts-list .p-1 {
    display: none;
}

.gifts-list {
    font-size: 0;
}


.gifts-list .p-1 img {
    transition: 0.2s;
}

.gifts-list .p-1:hover img {
    transform: scale(1.5);
    image-rendering: pixelated;
}
blockquote.blockquote {
    color: #ed9278;
    border-color: #ed9278;
}

.gifts-list img {
    filter: grayscale(0.5);
}

[src="/images/verify.png"] {
    filter: grayscale(1);
}

.seBlogComments [style="margin-top: 10px; margin-bottom: 20px;"] {
    padding-top: 35px;
}


a#attach_file_click,[onclick^="subscribe"]:before,div#bbcode [src^="/images/bbcode/"] {
    filter: contrast(0.3);
}


div#bbcode [src^="/images/bbcode/"] {
    background: transparent;
    border-radius: unset;
    filter: contrast(0.5);
}

.seBlogComments {
    padding-bottom: 70px;
}

a:hover {
    text-decoration: unset !important;
}

.left_category_block .p-1,
.card.mt-3.blog_leftmenu p-1 {
    transition: 0.2s;
    transition-delay: 0.2s;
}
.left_category_block .p-1:hover,
.card.mt-3.blog_leftmenu p-1:hover {
    background: #ebebeb;
    transition-delay: 0s;
}

a.menu_item {
    color: #414141 !important;
}

.top_header a.menu_item{
    transition: 0.2s;
    transition-delay: 0.2s;
}
.top_header a.menu_item:hover {
    transition-delay: 0s;
}

h2.card-title a:hover {
    color: #ed9278;
}


span#notify_total {
    outline: unset;
    background: #4f4d4f;
    color: #ebebeb;
    position: fixed;
    bottom: 0;
    left: 0;
}


.updatesWrap a {
    color: #656565;
}


/*----ФИКСЫ ПОД СТИКЕРЫ----*/

div#bbcode {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

div#smiles {
    margin-top: 10px;
}


div#smiles,div#fffuuusmiles {
    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden !important;
}


div#smiles::-webkit-scrollbar,
div#fffuuusmiles::-webkit-scrollbar {
    background: #ebebeb;
}

div#smiless::-webkit-scrollbar-thumb,
div#fffuuusmiles::-webkit-scrollbar-thumb {
    background: #8e9298;
}

div#smiless::-webkit-scrollbar-thumb,
div#fffuuusmiles::-webkit-scrollbar-thumb {
    background: #8e9298;
}
