
/*______________________________________*/
/*СПРАЙТЫ*/
/*___ГИЛ____*/
/*______________________________________*/

div[id^="comment_"]:nth-last-child(1) [style="float: left; text-align: center; width: 110px;"] [href="https://beon.vip/you/"] [src^="./uploads_user/10000/9068"] {
    background: url(https://beon.vip/uploads_user/10000/9068/77a3a6e5812322822564c17847e98fea.png) no-repeat center;
    padding: 125px;
    position: fixed;
    left: 5%;
    bottom: 245px;
    background-size: 300px;
    width: 18%;
    height: 250px;
}

div[id^="comment_"]:nth-child(101) [style="float: left; text-align: center; width: 110px;"] [href="https://beon.vip/you/"] [src^="./uploads_user/10000/9068"] {
    background: url(https://beon.vip/uploads_user/10000/9068/77a3a6e5812322822564c17847e98fea.png) no-repeat center;
    padding: 125px;
    position: fixed;
    left: 5%;
    bottom: 245px;
    background-size: 300px;
    width: 18%;
    height: 250px;
}


[style="float: left; text-align: center; width: 110px;"] [href="https://beon.vip/you/"] [src^="./uploads_user/10000/9068"] {
    background: url(https://beon.vip/uploads_user/10000/9068/77a3a6e5812322822564c17847e98fea.png) no-repeat center !important;
    padding: 50px;
    background-size: 300px;
}



/*______________________________________*/
/*___ЕВОЛ____*/
/*______________________________________*/

div[id^="comment_"]:nth-last-child(1) [style="float: left; text-align: center; width: 110px;"] [href="https://beon.vip/evol/"] [src^="./uploads_user/2000/1518/"] {
    background: url(https://beon.vip/uploads_user/10000/9068/1a8d9d617106ebb6b715f6c1b78fbb3b.png) no-repeat center left!important;
    padding: 125px;
    position: fixed;
    left: 5%;
    bottom: 245px !important;
    background-size: 200px !important;
    width: 18%;
    height: 250px;
}

div[id^="comment_"]:nth-child(101) [style="float: left; text-align: center; width: 110px;"] [href="https://beon.vip/evol/"] [src^="./uploads_user/2000/1518/"] {
    background: url(https://beon.vip/uploads_user/10000/9068/1a8d9d617106ebb6b715f6c1b78fbb3b.png) no-repeat center left !important;
    padding: 125px;
    position: fixed;
    left: 5%;
    bottom: 245px !important;
    background-size: 200px !important;
    width: 18%;
    height: 250px;
}

[style="float: left; text-align: center; width: 110px;"] [href="https://beon.vip/evol/"] [src^="./uploads_user/2000/1518/"] {
    background: url(https://beon.vip/uploads_user/10000/9068/1a8d9d617106ebb6b715f6c1b78fbb3b.png) no-repeat center !important;
    padding: 50px;
    background-size: 200px;
}



/*______________________________________*/
/*___САТ____*/
/*______________________________________*/

div[id^="comment_"]:nth-last-child(1) [style="float: left; text-align: center; width: 110px;"] [href="https://beon.vip/Satan/"] [src^="./uploads_user/1000/968/"] {
    background: url(https://beon.vip/uploads_user/1000/968/f044c0aec171ebde059c770d433829ae.png) no-repeat center left!important;
    padding: 141px;
    position: fixed;
    left: 5%;
    bottom: 239px !important;
    background-size: 300px !important;
    width: 18%;
    height: 300px;
}

div[id^="comment_"]:nth-child(101) [style="float: left; text-align: center; width: 110px;"] [href="https://beon.vip/Satan/"] [src^="./uploads_user/1000/968/"] {
    background: url(https://beon.vip/uploads_user/1000/968/f044c0aec171ebde059c770d433829ae.png) no-repeat center left !important;
    padding: 125px;
    position: fixed;
    left: 5%;
    bottom: 231px !important;
    background-size: 200px !important;
    width: 18%;
    height: 250px;
}

[style="float: left; text-align: center; width: 110px;"] [href="https://beon.vip/Satan/"] [src^="./uploads_user/1000/968/"] {
    background: url(https://beon.vip/uploads_user/1000/968/f044c0aec171ebde059c770d433829ae.png) no-repeat center !important;
    padding: 50px;
    background-size: 190px !important;
}


/*______________________________________*/
/*СПРАЙТЫ*/
/*___СТУДЕНТ____*/
/*______________________________________*/


div[id^="comment_"]:nth-last-child(1) [style="float: left; text-align: center; width: 110px;"] [href^="https://beon.vip/"]:not([href*="you"]) [src^="./uploads_user/"],
div[id^="comment_"]:nth-child(101) [style="float: left; text-align: center; width: 110px;"] [href^="https://beon.vip/"]:not([href*="you"]) [src^="./uploads_user/"]{
    background: url(https://beon.vip/uploads_image/97/4f/974f8a7a429b52a759b89e5817e28c5f.png) no-repeat center;
    padding: 125px;
    position: fixed;
    left: 5%;
    bottom: 200px;
    background-size: 240px;
    width: 18%;
    height: 250px;
}

[style="float: left; text-align: center; width: 110px;"] [href^="https://beon.vip/"] [src^="./uploads_user/"]{
    background: url(https://beon.vip/uploads_image/97/4f/974f8a7a429b52a759b89e5817e28c5f.png) no-repeat top;
    padding: 50px;
    background-size: 300px;
}

