.comment_headline a {
    font-size: 12px;
    color: black;
}

button.btn.btn-secondary {
    border-radius: 0px;
    background: black;
}

.modal-body {
    border: 1px solid black !important;
    width: 98%;
    margin: auto;
}

.modal-content {
    border-radius: 0px;
    border: 1px solid black !important;
}

.modal {
    background: #000000cf !important;
}

.group_desc {
    text-align: center;
    margin-top: 10px;
}

.userphoto_selected {
    background: transparent;
    border: 1px solid black !important;
    width: 110px;
}


.post a, .post,h6 {color: black !important;}

.additional_info.pl-3 {
    border-top: 1px solid black !important;
    width: 98%;
    margin: auto;
}


.card.mb-2.post_home:first-child .post {
    margin-top: 10px !important;
}

.post {
    background: white;
    width: 98%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid black !important;
}

a#comment_next_page_bottom {color: black;}


a:hover {
    text-decoration: unset !important;
    color: #888888 !important;}



[src="/images/notify.svg"] {
    width: 20px;
    filter: opacity(0.3);
}

[href="./"]:before {
    background: black;
    color: white;
    width: 47px;
    padding: 10px;
    padding-left: 8px;
    border-radius: 100%;
    font-size: 16px;
    margin-top: 2px;
}

div#postcomment_userphotos {
    position: fixed;
    right: 9%;
    top: 0px;
    width: 10%;
    height: 450px;
    overflow: hidden;
    width: max-content !important;
    display: block !important;
}

.top_header {
    background: white;
    box-shadow: 0 0 black;
    border-radius: 40px 0 0 40px;
    border: 1px solid #5e5e5e !important;
    height: 60px;
    width: 30%;
    right: 0px;
    top: 0px;
    transform: translateX(84%);
    transition: 0.7s;
    transition-delay: 1s;
}

[style="margin-left: auto; margin-right: auto;"] {
    background: white;
}

.seBlogComments [style="margin-bottom: 20px;"] {
    font-size: 11px;
}

[id^="comment_"]:nth-last-child(1) .profile_comment_body, [id^="comment_"]:nth-child(101) .profile_comment_body {
    max-height: 180px;
    border-radius: 0;
}

[id^="comment_"]:nth-child(101),div[id^="comment_"]:nth-last-child(1) {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px !important;
}



input#comment_submit {
    text-transform: uppercase;
    font-size: 13px;
}

.profile_postcomment {
    width: 98%;
    margin: auto;
}

textarea#comment_body {}

[style="text-align: center;"]:hover,.seBlogComments [style="margin-bottom: 20px;"]:hover {
    opacity: 1;
    transition: 0.2s;
}
[style="text-align: center;"],.seBlogComments [style="margin-bottom: 20px;"] {
    opacity: 0.2;
    transition: 0.2s;
}

::-webkit-scrollbar {
    width: 6px;
    position: fixed;
    right: 12px;
}
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    border: 1px solid #000000;
    border-radius: 0px;
    background-color: #fff;
}


/*_____________*/
/*_____________*/
/*_____________*/
/*_____________*/


[id^="comment_"]:nth-last-child(1) [style="float: left; text-align: center; width: 110px;"] [src="./uploads_user/10000/9068/b46e37a7b04115e2b18d603e3becb4df.gif"] {
    padding: 300px;
    background: url(https://beon.vip/uploads_user/10000/9068/402dc3bc35ccd2ffded2b62a0167bd3b.png) no-repeat center !important;
    position: fixed;
    width: 30%;
    height: 30%;
    left: -2% !important;
    bottom: 103px !important;
    z-index: 555;
    pointer-events: none;
    /*ВЫБОР 1*/
}

[id^="comment_"]:nth-child(101) [style="float: left; text-align: center; width: 110px;"] [src="./uploads_user/10000/9068/b46e37a7b04115e2b18d603e3becb4df.gif"] {
    padding: 300px;
    background: url(https://beon.vip/uploads_user/10000/9068/402dc3bc35ccd2ffded2b62a0167bd3b.png) no-repeat center !important;
    position: fixed;
    width: 30%;
    height: 30%;
    left: -2% !important;
    bottom: 103px !important;
    z-index: 7777;
    pointer-events: none;
    /*ВЫБОР 101*/
}


[style="float: left; text-align: center; width: 110px;"]  [src="./uploads_user/10000/9068/b46e37a7b04115e2b18d603e3becb4df.gif"] /*SMALL 4*/ {
    padding: 50px;
    background: url(https://beon.vip/uploads_user/10000/9068/9bebe70d31fb10dcf7021b0b6a26fa64.jpg) no-repeat left !important;
    width: 100px;
    height: 100px;
    background-size: 300px !important;
}


div#postcomment_userphotos [src="./uploads_user/10000/9068/b46e37a7b04115e2b18d603e3becb4df.gif"] {
    padding: 50px;
    background: url(https://beon.vip/uploads_user/10000/9068/9bebe70d31fb10dcf7021b0b6a26fa64.jpg) no-repeat left;
    width: 100px;
    height: 100px;
    background-size: 170px;
}

div#postcomment_userphotos [src="./uploads_user/10000/9068/b46e37a7b04115e2b18d603e3becb4df.gif"] {
    display: block !important;
}

/*_____________*/
/*_____________*/
/*________*/
/*_____________*/


[id^="comment_"]:nth-last-child(1) [style="float: left; text-align: center; width: 110px;"] [src="./uploads_user/1000/968/2c81ddf80a3931c372d66fb3def4aaa9.gif"] {
    padding: 300px;
    background: url(https://beon.vip/uploads_user/10000/9068/39fbf2d9e4c08902c6c7a37406852e36.png) no-repeat center !important;
    position: fixed;
    width: 30%;
    height: 30%;
    left: -7% !important;
    bottom: 77px !important;
    z-index: 555;
    pointer-events: none;
    /*ВЫБОР 1*/
}

[id^="comment_"]:nth-child(101) [style="float: left; text-align: center; width: 110px;"] [src="./uploads_user/1000/968/2c81ddf80a3931c372d66fb3def4aaa9.gif"] {
    padding: 300px;
    background: url(https://beon.vip/uploads_user/10000/9068/39fbf2d9e4c08902c6c7a37406852e36.png) no-repeat center !important;
    position: fixed;
    width: 30%;
    height: 30%;
    left: -7% !important;
    bottom: 77px !important;
    z-index: 7777;
    pointer-events: none;
    /*ВЫБОР 101*/
}


[style="float: left; text-align: center; width: 110px;"]  [src="./uploads_user/1000/968/2c81ddf80a3931c372d66fb3def4aaa9.gif"] /*SMALL 3*/ {
    padding: 50px;
    background: url(https://beon.vip/uploads_user/10000/9068/d8b57681127580d3bf9368fccc3cbbed.jpg) no-repeat left !important;
    width: 100px;
    height: 100px;
    background-size: 300px !important;
}


div#postcomment_userphotos [src="./uploads_user/1000/968/2c81ddf80a3931c372d66fb3def4aaa9.gif"] {
    padding: 50px;
    background: url(https://beon.vip/uploads_user/10000/9068/d8b57681127580d3bf9368fccc3cbbed.jpg) no-repeat left;
    width: 100px;
    height: 100px;
    background-size: 170px;
}

div#postcomment_userphotos [src="./uploads_user/1000/968/2c81ddf80a3931c372d66fb3def4aaa9.gif"] {
    display: block !important;
}

/*_____________*/
/*_____________*/
/*________*/
/*____*/


[id^="comment_"]:nth-last-child(1) [style="float: left; text-align: center; width: 110px;"] [src="./uploads_user/2000/1518/488bee75f267ca73bb9e42d8bbfba5d2.png"] {
    padding: 300px;
    background: url(https://beon.vip/uploads_user/10000/9068/4e2caadd20711ce574368778c934383e.png) no-repeat center !important;
    position: fixed;
    width: 30%;
    height: 30%;
    left: -5% !important;
    bottom: 78px !important;
    z-index: 555;
    pointer-events: none;
    /*ВЫБОР 1*/
}

[id^="comment_"]:nth-child(101) [style="float: left; text-align: center; width: 110px;"] [src="./uploads_user/2000/1518/488bee75f267ca73bb9e42d8bbfba5d2.png"] {
    padding: 300px;
    background: url(https://beon.vip/uploads_user/10000/9068/4e2caadd20711ce574368778c934383e.png) no-repeat center !important;
    position: fixed;
    width: 30%;
    height: 30%;
    left: -5% !important;
    bottom: 78px !important;
    z-index: 7777;
    pointer-events: none;
    /*ВЫБОР 101*/
}


[style="float: left; text-align: center; width: 110px;"]  [src="./uploads_user/2000/1518/488bee75f267ca73bb9e42d8bbfba5d2.png"] /*SMALL 3*/ {
    padding: 50px;
    background: url(https://beon.vip/uploads_user/10000/9068/efdb77fab5527919f2ddad6e9bb61ba1.jpg) no-repeat left !important;
    width: 100px;
    height: 100px;
    background-size: 300px !important;
}


div#postcomment_userphotos [src="./uploads_user/2000/1518/488bee75f267ca73bb9e42d8bbfba5d2.png"] {
    padding: 50px;
    background: url(https://beon.vip/uploads_user/10000/9068/efdb77fab5527919f2ddad6e9bb61ba1.jpg) no-repeat left;
    width: 100px;
    height: 100px;
    background-size: 170px;
}

div#postcomment_userphotos [src="./uploads_user/2000/1518/488bee75f267ca73bb9e42d8bbfba5d2.png"] {
    display: block !important;
}
