@import url('https://vtloa.github.io/HSR_Blade1.css');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Noto+Sans+Cypro+Minoan&family=Noto+Serif+SC:wght@300&family=Roboto+Condensed&family=Victor+Mono&display=swap');


@font-face{font-family:'cappuccicons';src:url('//source.cappuccicons.com/cappuccicons.eot');src:url('//source.cappuccicons.com/cappuccicons.eot#iefix') format('embedded-opentype'), url('//source.cappuccicons.com/cappuccicons.ttf') format('truetype'), url('//source.cappuccicons.com/cappuccicons.woff') format('woff'), url('//source.cappuccicons.com/cappuccicons.svg#cappuccicons') format('svg');font-weight:normal;font-style:normal;font-display:block;}


/*

font-family: 'Manrope', sans-serif;
font-family: 'Noto Sans Cypro Minoan', sans-serif;
font-family: 'Noto Serif SC', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Victor Mono', monospace;


*/


div#entry_main {
    display: none;
}

.copyright {
    display: none;
}

body {
    font-family: 'Victor Mono', monospace,'Noto Serif SC', serif;
}

a:hover {
    text-decoration: unset !important;
}


.top_header {
    display: none;
}

body {
    background: url(https://i.ibb.co/QPnV7sQ/blede-back-s-2.png) no-repeat bottom / cover fixed;
    background-color: #151315;
}

div#content_flex {
    flex-direction: row-reverse;
}

.post {
    padding: 10px;
    background: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
    background-color: #e8e6e3;
}

.post_container {
    background: #e8e6e370;
    padding: 20px;
}



.seBlogComments {
    background: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
    background-color: #151315;
    position: relative;
    z-index: 2;
    padding: 30px;
}



h2.card-title,.post_container,h6.card-subtitle.mb-2.text-muted.post_date,
.seBlogComments div[id^="comment"] [style="margin-top: 10px; margin-bottom: 20px;"] {
    position: relative;
    z-index: 2;
}

.additional_info.pl-3 {
    text-align: center;
    margin-top: 25px;
}

h2.card-title,h6.card-subtitle.mb-2.text-muted.post_date {
    text-align: center;
}

.group_desc {
    display: none;
}

div#righthome:before {
    content: '';
    background: url(https://i.ibb.co/LQ5Ljgj/blade-2-b.png) no-repeat left bottom / contain;
    left: -10%;
    top: 90px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    image-rendering: -webkit-optimize-contrast;
    filter: drop-shadow(-17px 6px 4px #15131538);
    color: #15131538;
    max-width: 990px;
}

div#righthome:after {
    content: '';
    background: url(https://i.ibb.co/tKGtD2p/blede-dec.png) no-repeat left top / contain;
    background-color: #151315;
    left: 0px;
    top: 0px;
    width: 600px;
    height: 600px;
    position: fixed;
    z-index: 1;
    mix-blend-mode: lighten;
}

input#comment_submit {
    font-size: 12px;
}

/*----1024----*/

@media (max-width: 1024px) {
div#righthome:before {
    max-width: 630px;
}
  
div#righthome {
    max-width: 600px;
}
button.btn.btn-primary:before {
    content: '\e97b' !important;
    color: #180207;
    font-size: 35px !important;
}
.top_header button.btn.btn-primary {
    width: 50px;
    height: 50px;
}
}


/*----2560----*/

@media (min-width: 2560px) {
div#righthome:before {
    left: 0;
}
}

/*----1920----*/

@media (min-width: 1920px) {
div#righthome:before {
    left: -5%;
    max-width: 925px;
    bottom: 0;
}
}


.list-users-home.pt-2+.pt-2 button.btn.btn-primary.btn-block:hover, a.nav-item.nav-link.active:hover, .card [onclick="$('#profile_viewers').toggle();"]:hover, a.page-link:hover, button.btn.btn-primary:hover, button.button_down:hover, div#ajax_status a:hover, button.btn.btn-outline-success:hover, button.navbar-toggler:hover {
    background: transparent !important;
    color: unset !important;
}

.card.mb-2.post_home {
    margin-bottom: 10px !important;
}

.seBlogColumnRightPadding {
    position: sticky;
    z-index: 2;
    top: 20px;
}


.card.p-1 {
    display: none;
}

div#lefthome * {
    border: unset;
}

.content {
    width: 85% !important;
    margin-right: unset !important;
}

div#righthome {
    max-width: 900px;
    margin-left: auto;
    margin-right: 10px;
}

div#lefthome {
    margin-right: auto;
    margin-left: unset;
}

.post_image,.card.group_members,.card-header {
    display: none;
}


li.p-1 {
    display: block;
}

div#lefthome .card-body {
    background: url(https://www.transparenttextures.com/patterns/concrete-wall.png),
                url(https://i.ibb.co/ZBkDCMM/blede-back-1.png) no-repeat bottom / cover fixed;
}

div#lefthome a,
input[type="text"]::placeholder{
    color: #000000;
}



.blog_leftsearch input[type="text"] {
    width: 100%;
    background: transparent;
}

.post a {
    color: #937958;
}

.like_button.liked:before,.like_button.liked+span {
    color: #937958 !important;
}

.like_button.liked:before {
    text-shadow: 0px 0px #937958;
}


.like_button:before, p.card-link.post_views:before, p.card-link.post_comments a:before, [onclick^="more_menu"]:before, p.card-link:before, a.commentReply, .commentDeleteLink:before, a.commentReply:before, [onclick^="newmessage"]:before, .commentEditLink:before, p.card-link.grouppost_comments:before,
p.card-link.post_comments a,
.post_data a, p.card-link.post_views, .post_data, .profile_comment_links,
span.category_post,h6.card-subtitle.mb-2.text-muted.post_date {
    color: #937958;
}

.post_data {
    display: flex;
    justify-content: center;
}

li.p-1 {
    transition: 0.3s;
}

li.p-1:hover a{
    color: #e2e0de !important;
}

li.p-1 a {
    transition: 0.2s;
}

li.p-1:hover {
    background: #586281 !important;
    color: #e3e3e3 !important;
    display: block;
    padding-left: 15px;
}

ul.seBlogCategoryList a:hover {
    color: #cc1c21 !important;
}

div#lefthome .card {
    border-radius: unset !important;
}

div#lefthome .card-body {
    padding: 6px !important;
}

div#lefthome .blog_leftsearch .card-body {
    padding: 5px !important;
}

.card.blog_categories:hover {
    max-height: 700px;
    transition: 0.3s;
}
.card.blog_categories {
    max-height: 33px;
    overflow: hidden;
    transition: 0.2s;
}


.card.blog_categories:hover .card-body {
    background: url(https://www.transparenttextures.com/patterns/concrete-wall.png) !important;
    background-color: #151315 !important;
}


ul.seBlogCategoryList:hover,
ul.seBlogCategoryList:hover a{
    color: #977e60 !important;
}


/*-----ШАПКА-----*/

.top_header {
    background: url(https://www.transparenttextures.com/patterns/groovepaper.png) !important;
    background-color: #937958 !important;
    border: unset;
    display: block;
    top: 0;
    left: 0px;
    width: 100%;
    height: 90px;
    right: 0;
    bottom: 0;
    z-index: 222 !important;
    opacity: 1;
    transition: 0.2s;
}

.top_header {
    top: -90px;
}

[onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"] {
    bottom: -55px !important;
    left: 20px !important;
    width: 30px !important;
    height: 30px !important;
    background-image: url(https://www.transparenttextures.com/patterns/groovepaper.png) !important;
    background-color: #937958 !important;
}

.top_header:has(div#menu_main_dropdown[style="display: inline;"]) {
    top: 0px;
    transition-delay: 0s;
}

div#menu_main_dropdown>div {
    display: none;
}

.top_menu_link_container {
    display: block !important;
}



[onmouseover="showMenu('menu_dropdown_profile');"], [onmouseover="showMenu('menu_dropdown_blog');"], [onmouseover="showMenu('menu_dropdown_tests');"], [onmouseover="showMenu('menu_dropdown_groups');"], [onmouseover="showMenu('menu_dropdown_albums');"], [href="im.php"], [onmouseover="showMenu('menu_dropdown_albums');"], [onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"], [href="./"] {
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 50px;
    height: 50px;
    font-family: 'cappuccicons';
    color: #180207;
    text-align: center;
    text-decoration: unset !important;
}


[onmouseover="showMenu('menu_dropdown_profile');"] {
    bottom: 20px;
    left: 80px;
}

[onmouseover="showMenu('menu_dropdown_blog');"] {
    top: 20px;
    left: 140px;
}

[onmouseover="showMenu('menu_dropdown_tests');"] {
    bottom: 20px;
    left: 200px;
}


[onmouseover="showMenu('menu_dropdown_groups');"] {
    bottom: 20px;
    left: 260px;
}

[onmouseover="showMenu('menu_dropdown_albums');"] {
    bottom: 20px;
    left: 380px;
}

[href="im.php"] {
    bottom: 20px;
    left: 320px;
}

[onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"] {
    bottom: 20px;
    left: 440px;
}


[href="./"] {
    bottom: 20px;
    left: 20px;
}

b.top_header utton#newupdates, .top_header button.btn.btn-primary, .top_header button.button_down {
    background: transparent !important;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-family: 'cappuccicons';
    color: #180207;
    text-align: center;
    text-decoration: unset !important;
    border-radius: 0px;
}

.top_header button.btn.btn-primary {
    right: 80px;
    font-size: 0px;
    line-height: normal;
}

.top_header button.btn.btn-primary:before {
    content: '\e97b';
    color: #180207;
    font-size: 35px;
}


button#newupdates {
    right: 140px;
}


[src="./images/logo_new.png"] {
    display: none;
}

.top_header table tbody tr td:first-child {
    width: auto !important;
}

.top_header div.menu_dropdown {
    border: unset !important;
    padding: 0px;
}

.top_menu_link:hover div.menu_dropdown {
    border: unset !important;
}


.top_header a.top_menu_item {
    font-size: 0px !important;
}

.top_header a.top_menu_item:before, [href="./"]:before {
    content: '\ea26';
    color: #180207;
    font-size: 35px;
}



[onmouseover="showMenu('menu_dropdown_profile');"]:before {
    content: '\eb48' !important;
}


[onmouseover="showMenu('menu_dropdown_blog');"]:before {
    content: '\eb49' !important;
}

[onmouseover="showMenu('menu_dropdown_tests');"]:before {
    content: '\ecad' !important;
}


[onmouseover="showMenu('menu_dropdown_groups');"]:before {
    content: '\ecae' !important;
}

[onmouseover="showMenu('menu_dropdown_albums');"]:before {
    content: '\ec03' !important;
}

[href="im.php"]:before {
    content: '\ec02' !important;
}

[onclick="$('menu_main_dropdown').style.display = ( $('menu_main_dropdown').style.display=='none' ? 'inline' : 'none' ); this.blur(); return false;"]:before {
    content: '\e90c' !important;
    font-size: 20px !important;
}

[href="./"]:before {
    content: '\ec81';
}


div.menu_dropdown {
    position: absolute;
    top: 0px;
    left: 20px;
    margin: 0px;
    padding-top: 10px !important;
}


div#menu_dropdown_profile {
    top: 70px;
    left: 80px;
}

div#menu_dropdown_blog {
    top: 70px;
    left: 140px;
}

div#menu_dropdown_tests {
    top: 70px;
    left: 200px;
}


div#menu_dropdown_groups {
    top: 70px;
    left: 260px;
}

div#menu_dropdown_albums {
    top: 70px;
    left: 380px;
}


[href="user_logout.php"] {
    display: none !important;
}

div.menu_dropdown {
    transition: unset !important;
}

img.menu_icon2 {
    display: none;
}

div.menu_item_dropdown a {
    background: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
    background-color: #e8e6e3;
}

div.menu_dropdown {
    background: transparent;
}

a.menu_item {
    color: #000000 !important;
}

.top_header a.menu_item:hover {
    background: #586281 !important;
    color: #e3e3e3 !important;
}

.top_header a.menu_item {
    padding: 0px !important;
    line-height: 2.5;
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: center;
}


span#notify_total {
    position: absolute;
    left: -60px;
    border-radius: 0;
    width: 50px;
    height: 50px;
    bottom: 0px;
    line-height: 2;
    font-size: 20px;
    background: transparent;
    outline: unset;
    color: #2f271c;
    font-family: 'Sofia Sans', sans-serif;
}


div#menu_main_dropdown {
    border: unset;
}

[src="/images/button_down.svg"] {
    filter: invert(1);
}


/*----ШАПКА END----*/


/*----СКРОЛЛ----*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #1b1918;
}


::-webkit-scrollbar-thumb {
    background-image: url(https://www.transparenttextures.com/patterns/groovepaper.png) !important;
    background-color: #937958 !important;
    background-blend-mode: soft-light;
}


::-webkit-scrollbar-thumb:hover {
    background: #a68c66 url(https://i.ibb.co/w0cN3B8/gold.gif) center;
    background-blend-mode: soft-light;
}


/*----END----*/

div#user_status {
    font-size: 9px;
    color: #b49b7c !important;
}

div.profile_comment_body {
    background: #937958;
    margin: 10px;
    width: fit-content;
    border-radius: 0 20px 20px;
    padding: 10px !important;
}

.profile_comment_date,.profile_comment_author a {
    color: #937958 !important;
}

.seBlogComments div[id^="comment"]:not(.comment_headline div) {
    border: 1px solid #93795821;
    margin: 10px;
    padding: 20px;
}

.comment_headline,.profile_postcomment {
    border: unset !important;
}

.comment_headline {
    color: #937958;
}

[onclick^="subscribe"]:before,
[onclick^="unsubscribe"]:before {
    color: #937958;
}

input#comment_submit {
    background: url(https://www.transparenttextures.com/patterns/groovepaper.png) !important;
    background-color: #937958 !important;
    color: black;
    border-radius: unset;
}

textarea#comment_body {
    border: unset;
    border-radius: unset;
    background: #e8e6e3;
}

div#bbcode [src^="/images/bbcode/"] {
    border-radius: unset;
    background-color: #937958;
}

span.card-text img {
    padding: 2px;
}

.content {
    margin-top: 80px;
}




/*----ДОПЫ----*/

/*----НЕ ВЛИЯЕТ НА ДЕСКТОП ИЛИ ОБЩЕЕ С НИМ----*/

:focus {
    box-shadow: unset !important;
    outline: unset !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    background: url(https://www.transparenttextures.com/patterns/groovepaper.png) !important;
    background-color: #937958 !important;
    border: unset !important;
}


.show_menu.header-orange {
    border-radius: unset;
    background: url(https://www.transparenttextures.com/patterns/groovepaper.png) !important;
    background-color: #937958 !important;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 2;
}

a.top_menu_item:before, [href="./"]:before {
    color: #2f271c;
}

[src="/images/notify.svg"] {
    opacity: 0.7;
}

.modal-content {
    border: unset;
    border-radius: unset;
}

.modal-header,.modal-footer {
    border: unset;
}
.modal-header {
    display: none;
}


.modal-content a {
    color: #e8e6e3;
}
.modal-content {
    background-color: #151315;
    color: #e8e6e3;
}

button.btn.btn-secondary,div#mobile_menu button.btn.btn-primary {
    background: url(https://www.transparenttextures.com/patterns/groovepaper.png) !important;
    background-color: #937958 !important;
    color: black;
    border-radius: unset;
}


div.profile_comment_body {
    color: #151315;
}

div#mobile_menu button.btn.btn-primary {
    font-family: 'Victor Mono', monospace,'Noto Serif SC', serif;
    color: black !important;
    line-height: normal !important;
    height: auto;
}

#mobile_menu .menu_item_dropdown a {
    background: transparent !important;
    color: #bb9666 !important;
}

.portal_spacer {
    display: none;
}

div#mobile_menu {
    background: url(https://i.ibb.co/LQ5Ljgj/blade-2-b.png) no-repeat left -145px top;
    background-size: cover;
    background-color: #151315;
    background-blend-mode: color-burn;
    color: #bb9666;
}

.top_header button.btn.btn-primary:before {
    content: '\e97b';
    color: #2f271c;
    font-size: 35px;
}

span.card-text {
    text-align: center;
}



span#notify_total {
    background: #d81d23;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px;
    color: #151315;
}


audio {
    height: 50px;
}
audio::-webkit-media-controls-panel {
    background: #e8e6e3;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    text-shadow: 0 0 #2a2925;
    color: #2a2925;
}

.copyright {
    display: none;
}

div#content_flex+br {
    display: none;
}


/*----РАЗМЕР АУДИО----*/

.container_music audio {
    width: 100% !important;
    max-width: 100%;
    min-width: 250px;
}

/*----КОНТЕЙНЕР----*/

.container_music {
    width: fit-content;
    margin: auto;
}

.music_title {
    color: #151315;
    margin-top: 10px !important;
}

ul.seBlogCategoryList a:hover {
    display: unset;
    padding: unset;
}

ul.seBlogCategoryList {
    color: black;
}
.gifts-list {
    display: none;
}


.card.mt-3.blog_leftmenu {
    text-align: right;
}




/*----ТОЛЬКО ДЛЯ СМАРТОВ-----*/

@media (max-width: 280px), (max-width: 480px), (max-width: 768px) {

  div#righthome:before,div#righthome:after,div#mobile_menu button.btn.btn-primary:before {
    display: none;
}
  .content {
    width: 100% !important;
    margin: auto;
}
  div#righthome {
    max-width: 100%;
    margin: auto;
}
 .post_data {
    justify-content: space-between;
}
  [href="./"] {
    position: unset;
}
  button#newupdates, button.btn.btn-primary, button.button_down {
    position: unset;
}
  [src="/images/notify.svg"] {
    width: 30px;
}
  [href="./"]:before {
    font-size: 30px;
}
  button.navbar-toggler, button.navbar-toggler:hover,
  button.navbar-toggler, button.navbar-toggler:hover {
    background: url(https://www.svgrepo.com/show/473880/menu-hamburger.svg) no-repeat center / 32px !important;
    opacity: 0.7;
}
  button.btn.btn-outline-success:before,
  button.btn.btn-outline-success:hover:before {
    background: url(https://www.svgrepo.com/show/368655/down-small.svg) no-repeat center / 38px;
    opacity: 0.7;
}

  .seBlogColumnRightPadding {
    position: unset;
}
  div#content_flex {
    flex-direction: column;
}
  li.p-1, ul.seBlogCategoryList a, li.p-1:hover, ul.seBlogCategoryList a:hover {
    background: #151315e3;
    color: #e8e6e3 !important;
    display: block;
    padding-left: 7px;
    padding-right: 7px;
}
  li.p-1 a, ul.seBlogCategoryList a {
    color: #e8e6e3 !important;
}
span#notify_total {
    position: unset;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 1.5;
    font-size: 14px;
    margin: 0px;
    background: #2e271e;
    outline: unset;
    color: #977e60;
    border-radius: 20px;
}
  button#newupdates {
    width: auto;
}
  .seBlogComments {
    padding: 0px;
}
  .seBlogComments div[id^="comment"]:not(.comment_headline div) {
    padding: 10px;
}
}


button.navbar-toggler,button.btn.btn-outline-success.mr-1.mobile_button,button.btn.btn-outline-success {
    border: unset;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu a {
    color: #2d251c;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu [href="./"]:before {
    font-size: 30px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu [href="./"] {
    position: unset;
}
.seBlogComments a {
    color: #e8e6e3;
}

[src="/images/verify.png"] {
    filter: grayscale(1);
}
