.copyright {
    display: none;
}


body {
    background: url(https://i.pinimg.com/originals/c5/29/fd/c529fd2ba16953a70eec2ec8fde62de3.png) no-repeat fixed;
    background-size: cover;
    background-color: #0c0a0e;
}


img.img-thumbnail {
    border: none;
    background: transparent;
    padding: 0px;
    border-radius: 0px !important;
}

.userphoto_selected {
    background: #db8100;
    width: 108px;
    transform: skewY(
-2deg
);
}


.card.mb-2.post_home:nth-child(3) h2.card-title:hover:before {
    filter: drop-shadow(4px -6px 5px #ffc107);
    transition: 0.2s;
}

button#newupdates:focus {
    outline: unset;
}

.modal {
    background: #000000cf !important;
}

.modal-content {
    background: linear-gradient(
45deg
, #4d75ae, #3b3c64);
    border-radius: 0px;
    border: 2px solid black;
    padding: 5px;
}

.modal-header {
    padding: 5px;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    color: black;
    border: none;
}

.modal-footer {
    padding: 0px;
    border: none;
}

.modal-body a {
    color: white;
    font-family: 'font6fd7e0f0248f1c0320476e13c81e4047';
}

button.close {
    display: none;
}

button.btn.btn-secondary:hover {
    background: #35456f;
    transform: skewY( 
-0deg
 );
    transition: 0.2s;
}
button.btn.btn-secondary {
    background: #db8100;
    border: none;
    color: black;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    padding: 5px;
    border-radius: 0px;
    transform: skewY(
-4deg
);
    transition: 0.2s;
}


.badge-danger {
    color: #000;
    background-color: #ffc91f;
    font-family: 'font129a060dd8496deac581e40a11b0130b';
    width: 16px;
    height: 15px;
}



.top_header button.btn.btn-primary,[src="/images/button_down.svg"],.top_menu_link {
    display: none;
}

button.button_down {
    background: transparent;
}


[src="/images/notify.svg"] {
    background: url(https://beon.vip/uploads_user/10000/9068/1c2a4042af51f18dd68abad5c2980157.png) no-repeat center;
    background-size: contain;
    padding: 20px;
    transform: skewY(-4deg);
    margin-top: 7px;
}



button#newupdates {
    position: absolute;
    top: 0px;
}

.top_header {
    height: 0px;
    background: transparent;
}

[href="./"]:hover:before {
    color: black;
    transition: 0.2s;
}

[href="./"]:before {
    content: "ВЫХОД ТУТ";
    font-family: font18abd107fb8d0e65f7107428c0e88b64;
    color: rgb(215, 126, 0);
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 0px;
    transform: skewY(4deg);
    transition: 0.2s;
}


[src="./images/logo_new.png"] {
    display: none;
}


h2.card-title a:hover {
    color: #f7b703;
    transition: 0.1s;
}


textarea#comment_body::placeholder {
    color: #5885c5;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
}


textarea#comment_body {
    background: #21243c45;
    border: none;
    border-radius: 0px;
    color: white !important;
}


div.profile_comment_body {
    color: white;
    font-family: 'font6fd7e0f0248f1c0320476e13c81e4047';
}


.profile_comment_author a:hover,.profile_comment_links a:hover {
    background: #f99d1a;
    transition: 0.2s;
}
.profile_comment_author a {
    color: #1a1b35;
    background: #db8100;
    transform: skewY( 
-2deg
 );
    display: block;
    padding: 1px;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    transition: 0.2s;
}

.profile_comment_links {
    color: transparent;
}

.profile_comment_links a {
    color: black;
    font-size: 12px;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    background: #db8100;
    padding: 1px;
    transition: 0.2s;
}

.profile_comment_date {
    text-align: left !important;
    color: black !important;
    margin-top: 10px;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
}

d.seBlogComments iv#user_status {
    margin: auto;
    padding-top: 0px;
}

.seBlogComments [valign="top"] a:hover {
    color: #2e4671 !important;
    transition: 0.2s;
}
.seBlogComments [valign="top"] a {
    color: #44669a !important;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    font-size: 12px;
    transition: 0.2s;
}



.comment_headline a[href="#"]:before {
    content: 'Хоба!';
    background: url(https://beon.vip/uploads_user/10000/9068/290126782acd2ba22749489829183f94.png) no-repeat center;
    background-size: contain;
    display: block;
    width: 130px;
    height: 155px;
    position: absolute;
    bottom: 3px;
    left: 0px;
    padding-top: 30px;
    color: transparent;
    transition: 0.2s;
}
.comment_headline a[href="#"]:hover:before {
    padding-left: 40px;
    transition: 0.4s;
    color: white;
}

.comment_headline a {
    color: #5885c5;
}
.comment_headline {
    border: none;
    background: #20233a42;
    padding: 5px;
    margin-top: 100px;
    border-radius: 0px;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    color: #5885c5;
    position: relative;
}

.profile_postcomment {
    border: none !important;
}

div#postcomment_userphotos {
    border: none;
}

.seBlogComments div#postcomment_userphotos {
    display: block !important;
    height: 300px;
}




input#comment_submit:hover {
    background: #3e436e;
    transition: 0.2s;
    transform: skewY( 
0deg
 );
}

input#comment_submit {
    background: #db8100;
    border: none;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    transform: skewY(
3deg
);
    margin-top: 5px;
    transition: 0.2s;
}







.seBlogComments {
    padding: 10px;
}

.seBlogComments img.photo {
    border: none;
    outline: rgb(219, 129, 0) solid 2px;
    box-shadow: black 0px 0px 10px;
}





/*---------------------------------------------------------*/

h2.card-title {
    position: relative;
}
.card.mb-2.post_home:nth-child(3) h2.card-title:before {
    content: 'Опа';
    font-size: 20px;
    background: url(https://beon.vip/uploads_user/10000/9068/4f51bc7eead2551505b68647e843560f.png) no-repeat center;
    background-size: contain;
    width: 70px;
    height: 104px;
    display: block;
    position: absolute;
    bottom: -50px;
    left: 18px;
    color: white;
    font-size: 0px;
    transition: 0.2s;
    transform: skewY(-2deg);
}




.additional_info.pl-3 a {
    color: rgb(219, 129, 0);
    font-weight: bold;
}


div#user_status {
    color: rgb(219, 129, 0);
    padding-top: 5px;
    font-weight: bold;
    margin: auto;
}

.post_text.pl-3 {
    padding: 15px !important;
    padding-top: 0px !important;
}

.post_image a img {
    max-height: 300px;
    box-shadow: 0 0 10px black;
    outline: 2px solid #db8100;
    transform: skewY(-2deg);
}

div#righthome {
    position: fixed;
    top: 0px;
    bottom: 0px;
    padding-bottom: 45px !important;
    overflow-y: scroll;
    padding: 0px;
    background: linear-gradient( 
136deg
 , #5586c9d4 45%, #301538d6) fixed,url(https://www.transparenttextures.com/patterns/vintage-speckles.png);
}

.post_container .post_text img {
    max-width: 100%;
}


.group_desc {
    position: absolute;
    width: 40%;
    top: 0px;
    padding-left: 40px;
    padding-top: 15px;
    color: #db8100;
    display: none;
}




.post_container {
    margin: auto;
    padding: 15px;
}


a.page-link:hover {color: white;}

a.page-link {
    text-transform: uppercase;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    font-size: 13px;
    color: rgb(107 136 183);
}

div#entry_main form#blogform {
    width: 100%;
    height: auto;
    overflow: unset;
    background: transparent;
    padding: 0px;
    border-radius: 0px;
}


form#blogform {
    width: 80vw;
    background: white;
    padding: 5px;
    border-radius: 3px;
    height: 90vh;
    overflow-y: scroll;
}


div#entry_main>b {
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding-bottom: 20px;
    color: #131313;
    font-family: 'font6fd7e0f0248f1c0320476e13c81e4047';
}

div#entry_main {
    background: white;
    width: 98%;
    margin: auto;
    margin-top: 80px;
    padding: 5px;
    border-radius: 3px;
}

div#postcomment_userphotos {
    display: flex !important;
}

div#entry_main .img-thumbnail {
    width: 100px !important;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}


div#postcomment_userphotos {
    height: 140px;
    display: flex !important;
    padding: 0px;
}


button.btn.btn-primary.btn-block.btn-post,button#attach_file_click {
    background: #6fa037;
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
    font-family: 'font129a060dd8496deac581e40a11b0130b';
    font-size: 20px;
}






ul.pagination.justify-content-end.float-right a.page-link:hover:before {
    filter: brightness(1) saturate(1.5);
    transition: 0.2s;
    color: white;
    text-shadow: 0 0 8px #ffffff;
    padding-left: 45px;
}


ul.pagination.justify-content-end.float-right a.page-link:before {
    content: 'Идём?';
    background: url(https://beon.vip/uploads_user/10000/9008/fc9fe3caff69e58a26f7eab26c4dcd5a.png) no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    z-index: 111;
    bottom: 5px;
    right: 10px;
    width: 140px;
    height: 130px;
    filter: brightness(0.5) saturate(1.5);
    transition: 0.2s;
    color: transparent;
    font-size: 20px;
    text-shadow: 0 0 8px #ffffff00;
    padding: 0px;
    padding-top: 11px;
}



.card.mt-3.blog_leftmenu, .blog_leftsearch input[type="text"], .blog_leftprofile {
    transform: skewY(4deg);
    border-radius: 0px;
    background: linear-gradient(302deg, rgb(70, 107, 162), rgba(24, 24, 52, 0.71)),url(https://www.transparenttextures.com/patterns/vintage-speckles.png) !important;
}


.card.group_members {
    position: fixed;
    top: 3.7%;
    border-radius: 0px;
    transform: skewY(-5deg);
    height: 28%;
    background: linear-gradient(353deg, rgba(63, 91, 141, 0.92), rgba(87, 147, 205, 0.59)),url(https://www.transparenttextures.com/patterns/vintage-speckles.png);
}



.card.blog_categories {
    position: fixed;
    top: 32.2%;
    border-radius: 0px;
    transform: skewY(-5deg);
    height: 50%;
    background: linear-gradient(45deg, rgb(53, 55, 95), rgba(85, 134, 201, 0.78) 90%),url(https://www.transparenttextures.com/patterns/vintage-speckles.png);
}

.blog_leftprofile, .blog_leftphoto img.photo {
    transform: skewY(4deg);
    margin-bottom: 5px;
}
/*---------------------------------------------------------------*/


.blog_leftphoto img.photo {
    max-height: 262px;
    object-fit: cover;
}


a.page-link {
    background: transparent !important;
}

.card.mt-3.blog_leftmenu .card-header {
    width: 80px;
    overflow: hidden;
    height: 57px;
    margin: auto;
}
.post {
    color: white;
    font-family: 'font6fd7e0f0248f1c0320476e13c81e4047';
    font-size: 15px;
}




.blog_leftprofile a {
    color: #db8100;
    font-family: 'font129a060dd8496deac581e40a11b0130b';
    font-size: 30px;
}

.blog_leftphoto img.photo {
    border: none;
    width: 100%;
    height: 100%;
}


.card.group_members .card-body,.card.blog_categories {
    text-align: center;
}
.card.group_members .card-body a,ul.seBlogCategoryList a {
    text-transform: uppercase;
    font-size: 13px;
    color: white;
}

.card.group_members .card-header, .card-header {
    font-size: 25px;
}

.card.blog_categories {
    margin-top: 0px;
}
.blog_leftsearch .card-header {
    display: none;
}


.blog_leftsearch input[type="text"]::placeholder {
    font-size: 30px;
    font-family: 'font129a060dd8496deac581e40a11b0130b';
    color: white;
}
.blog_leftsearch input[type="text"] {
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 50px;
    background: transparent;
    padding: 0px;
    color: white;
    margin-top: 0px;
}




li.p-1 {
    text-align: center;
}

li.p-1 a {
    color: white !important;
    text-transform: uppercase;
    font-size: 12px;
}

.card-header {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-family: 'font129a060dd8496deac581e40a11b0130b';
}

table.body {
    padding: 0px;
}

h2.card-title {
    text-align: center;
}
h2.card-title a {
    color: #db8100;
    font-size: 30px;
    text-shadow: 1px 1px 0px #00000096, -1px -1px 0px #00000096;
    filter: drop-shadow(0px 0px 1px black);
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
}

.card.mb-2.post_home {
    width: 99%;
    margin: auto;
    margin-top: 70px;
}


div#righthome:before {
    content: 'head';
    background: url(https://i.pinimg.com/originals/ca/f7/ad/caf7ad8d7082994714aa8e9590c0d879.gif);
    width: 100%;
    display: block;
    height: 38%;
    background-size: cover;
    color: transparent;
}


li.p-1 {
    display: block;
}

.card {
    border: none;
    padding: 0px !important;
}

.seBlogColumnRightPadding,.card-body,.card-header {
    padding: 0px !important;
}

div#lefthome {
    border-left: 0px;
    width: 18%;
    height: 90vh;
}



.card.blog_gifts {
  display: none;}


.card.mt-3.blog_leftmenu {
    margin-top: 0px !important;
    margin-bottom: 5px;
}


.content {
    width: 80% !important;
    position: relative;
    padding: 0px !IMPORTANT;
}




html {
    overflow: hidden;
}



[style="padding: 10px; text-align: center; margin-top: 10px;"] {
    display: none;
}





div#lefthome:before {
    content: 'warning frog';
    background: url(https://i.pinimg.com/originals/cb/41/9b/cb419b828df772454f8a28db914f72ff.png) no-repeat;
    position: absolute;
    background-size: contain;
    left: -100px;
    z-index: 1111;
    width: 150px;
    height: 150px;
    font-size: 0px;
    color: transparent;
    top: 145px;
    filter: drop-shadow(2px 4px 6px black) brightness(0.9) hue-rotate(-5deg);
    animation: 2s warning linear infinite;
}


@keyframes warning {
0%{transform: rotateZ(15deg);}
50% {transform: rotateZ(-37deg);}
100%{transform: rotateZ(15deg);}
}

ul.seBlogCategoryList {
    font-size: 0px;
}


.card.group_members a:hover {
    background: #db8100;
    transition: 0.2s;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}



ul.seBlogCategoryList a:hover{
    background: #db8100;
    transform: skewX( 
-5deg
 ) scale(1.3) translateX(30px);
    display: block;
    transition: 0.2s;
    font-weight: bold;
}



li.p-1 a,ul.seBlogCategoryList a {transition: 0.2s;}


a:hover {text-decoration: unset !important;}

li.p-1 a:hover {
    background: #db8100;
    transform: skewX(-5deg) scale(1.3) translateX(-30px);
    display: block;
    transition: 0.2s;
    font-weight: bold;
}

div#righthome {
    clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 5%);
}





h6.card-subtitle.mb-2.text-muted.post_date a {
    color: #ffffff;
}

h6.card-subtitle.mb-2.text-muted.post_date {
    text-align: center;
    background: linear-gradient( 
90deg
 , #83b6d000, #62b0d6,#83b6d000);
    color: #050e13;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}



@font-face {
font-family: 'font6fd7e0f0248f1c0320476e13c81e4047';
    
    src:    url('https://nomail.com.ua/files/eot/6fd7e0f0248f1c0320476e13c81e4047.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/6fd7e0f0248f1c0320476e13c81e4047.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/6fd7e0f0248f1c0320476e13c81e4047.woff2') format('woff2');
}

@font-face { font-family: 'HarmoniaSansProCyr-Regular';  src: local('HarmoniaSansProCyr-Regular'), url('https://nomail.com.ua/files/woff/6fd7e0f0248f1c0320476e13c81e4047.woff') format('woff'); }

/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/


@font-face {
font-family: 'font129a060dd8496deac581e40a11b0130b';
    
    src:    url('https://nomail.com.ua/files/eot/129a060dd8496deac581e40a11b0130b.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/129a060dd8496deac581e40a11b0130b.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/129a060dd8496deac581e40a11b0130b.woff2') format('woff2');
}

@font-face { font-family: 'DirtyEgoCyrillic';  src: local('DirtyEgoCyrillic'), url('https://nomail.com.ua/files/woff/129a060dd8496deac581e40a11b0130b.woff') format('woff'); }



@font-face {
font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    
    src:    url('https://nomail.com.ua/files/eot/18abd107fb8d0e65f7107428c0e88b64.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/18abd107fb8d0e65f7107428c0e88b64.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/18abd107fb8d0e65f7107428c0e88b64.woff2') format('woff2');
}

@font-face { font-family: 'HandelsonSix_CYR-Six';  src: local('HandelsonSix_CYR-Six'), url('https://nomail.com.ua/files/woff/18abd107fb8d0e65f7107428c0e88b64.woff') format('woff'); }




::-webkit-scrollbar {
    width: 10px !important;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ff9800 !important;
}
::-webkit-scrollbar-track {
    border-top: 3px solid #ff9800 !important;
    border-bottom: 3px solid #ff9800 !important;
    outline: 1px solid #ff9800 !important;
    outline-offset: -25px !important;
}





/*Стикеры с жабой*/

.fl_l {max-width: 50px;}

#fffuuusmiles img {width: 100px; max-height: 100%;}

[src="/images/fffuuusmiles/kiddingme.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/1.png); width: auto;}
[src="/images/fffuuusmiles/hurts.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/2.png); width: auto;}
[src="/images/fffuuusmiles/trolldance.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/9.png);width: auto;}
[src="/images/fffuuusmiles/lawyerbeginner.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/4.png); width: auto;}
[src="/images/fffuuusmiles/pickupmaster.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/5.png); width: auto;}
[src="/images/fffuuusmiles/aimalaca.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/6.png); width: auto;}
[src="/images/fffuuusmiles/cool.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/7.png); width: auto;}
[src="/images/fffuuusmiles/doomed.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/8.png); width: auto;}
[src="/images/fffuuusmiles/fair.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/39.png); width: auto; height:auto;}
[src="/images/fffuuusmiles/foreveralone.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/10.png); width: auto;}
[src="/images/fffuuusmiles/fu.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/11.png);width: auto;}
[src="/images/fffuuusmiles/fuckyeah.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/12.png); width: auto;}
[src="/images/fffuuusmiles/happy.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/13.png); width: auto;}
[src="/images/fffuuusmiles/itsnotok.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/14.png);width: auto;}
[src="/images/fffuuusmiles/lol.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/15.png); width: auto;}
[src="/images/fffuuusmiles/megustagirl.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/16.png); width: auto;}
[src="/images/fffuuusmiles/megustasmile.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/17.png); width: auto;}
[src="/images/fffuuusmiles/muhaha.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/18.png); width: auto;}
[src="/images/fffuuusmiles/ofcourse.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/19.png); width: auto;}
[src="/images/fffuuusmiles/okay.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/20.png); width: auto;}
[src="/images/fffuuusmiles/pfff.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/21.png); width: auto;}
[src="/images/fffuuusmiles/please.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/22.png); width: auto;}
[src="/images/fffuuusmiles/pokerface.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/23.png); width: auto;}
[src="/images/fffuuusmiles/really.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/24.png); width: auto;}
[src="/images/fffuuusmiles/shkololota.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/25.png); width: auto;}
[src="/images/fffuuusmiles/suspiciou.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/26.png); width: auto;}
[src="/images/fffuuusmiles/tobey.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/27.png); width: auto;}
[src="/images/fffuuusmiles/trollbl.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/38.png); width: auto;}
[src="/images/fffuuusmiles/whaaat.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/36.png); width: auto;}
[src="/images/fffuuusmiles/yaoming.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/30.png); width: auto;}
[src="/images/fffuuusmiles/yaominginv.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/37.png); width: auto;}
[src="/images/fffuuusmiles/yaomingpff.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/32.png); width: auto;}
[src="/images/fffuuusmiles/beaman.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/33.png); width: auto;}
[src="/images/fffuuusmiles/rage.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/34.png); width: auto;}
[src="/images/fffuuusmiles/fapfapfap.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/35.png); width: auto;}
