.blog_leftsearch .card-header {
    display: none;
}


.blog_leftsearch input[type="text"] {
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    text-align: center;
    height: 50px;
    background: transparent;
    padding: 0px;
    color: white;
    margin-top: 0px;}


.card.mt-3.blog_leftmenu, .blog_leftsearch input[type="text"], .blog_leftprofile {
    border-radius: 0px;
    background: linear-gradient(302deg, rgb(70, 107, 162), rgba(24, 24, 52, 0.71)),url(https://www.transparenttextures.com/patterns/vintage-speckles.png) !important;
}


.card-header {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-family: 'font129a060dd8496deac581e40a11b0130b';
}



li.p-1 a {
    color: white !important;
    text-transform: uppercase;
    font-size: 12px;
}

li.p-1 {
    display: block;
    text-align: center;
}


.blog_leftprofile a {
    color: #db8100;
    font-family: 'font129a060dd8496deac581e40a11b0130b';
    font-size: 30px;
}


.card.mt-3.blog_leftmenu, .blog_leftsearch input[type="text"], .blog_leftprofile {
    border-radius: 0px;
    background: linear-gradient(302deg, rgb(70, 107, 162), rgba(24, 24, 52, 0.71)),url(https://www.transparenttextures.com/patterns/vintage-speckles.png) !important;
}



.profile_postcomment {
    padding: 10px !important;
}

div#postcomment_userphotos {
    border: none;
    padding: 0px;
}

.userphoto_selected {
    background: #db8100;
    transform: skewY( -2deg);}

img.img-thumbnail {
    border: none;
    background: transparent;
    padding: 0px;
    border-radius: 0px !important;
}

.profile_postcomment {
    border: none !important;
}

input#comment_submit {
    background: #db8100;
    border: none;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    transform: skewY( 
3deg
 );
    margin-top: 5px;
    transition: 0.2s;
}

.comment_headline a {
    color: #5885c5;
}

.profile_comment_links {
    color: transparent;
}

div.profile_comment_body {
    color: white;
    font-family: 'font6fd7e0f0248f1c0320476e13c81e4047';
}

body {
    background: url(https://i.pinimg.com/originals/c5/29/fd/c529fd2ba16953a70eec2ec8fde62de3.png) no-repeat fixed;
    background-size: cover;
    background-color: #0c0a0e;
}


div#righthome {
    background: linear-gradient( 
136deg
 , #5586c9d4 45%, #301538d6) fixed,url(https://www.transparenttextures.com/patterns/vintage-speckles.png);
    border: 2px solid black;
    padding: 10px;
}

.bg-light {
    background: linear-gradient(
347deg
, #5079b1, #342144);
    border: none;
}

h2.card-title {
    text-align: center;
}
h2.card-title a {
    color: #db8100;
    font-size: 30px;
    text-shadow: 1px 1px 0px #00000096, -1px -1px 0px #00000096;
    filter: drop-shadow(0px 0px 1px black);
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
}

a.page-link {
    position: absolute;
    right: 0px;
    margin-top: -40px;
    background: transparent;
    color: #db8100;
    font-family: cursive;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}


h6.card-subtitle.mb-2.text-muted.post_date a {
    color: white;
}
h6.card-subtitle.mb-2.text-muted.post_date {
    text-align: center;
    background: linear-gradient( 90deg , #83b6d000, #62b0d6,#83b6d000);
    color: #050e13;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.post_container {
    color: white;
    font-family: sans-serif;
}

.additional_info.pl-3 a {
    color: #db8100;
    font-weight: bold;
}


.post_text.pl-3 {
    padding: 8px !important;
}

.additional_info.pl-3 {
    font-size: 12px;
    padding-left: 7px !important;
}

.post {
    margin-top: 50px;
}


.group_desc {
    display: none;
}

.post_image a img {
    box-shadow: 0 0 10px black;
    outline: 2px solid #db8100;
    transform: skewY(
-2deg
);
}

div#user_status {
    padding-top: 5px;
    color: #db8100;
}


[src="./images/logo_new.png"] {
    opacity: 0;
}

[href="./"]:before {
    content: 'ВЫХОД ТУТ';
    position: absolute;
    font-size: 25px;
    margin-top: 8px;
    margin-left: -1px;
    color: #db8100;
    text-shadow: 0 0 2px black;
    font-family: font18abd107fb8d0e65f7107428c0e88b64;
}

button.btn.btn-outline-success {
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}


[src="/images/notify.svg"] {
    background: url(https://beon.vip/uploads_user/10000/9068/1c2a4042af51f18dd68abad5c2980157.png) no-repeat center;
    background-size: contain;
    padding: 20px;
    transform: skewY( 
-4deg
 );
    margin-top: 7px;
}


button.navbar-toggler {
    border: none;
}


.seBlogComments [valign="top"] a {
    color: #44669a !important;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    font-size: 12px;
    transition: 0.2s;
}

.seBlogComments img.photo {
    border: none;
    outline: rgb(219, 129, 0) solid 2px;
    box-shadow: black 0px 0px 10px;
}

.profile_comment_author a {
    color: #1a1b35;
    background: #db8100;
    transform: skewY( 
-2deg
 );
    display: block;
    padding: 1px;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    transition: 0.2s;
}

.profile_comment_date {
    text-align: left !important;
    color: black !important;
    margin-top: 10px;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
}

.profile_comment_links a {
    color: black;
    font-size: 12px;
    background: #db8100;
    padding: 1px;
    transition: 0.2s;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
}

.comment_headline {
    border: none;
    background: #20233a42;
    padding: 5px;
    margin-top: 70px;
    border-radius: 0px;
    color: #5885c5;
    position: relative;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
}

textarea#comment_body {
    background: #21243c45;
    border: none;
    border-radius: 0px;
    color: white !important;
}

textarea#comment_body::placeholder {
    color: #5885c5;
    font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
}












@font-face {
font-family: 'font6fd7e0f0248f1c0320476e13c81e4047';
    
    src:    url('https://nomail.com.ua/files/eot/6fd7e0f0248f1c0320476e13c81e4047.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/6fd7e0f0248f1c0320476e13c81e4047.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/6fd7e0f0248f1c0320476e13c81e4047.woff2') format('woff2');
}

@font-face { font-family: 'HarmoniaSansProCyr-Regular';  src: local('HarmoniaSansProCyr-Regular'), url('https://nomail.com.ua/files/woff/6fd7e0f0248f1c0320476e13c81e4047.woff') format('woff'); }

/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/


@font-face {
font-family: 'font129a060dd8496deac581e40a11b0130b';
    
    src:    url('https://nomail.com.ua/files/eot/129a060dd8496deac581e40a11b0130b.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/129a060dd8496deac581e40a11b0130b.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/129a060dd8496deac581e40a11b0130b.woff2') format('woff2');
}

@font-face { font-family: 'DirtyEgoCyrillic';  src: local('DirtyEgoCyrillic'), url('https://nomail.com.ua/files/woff/129a060dd8496deac581e40a11b0130b.woff') format('woff'); }



@font-face {
font-family: 'font18abd107fb8d0e65f7107428c0e88b64';
    
    src:    url('https://nomail.com.ua/files/eot/18abd107fb8d0e65f7107428c0e88b64.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/18abd107fb8d0e65f7107428c0e88b64.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/18abd107fb8d0e65f7107428c0e88b64.woff2') format('woff2');
}

@font-face { font-family: 'HandelsonSix_CYR-Six';  src: local('HandelsonSix_CYR-Six'), url('https://nomail.com.ua/files/woff/18abd107fb8d0e65f7107428c0e88b64.woff') format('woff'); }


::-webkit-scrollbar {
    width: 10px !important;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ff9800 !important;
}

::-webkit-scrollbar-track {
    border-top: 3px solid #ff9800 !important;
    border-bottom: 3px solid #ff9800 !important;
    outline: 1px solid #ff9800 !important;
    




/*Стикеры с жабой*/

.fl_l {max-width: 50px;}

#fffuuusmiles img {width: 100px; max-height: 100%;}

[src="/images/fffuuusmiles/kiddingme.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/1.png); width: auto;}
[src="/images/fffuuusmiles/hurts.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/2.png); width: auto;}
[src="/images/fffuuusmiles/trolldance.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/9.png);width: auto;}
[src="/images/fffuuusmiles/lawyerbeginner.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/4.png); width: auto;}
[src="/images/fffuuusmiles/pickupmaster.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/5.png); width: auto;}
[src="/images/fffuuusmiles/aimalaca.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/6.png); width: auto;}
[src="/images/fffuuusmiles/cool.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/7.png); width: auto;}
[src="/images/fffuuusmiles/doomed.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/8.png); width: auto;}
[src="/images/fffuuusmiles/fair.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/39.png); width: auto; height:auto;}
[src="/images/fffuuusmiles/foreveralone.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/10.png); width: auto;}
[src="/images/fffuuusmiles/fu.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/11.png);width: auto;}
[src="/images/fffuuusmiles/fuckyeah.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/12.png); width: auto;}
[src="/images/fffuuusmiles/happy.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/13.png); width: auto;}
[src="/images/fffuuusmiles/itsnotok.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/14.png);width: auto;}
[src="/images/fffuuusmiles/lol.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/15.png); width: auto;}
[src="/images/fffuuusmiles/megustagirl.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/16.png); width: auto;}
[src="/images/fffuuusmiles/megustasmile.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/17.png); width: auto;}
[src="/images/fffuuusmiles/muhaha.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/18.png); width: auto;}
[src="/images/fffuuusmiles/ofcourse.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/19.png); width: auto;}
[src="/images/fffuuusmiles/okay.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/20.png); width: auto;}
[src="/images/fffuuusmiles/pfff.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/21.png); width: auto;}
[src="/images/fffuuusmiles/please.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/22.png); width: auto;}
[src="/images/fffuuusmiles/pokerface.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/23.png); width: auto;}
[src="/images/fffuuusmiles/really.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/24.png); width: auto;}
[src="/images/fffuuusmiles/shkololota.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/25.png); width: auto;}
[src="/images/fffuuusmiles/suspiciou.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/26.png); width: auto;}
[src="/images/fffuuusmiles/tobey.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/27.png); width: auto;}
[src="/images/fffuuusmiles/trollbl.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/38.png); width: auto;}
[src="/images/fffuuusmiles/whaaat.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/36.png); width: auto;}
[src="/images/fffuuusmiles/yaoming.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/30.png); width: auto;}
[src="/images/fffuuusmiles/yaominginv.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/37.png); width: auto;}
[src="/images/fffuuusmiles/yaomingpff.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/32.png); width: auto;}
[src="/images/fffuuusmiles/beaman.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/33.png); width: auto;}
[src="/images/fffuuusmiles/rage.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/34.png); width: auto;}
[src="/images/fffuuusmiles/fapfapfap.gif"] {content: url(https://tgram.ru/wiki/stickers/img/ToadArtstriks/png/35.png); width: auto;}
