body {
    background: url(https://i.pinimg.com/originals/c5/29/fd/c529fd2ba16953a70eec2ec8fde62de3.png) no-repeat fixed;
    background-size: cover;
    background-color: #0c0a0e;
}


div#righthome {
    background: linear-gradient( 
136deg
 , #5586c9d4 45%, #301538d6) fixed,url(https://www.transparenttextures.com/patterns/vintage-speckles.png);
    border: 2px solid black;
    padding: 10px;
}

.bg-light {
    background: linear-gradient(
347deg
, #5079b1, #342144);
    border: none;
}

h2.card-title {
    text-align: center;
}
h2.card-title a {
    color: #db8100;
    font-size: 30px;
    text-shadow: 1px 1px 0px #00000096, -1px -1px 0px #00000096;
    filter: drop-shadow(0px 0px 1px black);
    font-family: fantasy;
}

a.page-link {
    position: absolute;
    right: 0px;
    margin-top: -40px;
    background: transparent;
    color: #db8100;
    font-family: cursive;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}


h6.card-subtitle.mb-2.text-muted.post_date a {
    color: white;
}
h6.card-subtitle.mb-2.text-muted.post_date {
    text-align: center;
    background: linear-gradient( 90deg , #83b6d000, #62b0d6,#83b6d000);
    color: #050e13;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.post_container {
    color: white;
    font-family: sans-serif;
}

.additional_info.pl-3 a {
    color: #db8100;
    font-weight: bold;
}


.post_text.pl-3 {
    padding: 8px !important;
}

.additional_info.pl-3 {
    font-size: 12px;
    padding-left: 7px !important;
}

.post {
    margin-top: 50px;
}


.group_desc {
    display: none;
}

.post_image a img {
    box-shadow: 0 0 10px black;
    outline: 2px solid #db8100;
    transform: skewY(
-2deg
);
}

div#user_status {
    padding-top: 5px;
    color: #db8100;
}


[src="./images/logo_new.png"] {
    opacity: 0;
}

[href="./"]:before {
    content: 'ВЫХОД ТУТ';
    position: absolute;
    font-size: 20px;
    margin-top: 8px;
    margin-left: -1px;
    font-family: fantasy;
    color: #db8100;
    text-shadow: 0 0 2px black;
}

button.btn.btn-outline-success {
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}


[src="/images/notify.svg"] {
    background: url(https://beon.vip/uploads_user/10000/9068/1c2a4042af51f18dd68abad5c2980157.png) no-repeat center;
    background-size: contain;
    padding: 20px;
    transform: skewY( 
-4deg
 );
    margin-top: 7px;
}


button.navbar-toggler {
    border: none;
}


.seBlogComments [valign="top"] a {
    color: #44669a !important;
    font-size: 12px;
    transition: 0.2s;
}

.seBlogComments img.photo {
    border: none;
    outline: rgb(219, 129, 0) solid 2px;
    box-shadow: black 0px 0px 10px;
}

.profile_comment_author a {
    color: #1a1b35;
    background: #db8100;
    transform: skewY( 
-2deg
 );
    display: block;
    padding: 1px;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: fantasy;
    transition: 0.2s;
}

.profile_comment_date {
    text-align: left !important;
    color: black !important;
    margin-top: 10px;
}

.profile_comment_links a {
    color: black;
    font-size: 12px;
    background: #db8100;
    padding: 1px;
    transition: 0.2s;
}

.comment_headline {
    border: none;
    background: #20233a42;
    padding: 5px;
    margin-top: 70px;
    border-radius: 0px;
    color: #5885c5;
    position: relative;
}

textarea#comment_body {
    background: #21243c45;
    border: none;
    border-radius: 0px;
    color: white !important;
}

textarea#comment_body::placeholder {
    color: #5885c5;
}
