@import url('https://vtloa.github.io/uwuMODvip.css');
@import url('https://vtloa.github.io/fish.css');

html {
    overflow-x: hidden;
}

@media (max-width: 280px), (max-width: 480px), (max-width: 768px),(max-width: 1024px) {
    
/*-------------------*/


body {
    background: #1d1e21;
}

body {
    font-family: monospace;
}

div.profile_comment_body img {
    max-width: 100%;
}

div {
    border: unset !important;
}

.profile_comment_author b {
    font-size: 12px !important;
}

.profile_comment_date {
    font-size: 9px !important;
}
* {
    color: #8f8f8f !important;
}
    
.copyright {
    display: none !important;
}

/*-------------------*/

.contentDELETE {
    position: fixed;
    top: 0;
    width: 20% !important;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

/*------ОЧЕНЬ ВАЖНОЕ-------*/
    
.content:has(.card.mb-2.post_home:first-child p.k) {
    position: fixed;
    top: 0;
    width: 35% !important;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

html:has(.card.mb-2.post_home:first-child p.k) {
    overflow: hidden;
}

.content:has(.card.mb-2.post_home:first-child p.k) div#lefthome {
    display: none;
}


.content:has(.card.mb-2.post_home:first-child p.k) [src^="https://www.youtube.com/embed/"] {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 65%;
    max-width: 100% !important;
    height: 100%;
    max-height: 100%;
}


.card.mb-2.post_home:first-child .post_image {
    display: none;
}


/*-------------------*/

.content {
    padding: 0px !important;
}

div#righthome {
    padding: 10px !important;
}

div#lefthome {
    display: none;
}

input#comment_submit {
    width: 30%;
}

div#user_status,
.seBlogComments .profile_comment_author [href="https://beon.vip/you/"]:after, h6.card-subtitle.mb-2.text-muted.post_date [href="https://beon.vip/you/"]:after, div#lefthome .portal_spacer+.card [href="https://beon.vip/you/"]:after, .blog_leftprofile [href="https://beon.vip/you/blog/"]:after{
    display: none;
}

.seBlogComments img.photo,
[style="margin-top: 10px; margin-bottom: 20px;"] [style="float: left; text-align: center; width: 110px;"]{
    width: 80px !important;
}

div#postcomment_userphotos {
    position: absolute;
    top: 31px;
    right: 0;
    bottom: 0;
    width: 50px;
    max-height: 100%;
}

div#postcomment_form {
    width: calc(100% - 55px) !important;
}


a#attach_file_click {
    right: 20px;
    top: 0px;
    filter: contrast(0.5);
}

div#fffuuusmiles {
    position: fixed;
    bottom: 0;
    right: 35%;
    left: unset;
    background: #0e39a7ad;
    width: 150px;
    height: 150px;
    overflow-y: scroll;
}

div#bbcode [src^="/images/fffuuusmiles/"] {
    margin: 1px !important;
}

div#bbcode [src^="/images/fffuuusmiles/"] {
    padding: 24px;
}

.profile_postcomment,.comment_headline {
    padding: 0px !important;
}

.additional_info.pl-3 {
    padding: 0px !important;
}

.comment_headline {
    padding-bottom: 10px !important;
}

textarea#comment_body {
    background: #30333d;
    border: unset;
}

input#comment_submit {
    background: #334683;
    color: transparent !important;
}

/*------СКРОЛЛ-------*/


::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #184fd7;
}


::-webkit-scrollbar-track1 {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
}

div#fffuuusmiles::-webkit-scrollbar {
    display: none;
}


/*----ШАПКА----*/

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    background: #0e39a7e6;
    border: unset !important;
}

body:has(.card.mb-2.post_home:first-child p.k) nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    height: 40px;
    display: flex;
    align-content: center;
    left: 65%;
    right: 0;
    width: 35%;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu .p-1 [src="./images/logo_new.png"] {
    width: 40px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu [src="/images/notify.svg"] {
    width: 20px;
}

button.navbar-toggler,button.btn.btn-outline-success {
    border: unset;
}

[src="/images/notify.svg"], [src="/images/button_down.svg"],button.navbar-toggler {
    filter: invert(50%) sepia(24%) saturate(1199%) hue-rotate(185deg) brightness(99%) contrast(99%);
}

button.navbar-toggler:hover,
button.btn.btn-outline-success:hover{
    background-color: transparent !important;
    color: #5d86ed !important;
}

button.btn.btn-outline-success {
    color: #5d86ed !important;
}

.content {
    padding-top: 50px !important;
}

.show_menu.header-orange {
    border-radius: unset;
    background: #1746b9;
    color: #8fafff !important;
}

.p-1 [src="./images/logo_new.png"] {
    display: none;
}

.p-1 [href="./"]:before {
    content: 'BEON';
    text-decoration: unset !important;
    color: #5d86ed !important;
    font-weight: bold;
}


button.btn.btn-outline-success:before {
    opacity: 1;
    filter: invert(50%) sepia(24%) saturate(1199%) hue-rotate(185deg) brightness(99%) contrast(99%);
}
button.navbar-toggler {
    opacity: 1;
}

body:has(.card.mb-2.post_home:first-child p.k) button.btn.btn-outline-success {
    display: none;
}
div#bbcode [src^="/images/bbcode/"] {
    margin: 0px;
}
}




/*-----------------------------------------------------------ОБЩЕЕ--------------------*/

.profile_comment_date {
    padding-left: 10px !important;
}


/*---ОБЩЕЕ закинуть в М версию---*/

.modal-content {
    background: #1746b9;
    color: #b4caff !important;
    border-radius: unset;
}

h5.modal-title,.noUpdates {
    color: #b4caff !important;
}

button.btn.btn-secondary {
    border-radius: unset;
    background: #dbe5ff;
    color: #1746b9 !important;
}

.modal-body a {
    color: #b4caff !important;
}

button.close {
    display: none;
}

.modal-footer {
    position: absolute;
    top: auto;
    right: 0;
}

input#comment_submit {
    background: #1746b9;
    color: transparent !important;
    border-radius: unset !important;
}

input#comment_submit:hover {
    background: #5c86ed !important;
}

font.disabled{
    font-size: 11px;
    color: #4d4d4d !important;
}

.comment_headline a:before,
.comment_headline span {
    font-size: 14px;
    color: #4d4d4d !important;
}

a#comment_next_page_bottom,a#comment_next_page_top,a#comment_last_page_top,a#comment_last_page_bottom,.category a{
    color: #265eff !important;
}

blockquote.blockquote {
    background: #184fd7;
    color: #a8c1ff !important;
    border: unset;
}

.content:has(.card.mb-2.post_home:first-child p.k) h2.card-title,
.content:has(.card.mb-2.post_home:first-child p.k) h6.card-subtitle.mb-2.text-muted.post_date {
    display: none;
}

.content:has(.card.mb-2.post_home:first-child p.k) .post_data {
    display: flex;
    justify-content: space-between;
}

.content:has(.card.mb-2.post_home:first-child p.k) .category {
    text-align: center;
    margin-bottom: 25px;
}

textarea#comment_body {
    border-radius: unset;
}


div#bbcode [src^="/images/bbcode/"] {
    border-radius: unset;
    background: transparent;
    filter: invert(14%) sepia(83%) saturate(4935%) hue-rotate(227deg) brightness(97%) contrast(84%);
}

div#postcomment_userphotos::-webkit-scrollbar {
    display: none;
}

.content:has(.card.mb-2.post_home:first-child p.k) input#comment_submit {
    position: absolute;
    top: 31px;
    right: 55px;
    height: calc(100% - 59px);
    width: 45px;
}

.comment_headline {
    font-size: 11px;
    color: #4d4d4d !important;
}

.like_button:before, p.card-link.post_views:before, p.card-link.post_comments a:before, [onclick^="more_menu"]:before, p.card-link:before, a.commentReply, .commentDeleteLink:before, a.commentReply:before, [onclick^="newmessage"]:before, .commentEditLink:before, p.card-link.grouppost_comments:before {
    font-size: 14px;
}

.like_button.liked+span {
    font-size: 12px;
}


.like_button.liked:before {
    color: #265eff !important;
}

.like_button.liked+span {
    color: #265eff !important;
}


.like_button.liked:before {
    text-shadow: 0px 0px #265eff;
}

div#bbcode {
    width: 100%;
}


div#bbcode {
    direction: rtl;
}

div#fffuuusmiles {
    direction: ltr;
}

.content:has(.card.mb-2.post_home:first-child p.k) div#bbcode {
    margin-top: 0;
    text-align: left;
}


div#smiles {
    position: fixed;
    bottom: 0;
    right: 35%;
    left: unset;
    background: #0e39a7ad;
    width: 150px;
    height: 150px;
    overflow-y: scroll;
}


/*-----ПОЛЕЗНОЕ И ДЛЯ ОБЩЕГО БЕОНА----*/

[onclick^="more_menu"]:before {
    width: 20px;
    display: inline-block;
    text-align: right;
}

/*--------------------*/


div#designs {
    border: unset;
    border-radius: unset;
    width: 20px;
    height: 20px !important;
    background-size: 14px;
    background-color: transparent;
    filter: invert(16%) sepia(84%) saturate(3040%) hue-rotate(219deg) brightness(137%) contrast(96%);
}

div#mobile_menu {
    background: #1746b9;
    color: #b4caff !important;
    border-radius: unset;
}

div#mobile_menu button.btn.btn-primary {
    background: #5d86ed !important;
    color: #b4caff !important;
}

div#mobile_menu button.btn.btn-primary:hover {
    background: #153fa6 !important;
}

div#mobile_photo_wrap div {
    color: #b4caff !important;
}

#mobile_menu .menu_item_dropdown a {
    background: transparent;
    color: #b4caff !important;
}


img#secure_image {
    filter: grayscale(1) brightness(7.5);
}

input#comment_secure {
    background: #184fd7;
    border: unset;
    color: white !important;
}


@media (max-width: 1366px){
.seBlogComments img.photo, [style="margin-top: 10px; margin-bottom: 20px;"] [style="float: left; text-align: center; width: 110px;"] {
    width: 70px !important;
}
[src^="/images/fffuuusmiles/"] {
    padding: 80px;
}
}

div#comment_error {
    font-size: 0;
}

body {
    cursor: url(http://i.imgur.com/2qleX.jpg), auto;
}


span.card-text img {
    padding: 0px !important;
    margin: 3px;
}


a:hover {
    color: #265eff !important;
}

.blog_leftsearch input[type="text"] {
    background: #184fd7;
    border-radius: unset;
}

input[type="text"]::placeholder {
    color: #a8c1ff;
}

blockquote.blockquote {
    width: fit-content;
}

span#notify_total {
    color: #b2c8ff !important;
}

.post_image img, .post_image,.blog_user_status {
    max-width: 80px;
}

.blog_user_status {
    font-size: 9px;
    color: #838383 !important;
}

.blog_leftphoto img.photo {
    max-width: 150px;
}


::-webkit-scrollbar-track {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
}

[src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"] {
    max-height: 100px !important;
    max-width: 420px !important;
}
