.blog__about img.mw-100 {
    content: url(https://i.ibb.co/BTV2G29/image.png);
}

div#app:before {
    content: '';
    display: block;
    width: 100%;
    background: url(https://i.ibb.co/FwMdYhs/image.png) no-repeat center;
    height: 380px;
}


.bg-white {
    margin-top: 7px !important;
}

.blog__gifts h3.left-menu-text:before {
    content: 'мне подарили';
    font-size: 10px;
}

.blog__iread {
    display: none !important;
}

.blog__read-me h3.left-menu-text {
    font-size: 0;
}

.blog__about h3.left-menu-text {
    font-size: 10px;
}
