@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500&family=Kurale&display=swap');


@font-face{font-family:'cappuccicons';src:url('//source.cappuccicons.com/cappuccicons.eot');src:url('//source.cappuccicons.com/cappuccicons.eot#iefix') format('embedded-opentype'), url('//source.cappuccicons.com/cappuccicons.ttf') format('truetype'), url('//source.cappuccicons.com/cappuccicons.woff') format('woff'), url('//source.cappuccicons.com/cappuccicons.svg#cappuccicons') format('svg');font-weight:normal;font-style:normal;font-display:block;}


/*

font-family: 'Cormorant Infant', serif;
font-family: 'Kurale', serif;

*/


.footer__infolinks.p-1,
div#page__admincontact,
div#footer,div#page__rendertime{
    font-size: 0;
    padding: 0px !important;
}

main.py-4+.crumbs {
    display: none;
}

.left-menu__friends.left-menu__friends_offline {
    display: none !important;
}

p.left-menu-text {
    margin: 0px;
}


span.post-title-date+span {
    display: none;
}


.community__moders,.community__members {
    display: none !important;
}



/*-------------------*/

a, span {
    text-decoration: unset !important;
}

a.post-title {
    font-family: 'Cormorant Infant', serif;
}

body.bodybg,a.menu__item {
    font-family: 'Kurale', serif;
}


main.py-4,.crumbs {
    padding: 0%;
    max-width: 1450px;
    margin: auto;
}

.content {
    width: 55%;
    margin-left: 100px;
}

.left-menu {
    border: unset !important;
    min-width: 320px;
    max-width: 320px;
    margin-left: 50px;
}


.post-content {
    margin: 0px !important;
}

body.bodybg {
    background: url(https://i.ibb.co/Rgn3pmT/sirenblur2.png) no-repeat center fixed;
    background-color: #5f3a80;
    background-size: cover;
    background-blend-mode: multiply;
}




.post-content.blog_total_counter {
    display: none;
}




.post-avatar img {
    border-radius: 5px;
}

.post-row a {
    color: #9876b1;
}

.post-content [onclick="return showSpoiler(this)"] {
    background: #a68eb7;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto !important;
    color: #ebebeb !important;
}

.bg-white {
    background: transparent;
    box-shadow: unset !important;
}

.left-menu>div a,span.post-title-date {
    color: #4e5f3e;
}

[src="/i/user.png"] {
    display: none;
}


/*---плеер----*/


div#beon-fnplayer {
    background: #e8eae5;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

div#fnplayer-slider, div#fnplayer-volume {
    background: #a386cb5e;
    height: 4px;
    border-radius: 10px;
}

div#fnplayer-slider span {
    font-size: 0;
}

div#fnplayer-slider-inner, div#fnplayer-volume-inner {
    height: 4px;
    background: #a386cb;
    border-radius: 10px;
}

div#fnplayer-volume-mask {
    border: unset;
}

div#fnplayer-volume-inner {
    border: unset;
}

button#fnplayer-stop {
    border-radius: 2px;
    background: #a386cb;
}

button#fnplayer-play {
    border: unset;
    width: 9px;
    height: 12px;
    background: #a386cb;
    margin-right: 5px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

#fnplayer-play.paused {
    clip-path: unset;
    background: transparent;
    border-color: #a386cb;
    height: 9px;
}



/*-------------------*/

.blog__about [action="/search"] {
    display: none;
}

.text-center img {
    display: none;
}



.left-menu-text {
    padding: 0;
}

.bg-white {
    background: transparent;
    box-shadow: unset !important;
    max-width: 1450px;
    width: 98%;
    margin: auto;
    padding: 0;
}

.container {
    max-width: 100%;
    padding: 10px;
}



div#navbarSupportedContent {
    display: block !important;
    flex-grow: unset;
    margin: auto;
    border-radius: 20px;
    margin-left: 100px !important;
}





ul {
    padding-left: 15px;
}
::marker {
    font-size: 0;
}



.m2 {
    background: #f0f8ff7a;
    margin-left: 50px;
    text-align: center;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    line-height: 3;
    display: none;
}





.tag:before,.user:before {
    display: none;
}

.blog__about h3.left-menu-text {
    display: none;
}

.post__musicplay,.post__tags-list {
    color: #506040 !important;
}

a.post-title {
    background: #ebebeb;
    color: #9876b1;
    border-radius: 20px;
    line-height: 1;
    position: relative;
    min-width: 50px;
    text-align: center;
    font-size: 27px;
    margin-bottom: 20px;
    margin-right: 10px;
}


.datebg {
    font-weight: normal;
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
    margin: 0px;
    margin-right: 15px;
    margin-left: auto;
    margin-bottom: -25px;
    font-size: 14px;
    color: #9876b1;
    background: url(https://i.ibb.co/Pm3ddHw/sirenblur-post.png) no-repeat right -60px top -100px;
    background-color: #dad4df;
    background-blend-mode: color-burn;
}



img.imagefsme {
    border-radius: 25px;
}

span.post-title-date {
    padding: 0;
}

.post-opt.col-12.col-md-6 {
    padding: 0px;
}

.row.w-100.mt-3 {
    margin: 0px;
}

.row.w-100.mt-3 {
    margin: 0px;
    border-top: 2px solid #9876b152;
    padding-top: 10px;
}

.row.w-100.mt-3 *, a.user.post-title-user, span.post-title-date, .fa-chevron-down:before,.sign {
    color: #9876b1 !important;
    font-size: 13px;
}

.sign {
    font-size: 10px;
}

.post-text {
    padding: 10px;
}

.post-text {
    color: #513b6f;
}



/*----АЛЬТЕРНАТИВА---*/

.post-content {
    background: url(https://i.ibb.co/Pm3ddHw/sirenblur-post.png) no-repeat right -60px top;
    background-color: #ebebeb;
    background-blend-mode: color-burn;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 35px !important;
}



.left-menu>div {
    color: #ebebeb;
}


.left-menu>div a, span.post-title-date {
    color: #ebebeb;
}

h3.left-menu-text {
    background: #ebebeb !important;
    color: #663d89 !important;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    border-radius: 10px;
}

/*-----------*/

.pagination a {
    display: inline-block;
    min-width: 23px;
    text-align: center;
    border-radius: 5px;
    color: #613c82;
    padding-left: 5px;
    padding-right: 5px;
}

.pagination a {
    font-size: 14px;
    margin-right: 15px;
}
.pagination {
    font-size: 0;
}

.pagination {
    font-size: 0;
}


span.crumb-item {
    border-radius: 10px;
    padding: 10px;
    color: #dad4df;
    font-weight: normal;
    font-size: 15px;
}


.left-menu>div {
    background: url(https://i.ibb.co/HdKtcNd/sirenblur-post-wtite2.png) no-repeat left -240px top -150px;
    background-color: #4b2b69;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-blend-mode: hard-light;
}


a.navbar-brand {
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    text-align: center;
    color: #603b81 !important;
    font-weight: normal;
}


.container {
    margin-left: 50px;
    border-radius: 10px;
    margin-right: 180px;
    background: url(https://i.ibb.co/Pm3ddHw/sirenblur-post.png) no-repeat right -10px top -10px;
    background-color: #462862;
}

div#navbarSupportedContent {
    margin: 0;
    margin-right: 50px;
}


.pc-menu * {
    color: #603b81 !important;
}

.pc-menu a {
    font-size: 13px;
}

.crumbs {
    background: url(https://i.ibb.co/Pm3ddHw/sirenblur-post.png) no-repeat right -10px top -10px;
    background-color: #462862;
}

.crumbs {
    max-width: 1220px;
    margin: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    transform: translateX(-65px);
    border-radius: 10px;
}



.post-content {
    background: url(https://i.ibb.co/Pm3ddHw/sirenblur-post.png) no-repeat right -60px top;
    background-color: #dad4df;
    background-blend-mode: color-burn;
}


a.post-title {
    background: #dad4df;
    color: #845da1;
}


h3.left-menu-text {
    background: #dad4df !important;
    color: #663d89 !important;
}


div#beon-fnplayer {
    background: #dad4df;
}

.blog__about .text-center {
    content: '';
    width: 100%;
    height: 320px;
    border-radius: 10px;
    background: url(https://i.ibb.co/fCY6Lgs/flower-photo2.png) no-repeat center right;
    background-color: #dad4df;
    background-size: auto;
    background-blend-mode: darken;
    margin-bottom: 10px;
}

a.navbar-brand,.pc-menu * {
    color: #dad4df !important;
}

div#app {
    padding-top: 15px;
}

.crumbs,.crumbs a {
    color: #dad4df;
}

.post-content a,.comment-base a {
    color: #9876b1 !important;
}

.small-text,.post-opt *,.prevsibling.col-md-6 *,.nextsibling.text-right.col-md-6 * {
    font-size: 13px;
    color: #9876b1 !important;
}

.post-content h1 {
    color: #9876b1 !important;
    font-size: 27px;
}

.comment-box h2 {
    border-radius: 10px;
    color: #80569f;
    font-size: 15px;
    font-weight: normal;
    padding: 3px;
    padding-left: 10px;
    text-align: center;
    line-height: 3;
}


.crumbs [href="/"] {
    padding-left: 10px;
}

.comment-content {
    padding: 20px;
    border-radius: 0;
    margin-bottom: 0px !important;
    min-height: auto;
}

.comment-box {
    background: url(https://i.ibb.co/dpgpv5G/s-com-top.png) no-repeat top -100px right -110px, 
                url(https://i.ibb.co/zxFPh0L/s-com-bott.png) no-repeat bottom -50px right -200px;
    background-color: #dad4df;
    background-blend-mode: color-burn;
    border-radius: 10px;
}


.textareabg {
    background-color: #4b2b69;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    color: #dad4df;
}

textarea,input.w-100,input[type="text"],select {
    border: unset;
    border-radius: 10px;
    background: #dad4df;
    color: #513b6f;
    padding: 10px;
}

input.w-100,input[type="text"],select {
    padding: 3px;
}

.col-md-4 {
    padding: 0px;
}

.container-fluid.mt-5 {
    margin-top: 0px !important;
}

.textareabg div#commentpreviewplace+p {
    display: none;
}

span.emj-dropdown {
    padding: 0px;
}
div#newpostform br {
    display: none;
}

div#newpostform p {
    margin-bottom: 0px;
}

.comment-box .comment-base {
    padding: 10px;
    color: #513b6f;
}

span.post-title-date+a {
    color: #9876b1 !important;
    font-size: 13px;
}

.comment-text+div * {
    color: #9876b1 !important;
    font-size: 13px;
}


p.quotation {
    border-color: #9876b1;
    color: #9876b1;
}

.comment-content {
    position: relative;
}



.comment-text+div {
    margin: 0px;
    border-top: 2px solid #9876b152;
    padding-top: 10px;
}

.comment-box {
    margin-bottom: 20px;
}


/*----СКРОЛЛ----*/


::-webkit-scrollbar {
    width: 15px;
    background: #472963;
}

::-webkit-scrollbar-thumb {
    background-color: #dad4df;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bda5cf;
}


.avatar-select-list::-webkit-scrollbar {
    background: #dad4df;
    width: 10px;
    border: 4px solid #41255b;
}

.avatar-select-list::-webkit-scrollbar-thumb {
    background-color: #dad4df;
    border-radius: 5px;
}


.avatar-select-list::-webkit-scrollbar-thumb:hover {
    background: #bda5cf;
}

/*----END----*/

img.avatar-select-label {
    border-radius: 10px;
    margin-bottom: 5px;
}

.avatar-select-label {
    border: 4px solid #4b2b69;
}

.avatar-select-label-selected {
    border: 4px solid #dad4df !important;
}


/*----МОДАЛКА----*/


.modal-content {
    border: unset;
    border-radius: 10px;
    background: url(https://i.ibb.co/qNXn55s/flowmodal.png) no-repeat top -195px center;
    background-color: #dad4df;
    color: #513b6f;
    padding: 10px;
    background-blend-mode: color-burn;
}

.modal-header,.modal-footer {
    border: unset;
}

a.btn.btn-outline-primary.mb-2,button.btn.btn-secondary,button.btn.btn-primary,.modal-content select {
    color: #9876b1 !important;
    font-size: 13px;
    border: unset;
    border-radius: 10px;
}

a.btn.btn-outline-primary.mb-2:hover,button.btn.btn-secondary,button.btn.btn-primary,.modal-content select {
    background: #f5f3f7;
}

.modal-content a {
    color: #9876b1 !important;
}

label.custom-file-label {
    border-radius: 10px;
    background: #f5f3f7;
    border-color: #f5f3f7;
    color: #9876b1;
    font-size: 13px;
    height: 34px;
}

.custom-file-label:after {
    background: #ae91c3;
    border-radius: 10px;
    color: #f5f3f7;
    font-size: 13px;
    height: 32px;
}

textarea#addtag-img-urls,textarea#add-inst-urls,textarea#addtag-video-urls {
    background: #f5f3f7;
}

input#adduser__imagelink,input#addtag-user {
    background: #f5f3f7;
    border-radius: 10px;
    border: unset;
    color: #513b6f;
}

input#addtag-user::placeholder {
    color: #9876b1;
}

/*----END----*/


div#newpostform {
    margin: 0px !important;
    padding: 20px !important;
}

input[type="submit"] {
    background: #dad4df;
    border: unset;
    border-radius: 10px;
    line-height: 2;
    color: #4b2b69;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #bda5cf;
}


textarea {
    background: linear-gradient(transparent, transparent 27px, #c5b6d0 27px);
    background-size: 30px 29px;
    line-height: 2;
    padding: 0px;
    border: unset;
    background-color: #dad4df;
    padding-left: 10px;
    padding-right: 10px;
}

.tag_bar {
    margin-bottom: 10px;
    margin-top: 5px;
}


.textareabg {
    background-color: #41255b;
    background-blend-mode: color-burn;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    color: #dad4df;
}

.textareabg {
    position: relative;
}

textarea:focus-visible {
    border: unset;
    outline: unset;
    box-shadow: 0 0 12px #dad4df73;
}


/*---ВВЕРХ ВНИЗ----*/


a.my-menu.for-mobile.d-none.d-md-inline, [onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    position: fixed;
    top: 300px;
    right: 0;
    left: 0;
    font-size: 0;
    font-family: 'cappuccicons';
    padding: 0px !important;
    width: fit-content;
    margin: auto;
    transform: translateX(611px);
    text-align: center;
    text-shadow: unset !important;
}


[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    top: unset;
    bottom: 300px;
}


a.my-menu.for-mobile.d-none.d-md-inline:before {
    content: '\e91f';
    font-size: 30px;
    color: #dad4df;
}


[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    content: '\e922';
    font-size: 30px;
    color: #dad4df;
}


a.load_ignored_comments,.post-content [href$="unsubscribe"],a.post-subscribe {
    font-size: 13px;
}

.post-content a:hover,.comment-box a:hover {
    color: #843cdf !important;
}

.left-menu a:hover {
    color: #c9a3ff !important;
}


/*-------------------------МЕДИА----*/


/*------1440---------*/

@media (max-width: 1440px) {
.container {
    margin-right: 150px;
    margin-left: 35px;
}
    
.crumbs {
    transform: translateX(-60px);
    max-width: 1215px;
}
}


/*-------1366--------*/

@media (max-width: 1366px) {
.container {
    margin-right: 120px;
    margin-left: 35px;
}
    
.crumbs {
    transform: translateX(-45px);
    max-width: 1170px;
}
}


/*-------1024--------*/

@media (max-width: 1024px) {

.container {
    margin: 0;
}

.crumbs {
    max-width: 1000px;
    transform: unset;
}

.left-menu {
    margin-left: 10px;
}
    
.content {
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
}

div#navbarSupportedContent {
    margin: 0 !important;
}

.post-content {
    margin-bottom: 20px !important;
}
}


/*-------СМАРТФОНЫ------*/

@media (max-width: 280px), (max-width: 480px), (max-width: 768px) {
    .content {
    margin: 0px;
}
    .post-content {
    padding: 10px;
    margin-bottom: 10px !important;
    background-position: right -250px top;
}
    .datebg {
    padding-bottom: 20px;
    margin-right: 10px;
}
    .left-menu {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
    div#app {
    padding: 10px;
}
    .left-menu>div {
    margin-bottom: 10px;
}
    .left-menu > div.mobile_open_menu > h3 {
    margin: 0px;
    font-weight: normal;
}
    .mobile_open_menu {
    padding: 0px !important;
}
    span.comments_count span::before {
    font-size: 14px;
}
    span.comments_count span {
    font-size: 0 !important;
}
    a.post-title {
    margin: 0px;
    margin-bottom: 10px;
}
    div#newpostform,.textareabg {
    padding: 10px !important;
}
    .fas, .far, .tag_bar > * {
    font-size: 14px;
    padding: 0;
}
    a.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none {
    color: #dad4df;
    font-family: 'cappuccicons';
    font-size: 0px;
    padding: 0px !important;
}
    a.my-menu.for-mobile.mobile-scroll-down.d-inline.d-md-none:before {
    content: '\e91f';
    font-size: 20px;
    color: #dad4df;
}
    .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background: #dad4df;
}
    .hamburger-menu {
    margin-right: 20px;
}
    a.navbar-brand {
    padding-left: 20px;
}
    label.menu__btn {
    margin: 0px;
}
   [style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"] {
    z-index: 33333;
    background: #865fa7;
    bottom: 0px;
    right: 0px;
    left: unset;
    transform: unset;
    width: 25px;
    height: 25px;
    border-radius: 3px;
}
    [onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    content: '\e922';
    font-size: 15px;
    color: #dad4df;
}
    textarea {
    width: 100% !important;
}
    .form__show-avatars {
    background: #dad4df;
    border: unset;
    border-radius: 10px;
    line-height: 2;
    color: #4b2b69;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
    ul.menu__box {
    position: absolute;
    width: 300px;
    height: 0px;
    margin-top: 90px;
    border-radius: 10px;
    background: #4c2f67;
    padding: 10px;
    right: 0;
    left: unset;
}
    #menu__toggle:checked ~ .menu__box {
    width: 300px;
    height: 610px;
}
    a.menu__item {
    text-align: center;
    color: #dad4df;
    font-weight: normal;
    font-size: 16px;
}
    .crumbs {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    line-height: 3;
}
    .crumbs {
    text-align: center;
}
    .pagination a {
    background: #dad4df;
    line-height: 2;
    min-width: 26px;
    color: #4f336a;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: unset;
    margin-left: 10px;
}
    .crumbs [href="/"]+span.crumb-item {
    display: none;
}
}
