

body {
    background-color: #ffffff;
    background-image: url(https://www.transparenttextures.com/patterns/brick-wall.png);
}

.seBlogColumnRightPadding {
    padding: 0px;
    border-radius: 0 0 5px 5px;
    background-image: url(https://www.transparenttextures.com/patterns/purty-wood.png);
    background-color: #3e3e3e;
    box-shadow: -5px 8px 10px #00000070;
    border: 3px solid #383838;
}

.blog_leftprofile a {
    font-size: 30px;
    color: #e09d0d;
    text-shadow: 2px 2px 0 #523a05;
}

.card-header {
    font-size: 20px;
    background: #e09d0d;
    padding: 1px;
    box-shadow: -3px 3px 9px #00000075;
    border-radius: 20px 0px 0px 20px;
    padding-left: 5px;
    background-color: #e09d0d;
    background-image: url(https://www.transparenttextures.com/patterns/diagonales-decalees.png);
    border: 2px solid #383838;
    border-right: none;
}

img.photo {
    border-radius: 5px;
}
.card, img.photo {
    border: none;
}

.card-body a.menu_item, ul.seBlogCategoryList a {
    transition: 0.2s;
}

li.p-1 a {
    color: #bdbdbd;
    text-transform: uppercase;
}

ul.seBlogCategoryList a {
    color: #bdbdbd;
    text-transform: uppercase;
}

.card-header a {
    color: #292929;
}

.gifts-list {
    font-size: 0px;
}

li.p-1 {
    display: block;
}

/*______________________________________________________*/

div#righthome {
    padding-right: 10px !important;
    box-shadow: -2px 2px 8px #000000b0;
    border-radius: 0 0 5px 5px;
    border: 3px double #383838;
    background-color: #404040;
    background-image: url(https://www.transparenttextures.com/patterns/green-dust-and-scratches.png);
}

h2.card-title {
    font-size: 30px;
    background: #e09d0d;
    padding: 1px;
    box-shadow: -3px 3px 9px #00000075;
    padding-left: 5px;
    background-color: #e09d0d;
    background-image: url(https://www.transparenttextures.com/patterns/diagonales-decalees.png);
    border: 2px solid #383838;
    border-right: none;
    border-radius: 10px 10px 0 0;
}

.card.mb-2.post_home:first-child .post {
    margin-top: 0px;
}
.post {
    margin-top: 70px;
    border-radius: 15px 15px 5px 5px;
    box-shadow: 5px 5px 5px #00000073;
    border: 2px solid #383838;
    background-color: #a6a6a6;
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall-2.png);
}

.post_container {
    padding: 20px;
}

h6.card-subtitle.mb-2.text-muted.post_date {
    padding-left: 20px;
}

.category, .category a {
    color: #214982;
}

h6.card-subtitle.mb-2.text-muted.post_date, h6.card-subtitle.mb-2.text-muted.post_date a, .additional_info.pl-3, .additional_info.pl-3 a {
    font-family: sans-serif;
    color: #5a5a5a;
}

.post_image img {
    border-radius: 5px;
}

input[type="text"] {
    background: transparent;
}

h2.card-title a {
    color: #2b2f25;
}

[id^="comment_"] {
    margin-top: 30px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px #00000073;
    border: 2px solid #383838;
    background-color: #a6a6a6;
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall-2.png);
}

.commentDeleteLink, .commentEditLink, div#comment_subscribe, input#comment_submit, textarea#comment_body, a#comment_next_page_top, a#comment_next_page_bottom {
    background: transparent;
    border: none;
    box-shadow: none;
    margin-top: 0px;
}

div#user_status {
    margin: auto;
    color: #6b6b6b;
}

.profile_comment_date {
    background: #475C71;
    width: 99%;
    border-radius: 5px;
    color: #a5a5a5;
    font-family: sans-serif;
    border: 2px solid #373737;
}

[src="/images/verify.png"] {
    filter: grayscale(1);
}

.profile_comment_author a {
    color: #2b2b2b;
    transition: 0.2s;
}

.profile_comment_links a {
    font-size: 13px;
    color: #6b6b6b;
}

.comment_headline {
    font-size: 15px;
    background: #e09d0d;
    padding: 1px;
    box-shadow: -3px 3px 9px #00000075;
    padding-left: 5px;
    background-color: #e09d0d;
    background-image: url(https://www.transparenttextures.com/patterns/diagonales-decalees.png);
    border: 2px solid #383838;
    border-right: none;
    border-radius: 10px 10px 0 0;
}

/*Пойти нахуй*/

.comment_headline [href="#"] {
    font-size: 0px;
}
.comment_headline [href="#"]:after {
    content: 'Пойти нахуй';
    font-size: 15px;
}

a#attach_file_click:after {
    content: '';
}
a#attach_file_click {
    font-size: 15px;
}

.profile_postcomment {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px #00000073;
    border: 2px solid #383838;
    border-top: 0px;
    margin-bottom: 10px;
    background-color: #a6a6a6;
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall-2.png);
}

input#comment_submit:hover {
    background-color: #6e8ab3;
    transition: 0.2s;
}
input#comment_submit, button.btn.btn-secondary {
    background-color: #4c658a;
    background-image: url(https://www.transparenttextures.com/patterns/diagonales-decalees.png);
    border: 2px solid #383838;
    color: #232323;
    font-size: 15px;
    border-radius: 15px;
    transition: 0.2s;
}
.comment_headline {
    margin-top: 20px;
}

div#postcomment_userphotos {
    border: none;
}

.userphoto_selected {
    background: #475c71;
    border-radius: 5px;
}

img.img-thumbnail {
    background: transparent;
    border: none;
}

/*шапка*/

.bg-light {
    border-radius: 0px 0px 20px 20px;
    background: url(https://www.transparenttextures.com/patterns/diagonales-decalees.png);
    background-color: #e09d0d;
    border: 2px solid #343434;
    border-top: 0px;
}

button.navbar-toggler {
    border: none;
}

button.btn.btn-outline-success.mr-1.mobile_button,button.btn.btn-outline-success,.bg-light a {
    border: none;
    color: #383838;
    font-weight: bold;
    text-transform: uppercase;
}

[src="./images/logo_new.png"] {
    content: url(https://beon.vip/uploads_image/f5/f0/f5f049cf21cbdf6c38c2cc05156fcfaa.png);
    filter: grayscale(1);
    transition: 0.2s;
}

.bg-light [src="./images/logo_new.png"] {
    width: 70px;
}


.seBlogComments [valign="top"] a {
    font-size: 13px;
    color: #909090;
}

div#designs {
    content: url(https://beon.vip/uploads_image/54/29/5429705ea1953f3067fdb82fadd57ed0.png);
    width: 100px;
    height: 130px;
    filter: grayscale(1);
}
[src="/images/notify.svg"] {
    content: url(https://beon.vip/uploads_image/9b/d3/9bd3867786befeca972952ddef5f4b41.png);
    height: 28px;
    width: 38px;
}
@media screen and (max-width: 1024px) {
* {font-family: sans-serif;}
div#righthome {border-radius: 10px;}
div#designs {
    width: 70px;
    height: 80px;
}}

div#mobile_photo_wrap {
    background: url(https://i.pinimg.com/originals/4f/db/95/4fdb95862a6ae9e0f0393f7f7b07a162.png) no-repeat center;
    background-size: cover;
}

div#mobile_menu {
    background-image: url(https://www.transparenttextures.com/patterns/purty-wood.png);
    background-color: #3e3e3e;
}

#mobile_menu .menu_item_dropdown a {
    background: transparent;
    text-transform: uppercase;
    font-size: 13px;
    color: #e0e0e0;
}

img.menu_icon2 {
    display: none;
}

div#mobile_menu button.btn.btn-primary {
    background: #e09d0d;
    padding: 1px;
    box-shadow: -3px 3px 9px #00000075;
    padding-left: 5px;
    background-color: #e09d0d;
    background-image: url(https://www.transparenttextures.com/patterns/diagonales-decalees.png);
    border: 2px solid #383838;
    border-right: none;
    color: #2d2d2d;
    text-transform: uppercase;
    font-size: 13px;
}
div#mobile_photo_wrap img.photo {
    opacity: 0;
    height: 150px;
}

a.page-link, a.page-link:hover {
    font-family: 'fontcf3b746a44d8f4183bc9ba366bec8d61';
    background: #e09d0d;
    padding: 1px;
    box-shadow: -3px 3px 9px #00000075;
    padding-left: 5px;
    background-color: #e09d0d;
    background-image: url(https://www.transparenttextures.com/patterns/diagonales-decalees.png);
    border: 2px solid #383838;
    color: #383838;
    transition: 0.2s;
}

.copyright a, .copyright {
    color: #8e8e8e;
}
