@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/*Можно удалить эту строку и вставить сюда шрифт из гугла, они лучше всего чувствуют себя наверху кода*/
/*Шрифт со второго сайта, лучше всего подключать вниз*/





/*-------------------------------------------------------*/
/*-----Место для кастомных шрифтов наверху---*/
/*-----Дальше идёт основной код----------------*/






/*
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Caveat', cursive;
*/



/*------CORE------*/

h2.card-title a:hover {
    color: #542525;
}

input[type="text"] {
    background: #1b1b1b;
    border: none;
}

.blog_leftsearch .card-body {
    box-shadow: unset;
}

input[type="text"]::placeholder {
    font-family: 'fonta27290abb781581445319d23e28522c7';
    font-size: 16px;
    background: #1b1b1b;
    color: #542525;
}

ul.seBlogCategoryList a, li.p-1 a {
    color: #616161 !important;
    color: #616161;
    font-family: 'Montserrat Alternates';
    font-size: 13px !important;
}



.card-header {
    background: #1b1b1b;
    padding: 0px;
    text-align: center;
    color: #542525;
    width: 90%;
    margin: auto;
    border-radius: 5px 5px 0 0 !important;
    font-size: 16px;
    font-family: 'fonta27290abb781581445319d23e28522c7';
}


.top_header {
    width: 100%;
}

.card {
    border: none !important;
    border: none;
}

.post_text.pl-3 {
    padding-left: 10px !important;
}

a.top_menu_item {
    font-family: 'fontff0993442e48a4cd3678b32f3a456061';
    font-size: 15px !important;
    color: #636363 !important;
}

h6.card-subtitle.mb-2.text-muted.post_date a,
.additional_info.pl-3 a {
    color: #542525;
}

h6.card-subtitle.mb-2.text-muted.post_date {
    position: absolute !important;
    margin-top: -85px !important;
    background: #1d1d1d !important;
    border-radius: 5px;
    text-align: center !important;
    box-shadow: 3px 3px 4px #0000001a !important;
    font-family: 'Caveat', cursive !important;
    font-size: 20px !important;
    padding-right: 10px;
    padding-left: 10px;
    color: #525252;
}



h2.card-title {
    padding: 6px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-top: 8px;
    font-size: 24px;
    font-family: 'fonta27290abb781581445319d23e28522c7';
}


.post_container {
    padding: 15px !important;
    padding: 5px;
    padding-top: 5px;
}

.blog_leftphoto {
    padding: 10px;
}

div#righthome {
    margin-left: 50px !important;
}

#lefthome {
    float: left;
    width: 25% !important;
}

.card.mb-2.post_home {
    margin-bottom: 50px !important;
}

h2.card-title a {
    color: #7f7f7f;
}

h2.card-title {
    background: #1d1d1d;
}

.post_text.pl-3 {
    color: #7f7f7f;
}


.card.p-1 {
    padding: 0px !important;
}

img.photo {
    border: none;
}

.seBlogColumnRightPadding, .card.mb-2.post_home, div[id^="comment_"] {
    background: #21212194;
    box-shadow: 4px 4px 7px #00000038;
    border: 1px solid #1d1d1d !important;
}

.seBlogColumnRightPadding {
    padding: 0px;
}

.top_menu {
    position: absolute !important;
    left: 0px;
    top: 320px !important;
    background: #2929299e;
    width: 100%;
    border-top: 1px solid #542525;
    border-bottom: 1px solid #313131;
    padding: 0px;
    padding-left: 8% !important;
}

[src="./images/logo_new.png"] {
    opacity: 0;
}

.content {
    width: 85% !important;
}



.top_header {
    padding-top: 320px !important;
    background: transparent;
    height: 10px;
    box-shadow: unset;
    position: relative !important;
}


.top_header:before {
content: 'head' !important;
background: url(https://i.postimg.cc/bvh50dzP/image.png) repeat center ;
background-size: auto;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 320px;
}

body,div#mobile_menu { background: url(https://i.postimg.cc/j2LJ1XcY/imgonline-com-ua-Texture-seamless-z5jz2-Aj8d3r.png) repeat #181818;
}






.card.mb-2.post_home {
    margin-top: 30px;
}



button.btn.btn-primary {
    background: transparent;
    border: none;
}

button.button_down {
    background: transparent;
}

li.p-1,ul.seBlogCategoryList li {
    color: #545454;
    padding: 0px !important;
    border-bottom: 1px dashed #3c3c3c;
}





ul.seBlogCategoryList {
    padding: 0px;
}



.card-body {
    background: #4e4e4e38;
    width: 90%;
    margin: auto;
    padding: 5px;
    border: 1px solid #1d1d1d;
    box-shadow: 2px 2px 2px #00000024;
    border-radius: 0 0 5px 5px;
}


li.p-1 {
    color: #191919;
    display: block;
}

ul.seBlogCategoryList li {
    color: #4a4a4a;
}

.gifts-list {
    font-size: 0px;
}

.gifts-list img {
    width: 50px;
    filter: grayscale(1);
    transition: 0.2s;
}

.gifts-list img:hover {
    filter: grayscale(0);
    transition: 0.2s;
}

.card-header a {
    color: #542525;
}

img.menu_icon2 {
    display: none;
}

.menu_dropdown a {
    background: transparent !important;
    color: #636363 !important;
    font-family: 'fontff0993442e48a4cd3678b32f3a456061';
}


.menu_dropdown {
    background: #272727 !important;
    border-radius: 0px !important;
    border-top: 1px solid #452b2a !important;
    border-bottom: 1px solid #424242 !important;
    border-left: 1px solid #452b2a !important;
    border-right: 1px solid #424242 !important;
    box-shadow: 3px 3px 4px #00000047;
}

input[type="text"] {
    text-align: center;
    position: absolute;
    width: 100%;
}

.blog_leftsearch .card-body {
    position: relative;
    height: 25px;
    padding: 0px;
    border-radius: 5px;
}



.blog_leftsearch .card-header {
    display: none;
}

.additional_info.pl-3 {
    text-align: right;
}

.menu_dropdown a:hover {
    background: #1d1d1da8 !important;
    transition: 0.2s;
}

a:hover {
    text-decoration: unset !important;
}

li.p-1:hover,
ul.seBlogCategoryList li:hover {
    background: #232323b8;
    transition: 0.2s;
}

button.button_down:focus {
    outline: unset !important;
}

.card.mt-3.blog_leftmenu {
    height: 25px !important;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 1s;
}

.card.mt-3.blog_leftmenu:hover {
    height: 300px !important;
    transition: 0.5s;
}

.card.blog_categories:hover {
    height: auto;
    transition: 0.2s;
}

.menu_dropdown {
    transform: translateY(2px);
    transition: 1s;
}
.menu_dropdown:hover {
    transition: 1s;
    transform: translateY(10px);
}

.menu_dropdown a:hover {
    background: #212121 !important;
    transition: 0.2s;
    transform: translateX(10px);
}


div.menu_dropdown:hover {
    height: auto;
}
div.menu_dropdown {
    height: 30px;
    overflow: hidden;
}


/*------*/

/*-------------------*/


[src="/images/notify.svg"] {
    width: 19px;
    margin-top: -3px;
    filter: invert(1) brightness(0.25);
}

[src="/images/notify.svg"] {
    background: url(https://img.icons8.com/ios-filled/2x/secured-letter.png) no-repeat center / contain;
    padding: 12px;
    margin-top: -5px;
}

span#notify_total {
    background: transparent;
    padding: 3px;
    border-radius: 3px;
    color: #565656;
    transition: 0.5s;
}

.blog_leftprofile {
    display: none;
}

button#newupdates:hover [src="/images/notify.svg"]{
    filter: invert(1) brightness(0.6);
}

span#notify_total {
    position: absolute !important;
    left: -20px;
    top: 8px;
}

button#newupdates {
    position: relative;
}

/*---ИКОНКИ---*/

[onmouseover^="showMenu"] {
    height: 40px;
    display: block;
    width: 35px;
    margin-top: -10px;
    filter: contrast(0.5);
    margin-left: 35px;
}

[onmouseover^="showMenu"]:hover,button.btn.btn-primary:hover {
    filter: invert(1) opacity(0.6);
    transition-delay: 0.5s;
    transition: 0.2s;
}


[onmouseover="showMenu('menu_dropdown_profile');"] {
    background: url(https://img.icons8.com/material-sharp/2x/user-menu-male.png) no-repeat center / contain;
    height: 35px;
}


[onmouseover="showMenu('menu_dropdown_blog');"] {
    background: url(https://img.icons8.com/material-sharp/2x/terms-and-conditions.png) no-repeat center / contain;
    height: 27px;
    width: 23px;
    margin-top: -5px;
}

[onmouseover="showMenu('menu_dropdown_tests');"] {
    background: url(https://img.icons8.com/material-sharp/2x/details-popup.png) no-repeat center / contain;
    width: 23px;
    height: 29px;
    margin-top: -6px;
}

[onmouseover="showMenu('menu_dropdown_groups');"] {
    background: url(https://img.icons8.com/material-sharp/2x/conference-call.png) no-repeat center / contain;
    width: 25px;
    margin-top: -7px;
    height: 30px;
}

[onmouseover="showMenu('menu_dropdown_messages');"] {
    background: url(https://img.icons8.com/material-sharp/2x/chat--v1.png) no-repeat center / contain;
    width: 25px;
    height: 35px;
}

a.top_menu_item {
    font-size: 0px !important;
}

button.btn.btn-primary {
    background: url(https://img.icons8.com/metro/2x/sign-up.png) no-repeat bottom 3px left 30px;
    color: transparent;
    background-size: 21px;
    padding: 0px;
    margin-top: -5px;
    filter: contrast(0.5);
}

[src="/images/button_down.svg"] {
    filter: brightness(0.25);
    margin-top: -5px;
    margin-left: -115px;
}

[src="/images/button_down.svg"]:hover {
    filter: brightness(0.6);
}

button.btn.btn-primary:focus {
    box-shadow: unset !important;
    color: transparent !important;
    background: url(https://img.icons8.com/metro/2x/sign-up.png) no-repeat bottom 3px left 10px !important;
}


/*-----------------------*/

a.page-link {
    background: #1d1d1d;
    border-radius: 5px;
    min-width: 200px;
    text-align: center;
    box-shadow: 3px 3px 4px #00000066;
    font-family: 'font14ec5c31e12651a7586d103967b6bd99';
    color: #585858;
    transition: 0.5s;
}

a.page-link:hover {
    background: #1d1d1d !important;
    color: #909090;
    transform: translateX(10%) !important;
    transition: 0.5s;
}


[href="./"]:before {
    content: 'Beon';
    position: absolute;
    top: 324px !important;
    z-index: 222;
    color: #542525;
    font-family: 'fonta27290abb781581445319d23e28522c7';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

[href="./"]:after {
    content: 'Уйти?';
    position: absolute;
    top: 358px;
    z-index: 221;
    color: #636363;
    font-family: 'fontff0993442e48a4cd3678b32f3a456061';
    font-size: 14px;
    left: 14px;
    background: #272727;
    height: 26px;
    border-top: 1px solid #452b2a;
    border-left: 1px solid #452b2a;
    border-bottom: 1px solid #424242;
    border-right: 1px solid #424242;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    transform: translateX(-30px);
    opacity: 0;
    transition: 0.5s;
        width: 60px;
    text-align: center;
}

[href="./"]:hover:after {
    transform: translateX(5px);
    transition: 0.5s;
    opacity: 1;
}

.page-link:focus {
    box-shadow: unset;
}

div#designs {
    top: 0px !important;
    font-family: 'font14ec5c31e12651a7586d103967b6bd99';
    color: #828282 !important;
    color: #828282;
    right: 10px !important;
    right: 5px;
    font-size: 15px;
    height: 22px !important;
    transition: 0.5s;
}

div#designs:hover {
    transform: translateY(5px) translateX(-5px) !important;
    transition: 0.5s;
    background: #1d1d1d;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


/*---ШРИФТЫ---*/

@font-face {
font-family: 'font14ec5c31e12651a7586d103967b6bd99';
    
    src:    url('https://nomail.com.ua/files/eot/14ec5c31e12651a7586d103967b6bd99.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/14ec5c31e12651a7586d103967b6bd99.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/14ec5c31e12651a7586d103967b6bd99.woff2') format('woff2');
}

@font-face { font-family: 'ZrnicCyr-Normal';  src: local('ZrnicCyr-Normal'), url('https://nomail.com.ua/files/woff/14ec5c31e12651a7586d103967b6bd99.woff') format('woff'); }



/*-------------------------*/

@font-face {
font-family: 'fontff0993442e48a4cd3678b32f3a456061';
    
    src:    url('https://nomail.com.ua/files/eot/ff0993442e48a4cd3678b32f3a456061.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/ff0993442e48a4cd3678b32f3a456061.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/ff0993442e48a4cd3678b32f3a456061.woff2') format('woff2');
}

@font-face { font-family: 'FuturisCyrillic';  src: local('FuturisCyrillic'), url('https://nomail.com.ua/files/woff/ff0993442e48a4cd3678b32f3a456061.woff') format('woff'); }




/*-------------------------*/

@font-face {
font-family: 'fonte6ad3e9485e85796a3ebb481164abee7';
    
    src:    url('https://nomail.com.ua/files/eot/e6ad3e9485e85796a3ebb481164abee7.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/e6ad3e9485e85796a3ebb481164abee7.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/e6ad3e9485e85796a3ebb481164abee7.woff2') format('woff2');
}

@font-face { font-family: 'BookmanOldStyle-Bold';  src: local('BookmanOldStyle-Bold'), url('https://nomail.com.ua/files/woff/e6ad3e9485e85796a3ebb481164abee7.woff') format('woff'); }


/*-------------------------*/

@font-face {
font-family: 'fonte66e26a6e3c218f7748dd0bd9cb034ff';
    
    src:    url('https://nomail.com.ua/files/eot/e66e26a6e3c218f7748dd0bd9cb034ff.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/e66e26a6e3c218f7748dd0bd9cb034ff.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/e66e26a6e3c218f7748dd0bd9cb034ff.woff2') format('woff2');
}

@font-face { font-family: 'Mistral';  src: local('Mistral'), url('https://nomail.com.ua/files/woff/e66e26a6e3c218f7748dd0bd9cb034ff.woff') format('woff'); }



/*-------------------------*/



@font-face {
font-family: 'fonta27290abb781581445319d23e28522c7';
    
    src:    url('https://nomail.com.ua/files/eot/a27290abb781581445319d23e28522c7.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/a27290abb781581445319d23e28522c7.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/a27290abb781581445319d23e28522c7.woff2') format('woff2');
}

@font-face { font-family: 'TrajanPro3-Regular';  src: local('TrajanPro3-Regular'), url('https://nomail.com.ua/files/woff/a27290abb781581445319d23e28522c7.woff') format('woff'); }


/*-------------------------*/


@font-face {
font-family: 'fonta27290abb781581445319d23e28522c7';
    
    src:    url('https://nomail.com.ua/files/eot/a27290abb781581445319d23e28522c7.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/a27290abb781581445319d23e28522c7.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/a27290abb781581445319d23e28522c7.woff2') format('woff2');
}

@font-face { font-family: 'TrajanPro3-Regular';  src: local('TrajanPro3-Regular'), url('https://nomail.com.ua/files/woff/a27290abb781581445319d23e28522c7.woff') format('woff'); }

/*-------------------------*/


div[id^="comment_"] {
    margin-top: 60px;
    color: #7f7f7f;
    padding-left: 5px;
    position: relative;
}

.profile_comment_author {
    position: absolute !important;
    top: -26px;
    background: #1d1d1d !important;
    border-radius: 5px;
    text-align: center;
    font-size: 13px !important;
    font-family: 'fonta27290abb781581445319d23e28522c7';
    padding: 0px !important;
    left: 0px;
    padding-top: 3px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    z-index: 22;
}

.profile_comment_date {
    position: absolute !important;
    top: -30px;
    right: 0px;
    background: #1d1d1d !important;
    width: 100% !important;
}



.profile_comment_author a {
    color: #542525;
}

div#user_status,
.post_image [style="font-size: 11px; color: #333333; word-break: break-word; width: 100px; text-align: center;"] {
    margin: auto;
    font-size: 10px;
    color: #7f7f7f !important;
    padding-top: 3px;
    padding-bottom: 3px;
}

[src="/images/verify.png"] {
    filter: grayscale(1) brightness(0.5) contrast(1.2);
}


.profile_comment_links {
    color: transparent;
    font-family: 'font14ec5c31e12651a7586d103967b6bd99';
    font-size: 15px !important;
}
.profile_comment_links a {
    color: #404040;
}

.profile_comment_date {
    font-family: 'font14ec5c31e12651a7586d103967b6bd99';
    color: #542525 !important;
    font-size: 13px !important;
}



div.profile_comment_body {
    max-width: 85%;
}


blockquote.blockquote {
    padding: 0px;
    padding-left: 5px;
    border-color: #542525;
    margin-bottom: 0px;
}

div#comment_subscribe {
    background: transparent;
    box-shadow: unset;
    margin: 0px;
}


div#comment_subscribe a, a#attach_file_click {
    color: #542525;
    font-family: 'Tenor Sans';
}


.comment_headline {
    margin-top: 35px;
    border: none;
}

.profile_postcomment {
    border: none !important;
}

div#postcomment_userphotos {
    border: none;
}

.profile_postcomment {
    background: #21212194;
    box-shadow: 4px 4px 7px #00000069;
    border: 1px solid #1d1d1d !important;
    padding: 10px !important;
    padding: 10px;
}



textarea#comment_body {
    background: #292929b3;
    border-radius: 0px;
    border: none;
    color: #7f7f7f !important;
}

textarea#comment_body::placeholder {
    font-family: 'Caveat';
    font-size: 20px;
    color: #69696930;
}

textarea#comment_body:focus {
    outline: 1px solid #542525;
    transition: 0.2s;
}

input#comment_submit {
    background: #542525;
    border-top: 3px outset #542525;
    border-left: 3px outset #542525;
    border-right: 3px outset #7b3d3d;
    border-bottom: 3px outset #7b3d3d;
    font-family: 'fonta27290abb781581445319d23e28522c7';
    color: #231111;
    box-shadow: -3px 3px 3px #0000005e;
    font-size: 13px;
}

div#postcomment_userphotos {
    padding: 0px;
}

img.img-thumbnail {
    padding: 0px;
    border: none;
    border-radius: 0px;
}

.userphoto_selected {
    background: #424242;
    filter: grayscale(1);
    transition: 0.2s;
}

div.profile_comment_links a:hover {
    color: #7f7f7f;
    transition: 0.2s;
}

.seBlogComments [valign="top"] a {
    color: #3c3c3c;
    font-family: 'font14ec5c31e12651a7586d103967b6bd99';
    font-weight: 100;
    font-size: 16px !important;
}


input#comment_submit:hover {
    transform: translateY(3px);
    box-shadow: 0 0 2px 0px black;
    filter: brightness(0.8);
    transition: 0.05s;
    border-right: 3px outset #a9595900;
    border-bottom: 3px outset #7b3d3d00;
}

div#bbcode,input#comment_submit {
    margin-top: 5px;
}

[src="/images/bbcode/b.gif"],[src="/images/bbcode/i.gif"],[src="/images/bbcode/u.gif"] {
    filter: invert(1) brightness(0.2);
    border-radius: 3px;
    opacity: 0.3;
}

[src="/images/bbcode/img.gif"] {
    content: url(https://img.icons8.com/material-sharp/2x/image.png);
    width: 22px;
    opacity: 0.3;
}



div#bbcode [src="/images/bbcode/smile.gif"] {
    filter: invert(1) grayscale(1) brightness(0.4) contrast(1.1);
    opacity: 0.3;
}



div#bbcode [src^="/images/bbcode/"]:hover {
    transform: translateY(2px);
    transition: 0.1s;
}

::-webkit-scrollbar {
    width: 12px;
    background: #131313;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #424242;
    border: 3px solid #131313;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #131313;
    border-radius: 5px;
}


/*MODAL*/

.modal-body {
    background: url(https://i.postimg.cc/j2LJ1XcY/imgonline-com-ua-Texture-seamless-z5jz2-Aj8d3r.png) repeat #181818;
}

.modal {
    background: #000000d1 !important;
}

.modal-header {
    background: #232323;
    width: 100%;
    border-top: 1px solid #542525;
    border-left: 1px solid #542525;
    border-bottom: 1px solid #313131;
    border-right: 1px solid #313131;
    padding: 5px;
    border-radius: 0px;
}

button.close {
    display: none;
}

.modal-header {
    color: #542525;
    margin: auto;
    display: block;
    text-align: center;
    font-family: 'fonta27290abb781581445319d23e28522c7';
}

.modal-body {
    padding: 0px;
}

.updatesWrap,.updatesDelete {
    border-left: 1px solid #542525;
    border-right: 1px solid #313131;
}

.modal-footer {
    padding: 5px;
    background: #232323;
    border-radius: 0px;
    border-top: 1px solid #313131;
    border-left: 1px solid #542525;
    border-bottom: 1px solid #313131;
    border-right: 1px solid #313131;
}


button.btn.btn-secondary {
    background: #542525;
    border-top: 3px outset #542525;
    border-left: 3px outset #542525;
    border-right: 3px outset #7b3d3d;
    border-bottom: 3px outset #7b3d3d;
    font-family: 'fonta27290abb781581445319d23e28522c7';
    color: #231111;
    box-shadow: -3px 3px 3px #0000005e;
    font-size: 13px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
}


button.btn.btn-secondary:hover,button.btn.btn-secondary:active {
    transform: translateY(3px);
    box-shadow: 0 0 2px 0px black;
    filter: brightness(0.8);
    transition: 0.05s;
    border-right: 3px outset #a9595900;
    border-bottom: 3px outset #7b3d3d00;
}

.updatesWrap a {
    color: #545454;
    border-bottom: 1px dashed #3c3c3c;
    font-size: 13px;
}

.updatesWrap a:hover {
    background: #23232399;
    transition: 0.2s;
}

[src="./images/icons/action_delete2.gif"] {
    filter: brightness(0.5) saturate(0.5);
}


.updatesDelete a {
    font-family: 'font14ec5c31e12651a7586d103967b6bd99';
    color: #b31414ba;
    display: block;
    text-align: center;
    font-size: 19px;
    filter: grayscale(0.5);
}

.updatesDelete a:hover {
    filter: unset;
}

.profile_comment_author b {
    font-weight: unset;
}

.seBlogComments [valign="top"] {
    display: block;
    margin: auto;
    width: fit-content;
}

.additional_info.pl-3 {
    font-family: 'fontff0993442e48a4cd3678b32f3a456061';
    color: #4c4c4cb8;
}

.category a {
    font-family: 'Caveat';
    font-size: 22px !important;
}

a#attach_file_click {
    position: absolute;
    left: 10px;
}

.comment_headline {
    position: relative;
}

.comment_headline {
    background: #1d1d1d;
    padding: 10px;
    color: #542525;
    font-family: 'Tenor Sans';
    text-align: right;
}

.profile_comment_links {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 0px !important;
}


/*---MOB---*/

.bg-light {
    border-left: 0px;
    border-right: 0px;
}

button.navbar-toggler {
    border: none;
    filter: invert(1) opacity(0.3);
}

button.btn.btn-outline-success,a.nav-link.top_menu_item {
    border: none;
    font-family: sans-serif;
    color: #6f3333;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
@media screen and (max-width: 1024px) {
[href="./"]:before {
    margin-top: 7px;
}
.bg-light {
    background: #272727;
}
h6.card-subtitle.mb-2.text-muted.post_date {
    background: transparent;
}
* {
    font-family: sans-serif;
}
div#designs {
    background: #542525;
    width: 15px;
    height: 15px;
    left: 0px;
    font-size: 0px;
}
div#lefthome {
    margin-top: 30px;
}
.post_text.pl-3 {
    padding-left: 5px;
}
h2.card-title {
    padding: 5px;
}
p.card-link {
    margin: 0px;
}
div[id^="comment_"] {
    padding-top: 1px;
    padding-left: 5px;
    margin-top: 20px;
}
.profile_comment_author b,
h2.card-title a {
    font-family: fantasy;
}
div#designs {
    border-radius: 0 10px 0 0;
    box-shadow: 0 0 9px 0px #00000096;
}
}

.copyright {
    display: none;
}


div#mobile_photo_wrap {
    background: url(https://i.postimg.cc/bvh50dzP/image.png) no-repeat center left;
    background-size: cover;
}



div#mobile_menu button.btn.btn-primary {
    background: #542525;
    filter: unset;
    transition: unset;
    color: #6f3636;
    font-family: fantasy;
}

div#mobile_photo {
    height: 120px;
    opacity: 0;
}

div#mobile_photo_wrap {
    color: transparent;
}

#mobile_menu {
    width: 65%;
}

div#mobile_menu a {
    background: #42424254;
    color: #7b7979;
    text-transform: uppercase;
    font-size: 12px;
    width: 97%;
    margin: auto;
    border-bottom: 1px dashed #7171713d;
}

.portal_spacer {
    background: #542525;
    width: 97%;
    margin: auto;
    height: 1px;
    margin-top: -1px;
}

.post_text.pl-3 a {
    color: #542525;
}

font.disabled {
    color: #424242;
}

a#comment_next_page_top,
a#comment_next_page_bottom,
a#comment_last_page_top {
    color: #542321;
}


/*------------------------------------*/
/*-----Дополнять код, внизу-----*/
/*-----После этих строк---------*/
/*СТИКОРЫ*/

 

.fl_l {
    max-width: 70px !important;
    max-height: 70px !important; 
    max-width: 70px;
    max-height: 70px;
}

#fffuuusmiles img {width: 100px; max-height: 100px;}

[src="/images/fffuuusmiles/kiddingme.gif"] {content: url(https://beon.vip/uploads_image/3a/90/3a90f66d90a494344868d30871082cbb.png); width: 190px;}
[src="/images/fffuuusmiles/hurts.gif"] {content: url(https://beon.vip/uploads_image/34/ca/34ca39ec3e2158e3075ad2f9c6fe0a2f.png); width: 190px;}
[src="/images/fffuuusmiles/trolldance.gif"] {content: url(https://beon.vip/uploads_image/ab/9d/ab9d8d0063c9b4d9a2f14e06519ac121.png); width: 190px;}
[src="/images/fffuuusmiles/lawyerbeginner.gif"] {content: url(https://beon.vip/uploads_image/41/e8/41e8f44b034bf3bcca25ac69f0b555ff.png); width: 190px;}
[src="/images/fffuuusmiles/pickupmaster.gif"] {content: url(https://beon.vip/uploads_image/98/40/98409dfb3ac6a1e226137e9752f04ff5.png); width: 190px;}
[src="/images/fffuuusmiles/aimalaca.gif"] {content: url(https://beon.vip/uploads_image/4b/44/4b4458bd11be50dd8788d109fb83583f.png); width: 190px;}
[src="/images/fffuuusmiles/cool.gif"] {content: url(https://beon.vip/uploads_image/23/a1/23a1b021789db95f16cd885c33cc2f0a.png); width: 190px;}
[src="/images/fffuuusmiles/doomed.gif"] {content: url(https://beon.vip/uploads_image/8b/55/8b559e2f4428119f4d8436c4d2cae495.png); width: 190px;}
[src="/images/fffuuusmiles/fair.gif"] {content: url(https://beon.vip/uploads_image/54/c7/54c7246d74ab370192e3cf6b942f0731.png); width: 190px; height: 190px;}
[src="/images/fffuuusmiles/foreveralone.gif"] {content: url(https://beon.vip/uploads_image/bb/ed/bbedf51b11afb448a30e1cea5f1f17f4.png); width: 190px;}
[src="/images/fffuuusmiles/fu.gif"] {content: url(https://beon.vip/uploads_image/89/fa/89fa90c9c0914387b4d57d62d90f36ca.png); width: 190px;}
[src="/images/fffuuusmiles/fuckyeah.gif"] {content: url(https://beon.vip/uploads_image/dd/04/dd044f584b628b2470bdda34aeef7341.png); width: 190px;}
[src="/images/fffuuusmiles/happy.gif"] {content: url(https://beon.vip/uploads_image/0c/df/0cdf1d6f34d8d0b95b9789150da5d4de.png); width: 190px;}
[src="/images/fffuuusmiles/itsnotok.gif"] {content: url(https://beon.vip/uploads_image/b5/cf/b5cfdcb4169b5b039e8237fc8ca5ad52.png); width: 190px;}
[src="/images/fffuuusmiles/lol.gif"] {content: url(https://beon.vip/uploads_image/a5/bb/a5bb7a31bd5dc1a865f2c7d8f4600969.png); width: 190px;}
[src="/images/fffuuusmiles/megustagirl.gif"] {content: url(https://beon.vip/uploads_image/c7/6b/c76bd0271854bf3e47fe7b10a03d46f6.png); width: 190px;}
[src="/images/fffuuusmiles/megustasmile.gif"] {content: url(https://beon.vip/uploads_image/00/24/0024f73095dcb19746f573f24b03779c.png); width: 190px;}
[src="/images/fffuuusmiles/muhaha.gif"] {content: url(https://beon.vip/uploads_image/12/40/1240f5741242aa777dadfbba622138a8.png); width: 190px;}
[src="/images/fffuuusmiles/ofcourse.gif"] {content: url(https://beon.vip/uploads_image/32/41/32413f4df826365a080b8c4dea6d2dcd.png); width: 190px;}
[src="/images/fffuuusmiles/okay.gif"] {content: url(https://beon.vip/uploads_image/c6/f4/c6f4d1b62271122d7524d3f80ec38f80.png); width: 190px;}
[src="/images/fffuuusmiles/pfff.gif"] {content: url(https://beon.vip/uploads_image/8c/b0/8cb000e691fc90e8e84b02317a823f70.png); width: 190px;}
[src="/images/fffuuusmiles/please.gif"] {content: url(https://beon.vip/uploads_image/e4/d0/e4d0c7b4c6ada3d1adc43a8fb83bc32e.png); width: 190px;}
[src="/images/fffuuusmiles/pokerface.gif"] {content: url(https://beon.vip/uploads_image/fb/26/fb26a9f40cd4810086a59d2ba2fef144.png); width: 190px;}
[src="/images/fffuuusmiles/really.gif"] {content: url(https://beon.vip/uploads_image/a8/b8/a8b891f4d52bfae08b0e1436f476c4ae.png); width: 190px;}
[src="/images/fffuuusmiles/shkololota.gif"] {content: url(https://beon.vip/uploads_image/91/6e/916ece0a257f17d69b9393d9733d7308.png); width: 190px;}
[src="/images/fffuuusmiles/suspiciou.gif"] {content: url(https://beon.vip/uploads_image/23/58/235812c52419a63408f9d3a3e63200c2.png); width: 190px;}
[src="/images/fffuuusmiles/tobey.gif"] {content: url(https://beon.vip/uploads_image/df/b7/dfb7f816d219490b7ff6a567eb34fd6a.png); width: 190px;}
[src="/images/fffuuusmiles/trollbl.gif"] {content: url(https://beon.vip/uploads_image/8e/18/8e1875db809f7f45ab15adf52b63d00a.png); width: 190px;}
[src="/images/fffuuusmiles/whaaat.gif"] {content: url(https://beon.vip/uploads_image/c5/ab/c5abfdf54473c05ff3efea0143bc81c5.png); width: 190px;}
[src="/images/fffuuusmiles/yaoming.gif"] {content: url(https://beon.vip/uploads_image/6f/c8/6fc8b2205743b3ef95b982689159bf9e.png); width: 190px;}
[src="/images/fffuuusmiles/yaominginv.gif"] {content: url(https://beon.vip/uploads_image/cb/ab/cbabd8037568f821a8dfb8df3ed20d4d.png); width: 190px;}
[src="/images/fffuuusmiles/yaomingpff.gif"] {content: url(https://beon.vip/uploads_image/e1/6f/e16f11ffa7653ed912d4ad5861eaa2f9.png); width: 190px;}
[src="/images/fffuuusmiles/beaman.gif"] {content: url(https://beon.vip/uploads_image/a4/0f/a40f84f7fd8542f9ca66669caf3771c8.png); width: 190px;}
[src="/images/fffuuusmiles/rage.gif"] {content: url(https://beon.vip/uploads_image/f2/10/f21055fb1a8593360e36853161979030.png); width: 190px;}
[src="/images/fffuuusmiles/fapfapfap.gif"] {content: url(https://beon.vip/uploads_image/fc/03/fc039475d10c926aa8289cd1a8764c2c.png); width: 190px;}





/*----Это пусть всегда остаётся тут, в самом низу---*/

@import url('https://vtloa.github.io/Ofelia_FIX.css');
