@import url('https://vtloa.github.io/OMORI_space.css');

body.bodybg {
    background: black;
}

ul.menu__box {
    background: linear-gradient( 0deg, rgba(33,5,77,1) 0%, rgba(42,8,129,1) 30%, rgba(108,14,255,1) 100%) fixed;
}

/*----------------------------------------*/

@media (max-width: 1024px) {
label.menu__btn {
    z-index: 3;
}}


@media (max-width: 768px) {
ul.menu__box {
    background: black;
}
ul.menu__box {
    z-index: 1;
}
ul.menu__box * {
    font-family: 'HachiMaruPop-Regular';
    font-size: 12px;
    font-weight: 100;
    color: white !important;
}}


@media (max-width: 700px) {
ul.menu__box {
    background: black;
}}


