@font-face {
font-family: 'fontd0b01fa97d4cb65c24547fae4b8ac17f';
    
    src:    url('https://nomail.com.ua/files/eot/d0b01fa97d4cb65c24547fae4b8ac17f.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/d0b01fa97d4cb65c24547fae4b8ac17f.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/d0b01fa97d4cb65c24547fae4b8ac17f.woff2') format('woff2');
}

@font-face { font-family: 'TheSalvadorCondensedCYR';  src: local('TheSalvadorCondensedCYR'), url('https://nomail.com.ua/files/woff/d0b01fa97d4cb65c24547fae4b8ac17f.woff') format('woff'); }




/*==========ШРИФТ=============*/

.profile_headline,td.header,
.profile_tab2, .profile_tab,
.profile_blogentry_title,
td.top_menu a,.top_header [href="./"]:after {
    font-family: 'fontd0b01fa97d4cb65c24547fae4b8ac17f';
}

/*===========================================================*/




/*==============второй шрифт============*/

.profile_blogentry_date a {
    color: #717171;
}


.profile_tab2 a {
    color: #626262 !important;
}

.profile_tab2 {
    transition: 0.6s;
    transform: translateY(10px) !important;
}

a:hover {
    text-decoration: unset !important;
}

td.profile_tab a, td.profile_tab2 a {
    transition: 0.5s;
}

td.profile_tab a:hover {
    transform: scale(1.2) translateY(5px);
    display: block;
    transition: 0.5s;
}

td.profile_tab2 a:hover {
    transform: scale(1.2) translateY(5px);
    display: block;
    transition: 0.5s;
}


.profile_content {
    opacity: 1;
    backdrop-filter: blur(2px);
    transition: 0.4s;
    transition-delay: 3s;
}

td.profile_rightside:hover .profile_content {
    opacity: 1;
    transition: 0.4s;
}



/*ховер*/


.profile_friend_options,.profile_friend_details>div,
div#profile_friends_searchbox_link {
    opacity: 0;
    transition: 0.5s;
}



.browse_friends_result:hover .profile_friend_options,
.browse_friends_result:hover .profile_friend_details>div,
.profile_content:hover div#profile_friends_searchbox_link {
    opacity: 1;
    transition: 0.5s;
}

img.gift-photo:hover,
.browse_friends_result:hover .profile_friend_photo img,
.album_item img:hover {
    filter: unset;
    transition: 0.2s;
}
img.gift-photo,.profile_friend_photo img,.album_item img {
    filter: grayscale(1);
    transition: 0.2s;
}

div#profile_profile a {
    color: #a3a3a3;
}

.album_item img {
    image-rendering: -webkit-optimize-contrast;
    width: 100px;
    height: 100px;
}

.album_item {
    padding: 0px !important; padding: 0px;
    width: 235px !important;
    border: unset !important; border: unset;
}

[style="border-top: 1px solid #DDDDDD; padding-top: 10px;"] {
    border: 0px !important;
}

[style="border-top: 1px solid #DDDDDD; padding-top: 10px;"] a {
    font-size: 16px;
    font-weight: bold;
    color: #b7b7b7;
}

div#profile_blog a {
    color: #b7b7b7;
}

.profile_blogentry_body {
    margin: 0px !important; margin: 0px;
    padding: 10px;
    font-size: 14px;
    padding-left: 0px;
}


.profile_blogentry_title a {
    color: #999999;
}
.profile_blogentry_title {
    font-size: 16px;
}

.profile_blogentry {
    border-top: 0px !important; border-top: 0px;
    background: #161616;
    margin-bottom: 7px;
    padding-left: 10px !important; padding-left: 10px;
    padding-top: 10px !important; padding-top: 10px;
}

img.icon,img.button {
    display: none;
}

.card-body [onclick^="showGift"] {
    font-size: 0;
}

[src="/images/verify.png"] {
    filter: grayscale(1);
    width: 11px;
    image-rendering: pixelated;
}



.gift-date {
    font-size: 10px;
    color: #707070 !important; color: #707070;
}

div#profile_gift * {
    color: #a5a5a5 !important; color: #a5a5a5;
}

.gifts-list .p-2 {
    padding: 0px !important; padding: 0px;
    width: 100px;
}

img.gift-photo {
    display: block;
    width: 72px;
    margin: auto;
}

.gifts-list .card-body {
    text-align: center;
}

.card-body,.gifts-list .p-2 {
    padding: 0px !important;
    border: 0;
}

.profile_comment_date,
.profile_comment_links a {
    color: #878787 !important;
}

.comment_headline * {
    color: #7e7e7e !important; color: #7e7e7e;
}

.comment_headline {
    margin-right: 94px;
    border-radius: 0px;
    font-weight: unset !important;
    color: #7e7e7e !important;
    padding: 5px !important;
}

input#comment_submit {
    border: 0px;
    color: #161616;
    font-size: 12px;
    background: #383838;
    padding: 4px;
    font-weight: bold;
    text-transform: lowercase
}

div#bbcode {
    filter: grayscale(1) contrast(0.5) invert(1);
}

.profile_comment_body {
    background: #161616;
    font-size: 14px;
}

.profile_comment_author a {
    color: #161616;
    font-size: 13px;
    background: #383838;
    padding: 4px;
}

.profile_comment_author {
    padding: 0px !important;
}

img.photo {
    border: 0px !important; border: 0px;
}

.userphoto_selected {
    filter: grayscale(1) brightness(0.9);
}

img.img-thumbnail {
    padding: 0px;
    border-radius: unset;
    border: 1px outset #4e4e4e;
}

.p-1 {
    padding: 0px !important; padding: 0px;
    margin-bottom: 5px;
}

div#postcomment_userphotos {
    padding: 0px;
    border: 0px;
}

textarea#comment_body {
    border-radius: unset;
    background: #161616;
    border: 0px;
    color: #aeaeae !important;
    font-size: 14px;
    padding: 5px;
}

.profile_postcomment {
    padding: 0px !important; padding: 0px;
    border: 0px !important; border: 0px;
}







.profile_friend_info *,
.profile_friend_options a,
div#profile_friends_searchbox_link a,
.album_item_title a {
    color: #aeaeae !important; color: #aeaeae;
}

.profile_friend_info {
    padding-left: 20px !important; padding-left: 20px;
    padding-top: 10px;
}

.browse_friends_result {
    background: transparent !important;background: transparent;
    border: unset !important; border: unset;
    padding: 0px !important; padding: 0px;
    border-bottom: 1px solid #3a3a3a !important; border-bottom: 1px solid #3a3a3a;
    padding-bottom: 10px !important; padding-bottom: 10px;
}

.profile_friend_photo img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.profile_friend_photo {
    border: none !important;
}

td.profile_tab_end {
    display: none;
}

td#profile_tabs_profile a,
td#profile_tabs_friends a,
td#profile_tabs_comments a,
td#profile_tabs_gift a,
td#profile_tabs_blog a,
td#profile_tabs_album a {
    padding: 2px;
    background: #242424;
    border: unset;
    color: #8f8f8f !important; color: #8f8f8f;
    margin-right: 16px !important;
    box-shadow: 0px 10px 11px #242424ad;
}


#profile_tabs_profile {
    border: unset;
}


.he_styler_customize_btn,
[src="./images/icons/status16.gif"],
td.profile_photo {
    display: none;
}

.profile_content {
    border: 0px !important; border: 0px;
    background: #101010ad;
    margin-top: 312px !important;
    color: #a3a3a3;
    font-size: 12px;
    padding: 10px !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    height: 413px !important;
    max-height: 413px !important;
    overflow-y: auto;
}

body {
    background: url(https://beon.vip/uploads_image/40/20/40202cf7fbf9bc7bc7147f5cd0382736.png);
    background-color: #101010;
}

td.profile_leftside {
    background: url(https://i.ibb.co/PQPMLfq/1-500.png) no-repeat center !important;
    background: url(https://i.ibb.co/PQPMLfq/1-500.png) no-repeat right top / cover fixed;
    background-size: contain !important;
}

td.profile_rightside {
    background: url(https://i.ibb.co/SQZ9wXy/4-500.png) no-repeat center;
    background-size: contain;
}

table.body {
    width: 1000px !important;
    padding-top: 100px !important; padding-top: 29px;
}

.top_header {
    background: #10101075;
    padding: 0;
    backdrop-filter: blur(1px);
    height: 65px;
}


.profile_rightside {
    float: left !important;
    width: 500px !important;
    height: 750px !important;
    padding: 0px !important;
}


td.profile_leftside {
    float: right !important;
    width: 500px !important;
    height: 750px !important;
    padding: 0px !important;
}



/*СКРОЛЛ*/

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    background: #585858;
    border-radius: 5px;
    border: 3px dashed#101010;
}
::-webkit-scrollbar-track {
    background: #101010;
}




/*откуда тут сраные пробелы*/

div#profile_profile {
    border-top: 2px dotted #6e6e6edb;
    border-radius: 0 20px 20px 0;
    border-right: 4px double#6e6e6edb;
    border-bottom: 2px dotted #6e6e6edb;
    margin-left: -10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile_headline {
    margin-left: 20px;
    color: #7c7c7c;
    font-weight: unset !important;
    font-size: 16px;
}

.page_header {
    display: none;
}


td.header {
    color: #4e4e4e !important;
}



td.profile,td.header {
    background: #1e1e1ead;
    color: #a3a3a3;
    backdrop-filter: blur(2px) !important;
    display: block;
    width: 285px !important;
}



table.profile_menu a {
    background: transparent;
    border: unset !important;
    border: unset;
    color: #171717;
}

td.profile_leftside {
    font-size: 13px;
    padding-left: 10px !important;
}

table.profile_menu {
    border: 0px;
}

td.profile_leftside [style="margin-bottom: 10px;"],
.profile {
    margin-bottom: 0px !important;
}

td.profile {
    margin-bottom: 0px;
}
td.header {
    color: #7c7c7c !important;
    padding-left: 20px;
    font-size: 15px;
    padding-left: 20px !important;
    color: #7c7c7c;
    font-weight: unset !important;
    font-size: 16px;   
}

.profile_headline b {
    font-weight: unset;
}



table.profile_menu {
    display: block !important;
    height: 185px !important;
}

td.profile a,div#profile_profile a {
    color: #ababab;
    font-style: italic;
}

table.profile_menu {
    font-style: italic;
}



/*11111*/
table.profile_menu {
    position: relative;
}

table.profile_menu:before {
    background: url(https://beon.vip/uploads_image/46/8f/468fcd7e3f6fed47205831fdef82d3c5.png) no-repeat top 10px right 10px;
    background-size: 240px 236px;
    content: 'z' !important;
    font-size: 0;
    width: 260px;
    height: 255px;
    display: block;
    position: absolute;
    right: 173px;
    top: 161px;
    mix-blend-mode: overlay;
    z-index: 2;
    filter: invert(1);
}

/*ховер*/

td.profile,td.header,table.profile_menu:before {
    opacity: 0 !important;
    transition: 0.4s;
    transition-delay: 2.2s;
}

td.profile_leftside:hover td.profile,
td.profile_leftside:hover td.header,
td.profile_leftside:hover table.profile_menu:before {
    opacity: 1 !important;
    transition: 0.4s;
}

/*вверхвниз*/

.copyright [onclick="scrolltop(); return false;"] {
    bottom: 200px;
    right: 62px;
    background: transparent;
    position: fixed;
    border-radius: 0;
    transform: rotate( 45deg);
    border: 2px solid #595959;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 0;
    transition: 0.5s;
}

[onclick="window.scrollTo(0,100000); return false;"] {
    background: transparent;
    position: fixed;
    top: 200px;
    right: 80px;
    border-radius: 0;
    transform: rotate(45deg);
    border: 2px solid #595959;
    padding: 0;
    width: 20px;
    height: 20px;
    transition: 0.5s;
}

[onclick="window.scrollTo(0,100000); return false;"]:hover,
.copyright [onclick="scrolltop(); return false;"]:hover {
    border-color: #488098;
    transform: scale(1.3) rotate(45deg);
    transition: 0.5s;
}

[src="/images/button_down.svg"] {
    display: none;
}

button.button_down:focus {
    outline: unset;
}

.copyright * {
    font-size: 0 !important;
}

div.copyright {
    padding: 0px;
    margin: 0px;
}
.copyright *, .copyright {
    font-size: 0 !important;
}

td.top_menu a,.top_header [href="./"]:after {
    color: #979797 !important;
    font-size: 16px !important;
}



.top_menu {
    width: 100%;
    display: block !important;
    padding: 0px;
    margin-top: -83px !important;
}


[src="./images/logo_new.png"] {
    background: url(https://beon.vip/uploads_user/10000/9068/cb783f10b306614ac856f11fccbb6f25.png) no-repeat center / contain;
    width: 120px !important; width: 110px;
    height: 100px !important; height: 55px;
    padding: 50px !important; padding: 28px;
    margin-top: 10px !important;
    filter: contrast(0.3);
}


[src="./images/logo_new.png"]:hover,button.btn.btn-primary:hover {
    filter: invert(1) sepia(1) saturate(10) hue-rotate(-190deg) brightness(0.5) saturate(3.5) !important;
}


.profile_content a:hover,td.profile a:hover {
    color: #4a8ba7 !important; color: #4a8ba7;
}



.top_header button.btn.btn-primary {
    background: url(https://beon.vip/uploads_user/10000/9068/5f992f55376376553b4714c8b4c34ff0.png) no-repeat center / contain;
    border: unset;
    font-size: 0;
    border-radius: 0px;
    color: #101010;
    padding: 0px;
    width: 120px;
    height: 100px;
    margin-top: -16px;
    filter: contrast(0.3);
}


[src="/images/notify.svg"] {
    display: none;
}

button#newupdates:before {
    content: ':mail';
    font-size: 16px;
    font-family: 'fontd0b01fa97d4cb65c24547fae4b8ac17f';
    color: #8f8f8f;
    text-transform: uppercase;
}


.badge-danger {
    background: #488098;
    color: #101010;
    border-radius: unset;
    padding: 5px;
    height: 20px;
    width: 20px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    font-family: 'fontd0b01fa97d4cb65c24547fae4b8ac17f';
}

img.menu_icon2 {
    display: none;
}


div.menu_dropdown {
    background: #505050a8 !important;
    backdrop-filter: blur(5px);
    border: 0px !important;
    border-radius: unset !important;
}
div.menu_dropdown a {
    background: transparent !important;
}

.menu_item_dropdown a:hover {
    backdrop-filter: brightness(0.2);
}

/*МОДАЛ*/

.modal {
    background: #00000063 !important;
    backdrop-filter: blur(4px);
}

.modal-content {
    background: #9b9999c7;
    border-radius: 35px 10px 25px 10px;
    border: 1px solid #969494;
}

.modal-header,.modal-footer {
    border: 0px;
}

button.btn.btn-secondary,.modal-footer button.btn.btn-primary {
    background: #3a3a3a;
    border-radius: unset;
    color: #0a0a0a;
    font-family: 'fontd0b01fa97d4cb65c24547fae4b8ac17f';
    border: 0px;
}

.modal-header {
    font-family: 'fontd0b01fa97d4cb65c24547fae4b8ac17f';
}

.modal-body {
    border-top: 2px dotted;
    border-left: 4px double;
    border-radius: 70px 10px 20px 20px;
    border-bottom: 2px dotted;
    border-right: 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    border-color: #2a2a2a;
}

.updatesDelete a {
    color: #2a2a2a;
    font-family: 'fontd0b01fa97d4cb65c24547fae4b8ac17f';
}

.updatesDelete {
    border-top: 1px dashed #2a2a2a;
    padding-bottom: 0px;
}

.updatesWrap * {
    color: #2a2a2a !important;
    font-size: 15px;
}

.updatesWrap {
    padding-left: 15px;
}

.modal-footer {
    background: url(https://beon.vip/uploads_image/ba/07/ba07cacedca6372a2b99a7f10066d262.png) no-repeat center left -40px;
}


/*МОБ И МЕДИА*/

nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    background: #101010;
    border: 0px;
}

button.btn.btn-outline-success {
    border: 0px;
    color: #7b7b7b;
    font-family: sans-serif;
    text-transform: uppercase;
}

span.navbar-toggler-icon {
    filter: contrast(0) brightness(1.5);
}

.copyright {
    color: #656565;
}

div#mobile_menu {
    background: url(https://i.ibb.co/SQZ9wXy/4-500.png) no-repeat center;
    background-size: cover;
}

.menu_item_dropdown a {
    background: transparent;
}



div#mobile_menu button.btn.btn-primary {
    background: #151415;
    border: 0px ;
    color: #b1b1b1;
    font-family: monospace;
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
}



#mobile_menu .menu_item_dropdown a {
    padding: 5px;
    backdrop-filter: blur(2px);
}

.portal_spacer {
    display: none;
}

button.navbar-toggler {
    border: 0px;
}


div#mobile_photo img.photo {
    border: 0;
    width: 100px;
    height: 100px;
    object-fit: none;
}


button.btn.btn-outline-success:focus {
    background: transparent;
    color: #457a91;
    box-shadow: unset;
}


#mobile_menu .menu_item_dropdown a {
    color: #dedede !important;
    font-size: 15px;
    font-style: italic;
}


input#to_display,input#subject,textarea#message {
    background: #c7c7c7;
    border: none;
}










@media (max-width: 700px) {
    table.profile_menu a {
    background: #dbdbdb52;
    display: block;
    width: 210px;
    font-size: 16px;
    backdrop-filter: blur(2px);
    margin-bottom: 3px;
}

.profile_content {
    margin-top: 20px;
}

td.profile_leftside * {
    font-size: 15px;
}
td#profile_tabs_comments,td#profile_tabs_album {
    display: block;
    width: 50px;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 5px !important;
}
::-webkit-scrollbar-thumb {
    background: #585858 !important;
    border-radius: 5px !important;
    border: none;
}
::-webkit-scrollbar-track {
    background: #101010 !important;
}
}



/*UPD*/

td.profile_menu1 a:hover:before {
    content: '>';
    font-size: 0;
    position: absolute;
    width: 120px;
    height: 15px;
    background: url(https://beon.vip/uploads_user/10000/9068/5b5f785c110a0f229eef3d65a0bc07ff.png) no-repeat center / contain;
    mix-blend-mode: hard-light;
    margin-left: 147px;
}
