.post_container {
    background: #1b1b1b !important;
    position: relative;
    border-radius: 0 15px 15px 15px !important;
    width: fit-content;
    color: white !important;
    box-shadow: 0 0 black !important;
}


.post_container:before {
    content: 'p' !important;
    position: absolute;
    left: 0px;
    top: -24px;
    background: #1b1b1b !important;
    width: 30px;
    height: 25px;
    z-index: 11;
    color: transparent;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    border: 1px solid #1b1b1b !important;
}

h2.card-title a {
    font-family: 'font5e11c36363b334ddc7352a19a73bb52b' !important;
    color: #ffc107 !important;
}


h6.card-subtitle.mb-2.text-muted.post_date a {
    font-weight: bold;
    background: #ffc107 !important;
    color: #1b1b1b !important;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-family: monospace;
}


body {
    background: url(https://i.pinimg.com/originals/5b/dc/16/5bdc1699671281bbfb1c821fb1876244.png) no-repeat fixed right !important;
    background-size: contain !important;
    background-color: black !important;
}

.seBlogColumnRightPadding {
    background: linear-gradient(0deg, #765441a3,#42302814, #e0c4ab00) fixed !important;
    border-radius: 9px;
}

.top_header {
    background: rgb(70 49 37) !important;
    box-shadow: 0px 1px 15px rgb(0 0 0 / 7%);
    height: 20px;
    z-index: auto;
}

input[type="text"] {
    height: 15px;
    background: #251a14 !important;
    border: none;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    font-size: 10px;
    padding-left: 5px;
}

.profile_comment_body a, .post_text.pl-3 a {
    color: #ffc107 !important;
}

.category a {
    color: #ffc107 !important;
}


.seBlogComments {
    margin-top: 65px;
    width: 85% !important;
    margin-left: auto;
    margin-right: auto;
    background: #1b1b1b70 !important;
    border-radius: 10px;
    padding: 10px !important;
    box-shadow: 0 0 black !important;
}

.profile_comment_body {
    background: #c5b19d !important;
    border-radius: 0px 10px 10px 10px;
    position: initial;
    margin-left: 20px !important;
    box-shadow: 2px 2px 6px #3b2c26a8;
    font-family: monospace;
    padding-left: 20px !important;
}

.profile_comment_body:before {
    content: 'чат' !important;
    width: 19px;
    height: 30px;
    background: #c5b19d !important;
    display: block;
    position: absolute;
    margin-top: -5px;
    margin-left: -37px;
    color: transparent;
    clip-path: polygon(100% 0, 0 0%, 100% 100%);
    border: 1px solid #c5b19d !important;
}
