body {
    background: url(https://beon.vip/uploads_user/10000/9068/27ba74216d8ca361e54f9f21d129ebc8.jpg);
}

div[id^="comment_"]:not(a),.post {
    background: #ffffff;
}

.seBlogColumnRightPadding {
    background: black;
}

div#lefthome a {
    color: red;
}

.card-header {
    background: #a90000;
}

.top_header a {
    color: red !important;
}
.top_header {
    background: black;
    height: 65px;
}

[src="./images/logo_new.png"] {
    content: url(https://beon.vip/uploads_user/1000/968/e1cd99c595931821d580eb6a7e099ed3.gif);
    width: 72px;
}
