    
@font-face {
font-family: 'font129a060dd8496deac581e40a11b0130b';
    
    src:    url('https://nomail.com.ua/files/eot/129a060dd8496deac581e40a11b0130b.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/129a060dd8496deac581e40a11b0130b.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/129a060dd8496deac581e40a11b0130b.woff2') format('woff2');}

@font-face { font-family: 'DirtyEgoCyrillic';  src: local('DirtyEgoCyrillic'), url('https://nomail.com.ua/files/woff/129a060dd8496deac581e40a11b0130b.woff') format('woff'); }


@font-face {
font-family: 'font1f0375b3f9f0b92cd97aecc702f8ce5e';
    
    src:    url('https://nomail.com.ua/files/eot/1f0375b3f9f0b92cd97aecc702f8ce5e.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/1f0375b3f9f0b92cd97aecc702f8ce5e.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/1f0375b3f9f0b92cd97aecc702f8ce5e.woff2') format('woff2');}

@font-face { font-family: 'DINNextCYR-Italic';  src: local('DINNextCYR-Italic'), url('https://nomail.com.ua/files/woff/1f0375b3f9f0b92cd97aecc702f8ce5e.woff') format('woff'); }




.seBlogColumnRightPadding a {
    color: #898989 !important;
}



body {
    background: linear-gradient(
0deg
, #000000f2, transparent),url(https://i.pinimg.com/originals/1c/11/1b/1c111ba32912cf9a8b096ec36e0cd115.jpg),url(https://i.pinimg.com/originals/c4/8f/ef/c48fef7c6ef173b10abdb45246aa42f6.png) no-repeat left bottom fixed;
    background-size: auto,300px,cover;
    background-blend-mode: multiply;
}

.bg-light {
    background: #0a0a0a;
    border: none;
}




div#righthome {
    background: linear-gradient(0deg, black, #6f6f6f), url(https://i.pinimg.com/originals/1c/11/1b/1c111ba32912cf9a8b096ec36e0cd115.jpg);
    background-blend-mode: difference;
    background-size: 250px;
    box-shadow: 0 10px 15px 4px black;
    padding: 0px;
}

h2.card-title {
    text-align: center;
    padding-left: 0px !important;
    font-family: 'font129a060dd8496deac581e40a11b0130b';
        background: linear-gradient( 45deg, transparent,#0000008f, transparent);
    margin-bottom: 6px;
}

h6.card-subtitle.mb-2.text-muted.post_date {
    text-align: center;
    background: linear-gradient( 
45deg
 , transparent,#0000008f, transparent);
    color: #ff000040;
}

h6.card-subtitle.mb-2.text-muted.post_date, .additional_info.pl-3, .seBlogColumnRightPadding {
    font-family: 'font1f0375b3f9f0b92cd97aecc702f8ce5e';
}

.post_container {
    border-top: 1px solid #0e0e0e;
}

.post_image img {
    outline: 1px solid #0e0e0e;
    box-shadow: 0 1px 6px #00000070;
}

img.photo {border: none;}


h2.card-title a {color: #cb00008c !important;}

a:hover {
    color: #c30000 !important;
    transition: 0.5s;
    text-decoration: unset !important;
    text-shadow: -5px 0px 1px #c30000, 5px 0px 1px #c30000, 0 5px 1px #c30000, 0 -5px 1px #c30000;
    filter: blur(1px) contrast(37.5) brightness(37.5);
}

.additional_info.pl-3 {text-align: end;}

h6.card-subtitle.mb-2.text-muted.post_date, .additional_info.pl-3, .seBlogColumnRightPadding {font-family: 'font1f0375b3f9f0b92cd97aecc702f8ce5e';}

.additional_info.pl-3, .additional_info.pl-3 a {color: #727272 !important;}

.card.mb-2.post_home:first-child .post_container:before {
    background: url(https://toppng.com/uploads/preview/mouth-blood-png-blood-splatter-11563101538u02d0idcmv.png) no-repeat top;
    background-size: contain;
    content: 'blood';
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
    display: block;
    height: 100%;
    mix-blend-mode: darken;
    color: transparent;
}



.post {
    color: #d2d2d2;
    background: #212121a3;
    margin-top: 50px;
    padding: 10px;
}

h6.card-subtitle.mb-2.text-muted.post_date a {
    color: #ff000040 !important;
}


.bg-light a {
    font-family: 'font716ce4032f2a16a947b3a4c07174d183';
    color: #8a8a8a !important;
    font-size: 14px !important
}

button.btn.btn-outline-success.mr-1.mobile_button {
    font-family: 'font716ce4032f2a16a947b3a4c07174d183';
    border: none;
    background: transparent;
    color: #8a8a8a;
}

button.navbar-toggler {
    border: none;
    filter: invert(1);
}

[src="./images/logo_new.png"] {
    display: none;
}

[href="./"]:before {
    content: 'Z';
    color: #5c5c5c;
    font-family: 'font716ce4032f2a16a947b3a4c07174d183';
    font-size: 20px;
    display: block;
    margin-top: -5px;
}

button.btn.btn-outline-success {
    background: transparent;
    border: none;
    color: #8a8a8a;
    font-family: 'font716ce4032f2a16a947b3a4c07174d183';
}


h6.card-subtitle.mb-2.text-muted.post_date, .additional_info.pl-3, .seBlogColumnRightPadding {
    font-family: 'font1f0375b3f9f0b92cd97aecc702f8ce5e';
}


@font-face {
font-family: 'font716ce4032f2a16a947b3a4c07174d183';
    
    src:    url('https://nomail.com.ua/files/eot/716ce4032f2a16a947b3a4c07174d183.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/716ce4032f2a16a947b3a4c07174d183.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/716ce4032f2a16a947b3a4c07174d183.woff2') format('woff2');
}

@font-face { font-family: 'BMstampCyr-Normal';  src: local('BMstampCyr-Normal'), url('https://nomail.com.ua/files/woff/716ce4032f2a16a947b3a4c07174d183.woff') format('woff');}



.card-header {
    display: none;
}

li.p-1 {
    display: block;
}

input[type="text"] {
    background: #121212;
    border: none;
    position: absolute;
    width: 92%;
    text-align: right;
}


.gifts-list {
    font-size: 0px;
}

.gifts-list img {
    width: 50px;
}

.gifts-list img {
    filter: grayscale(1);
}

[style="float: left; text-align: center; width: 110px;"] a:hover, .post_image a:hover {
    filter: unset;
}

[src="/images/notify.svg"] {
    filter: invert(1) opacity(0.4);
    width: 20px;
}



div#mobile_photo_wrap {
    background: #858585;
}

div#mobile_menu {
    background-color: #212121;
    background-image: url(https://www.transparenttextures.com/patterns/green-dust-and-scratches.png);
}

div#mobile_menu a {
    background: transparent !important;
    font-family: 'font1f0375b3f9f0b92cd97aecc702f8ce5e';
    text-transform: uppercase;
    font-size: 12px;
    color: #a8a8a8 !important;
}

img.menu_icon2 {
    display: none;
}

div#mobile_photo_wrap {
    background: url(https://i.pinimg.com/originals/b7/61/df/b761df42c36c35358febf28314342010.png) no-repeat center;
    filter: brightness(0.5);
}

div#mobile_photo_wrap img.photo {
    opacity: 0;
    height: 150px;
}


div#mobile_menu button.btn.btn-primary {
    font-family: 'font716ce4032f2a16a947b3a4c07174d183';
    font-size: 12px !important;
    background: #898989cf;
    border: none;
    text-transform: uppercase;
    color: #444444;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #190806;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}




.seBlogComments {
    background: #040300f0;
    padding: 20px;
}

.seBlogComments [valign="top"] a {
    color: #2c2b2a !important;
}

[id^="comment_"] {
    outline: rgb(25, 25, 25) solid 1px;
    margin-top: 20px;
    position: relative;
    background: rgba(155, 155, 155, 0.06);
}

.profile_comment_date {
    background: linear-gradient(
45deg
, rgb(49, 48, 47), transparent);
    border-bottom: 1px solid rgb(43, 42, 41);
    color: rgb(2, 1, 1) !important;
    font-size: 10px !important;
    padding: 0px !important;
    text-align: left !important;
}

div#user_status {
    margin: auto;
    color: rgb(16, 15, 12);
    background: rgb(44, 43, 41);
    outline: rgb(44, 43, 42) solid 1px;
}

.profile_comment_author a {
    color: rgb(0, 0, 0) !important;
}

.profile_comment_body {
    color: rgb(199, 199, 199);
    max-width: 100% !important;
}

.profile_comment_links a {
    outline: 0px;
    color: rgb(39, 38, 36) !important;
}
.profile_comment_links a, div#comment_subscribe {
    border: none;
    background: transparent;
}

.comment_headline {
    padding: 0px;
    margin-top: 20px;
    background: transparent;
    border-radius: 0px;
    color: rgb(36, 36, 34);
    font-family: font1f0375b3f9f0b92cd97aecc702f8ce5e;
    border: none;
}

.comment_headline a {
    color: rgb(44, 43, 41) !important;
}

textarea#comment_body {
    background: rgba(40, 40, 40, 0.17);
    border: 1px solid rgb(25, 24, 21);
    border-radius: 0px;
    outline: 0px;
    color: rgb(188, 188, 188) !important;
}

input#comment_submit {
    margin: auto;
    display: block;
    background: rgb(16, 15, 12);
    border: none;
    box-shadow: rgb(9 7 1) 4px 4px;
    color: rgb(44, 43, 42);
    text-transform: uppercase;
    font-family: font716ce4032f2a16a947b3a4c07174d183;
    width: 145px;
    outline: rgb(41, 40, 38) solid 1px;
}

img.img-thumbnail {
    width: 100px;
    border-radius: 0px;
    border: 1px solid rgb(47, 46, 44);
    filter: grayscale(0.7) brightness(0.6);
    transition: all 0.3s ease 0s;
    background: rgb(30, 29, 26);
}

img.img-thumbnail:hover {
    filter: none;
}

div#bbcode {
    text-align: left;
}

div#bbcode img {
    transition: all 0.3s ease 0s;
    filter: grayscale(1) contrast(1.5) brightness(0.6);
}


div#designs {
    display: none !important;
}
