#smiles img {
    width: 86px;
    height: 86px;
    object-fit: cover;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: white;
}

div#smiles,div#fffuuusmiles {
    margin-top: 10px;
}

#smiles img:hover,div#bbcode [src^="/images/fffuuusmiles/"]:hover,
img.fl_l:hover {
    transform: scale(1.3);
    box-shadow: 0 0 10px #2196f3;
    outline: 1px solid #2196f3;
}


img.fl_l[src="/images/bbcode/smile.gif"] {
    content: url(https://i.ibb.co/DW38n56/1.png) !important;
}


[src^="/images/beonsmiles/"]:not(div#smiles [src^="/images/beonsmiles/"]),
[src^="./templates/images/smiles/"]:not(div#smiles [src^="./templates/images/smiles/"]) {
    width: 192px !important;
    height: 192px !important;
    margin-bottom: 5px;
    margin-right: 5px;
}


div#bbcode [src^="/images/fffuuusmiles/"] {
    padding: 40px;
    margin-bottom: 5px;
    margin-right: 5px;
}


@media (max-width: 280px), (max-width: 480px) {
#smiles img {
    width: 80px;
    height: 80px;
}
}


/*----СТИКЕРЫ КОЛОБКИ----*/



[src="/images/bbcode/smile.gif"] {content: url(https://i.ibb.co/DW38n56/1.png);}

[src="/images/beonsmiles/angel.png"] {content: url(https://i.ibb.co/DW38n56/1.png); }

[src="/images/beonsmiles/angry.png"] {content: url(https://i.ibb.co/S3H9BQf/3.png); }

[src="/images/beonsmiles/big-smile.png"] {content: url(https://i.ibb.co/qC1HhC4/4.png);}

[src="/images/beonsmiles/confused.png"] {content: url(https://i.ibb.co/Sy19WpJ/5.png);}

[src="/images/beonsmiles/crazy.png"] {content: url(https://i.ibb.co/YXPY0Dz/10.png); }

[src="/images/beonsmiles/cry.png"] {content: url(https://i.ibb.co/z5jKhpt/11.png);}

[src="/images/beonsmiles/cunning.png"] {content: url(https://i.ibb.co/7jq8qHZ/12.png);}

[src="/images/beonsmiles/devil.png"] {content: url(https://i.ibb.co/mTphfcv/13.png);}

[src="/images/beonsmiles/kiss.png"] {content: url(https://i.ibb.co/k8rpXhj/21.png);}

[src="/images/beonsmiles/sad.png"] {content: url(https://i.ibb.co/vvTCPRX/24.png);}

[src="/images/beonsmiles/shhh.png"] {content: url(https://i.ibb.co/8mjTGNC/27.png);}

[src="/images/beonsmiles/shocked.png"] {content: url(https://i.ibb.co/ZM643hs/44.png);}

[src="/images/beonsmiles/smile.png"] {content: url(https://i.ibb.co/r0nNFLZ/45.png);}

[src="/images/beonsmiles/sun-glasses.png"] {content: url(https://i.ibb.co/8bjGnqX/28.png); }

[src="/images/beonsmiles/surprised.png"] {content: url(https://i.ibb.co/0QhbbqV/60.png); }

[src="/images/beonsmiles/thinking.png"] {content: url(https://i.ibb.co/dG0RrHb/50.png); }

[src="/images/beonsmiles/thumbs-down.png"] {content: url(https://i.ibb.co/NLHKjL6/51.png); }

[src="/images/beonsmiles/thumbs-up.png"] {content: url(https://i.ibb.co/BPCzD2f/61.png); }

[src="/images/beonsmiles/tired.png"] {content: url(https://i.ibb.co/ZfFFVVp/62.png);}

[src="/images/beonsmiles/tongue-sticking-out.png"] {content: url(https://i.ibb.co/0FXsX67/71.png); }

[src="/images/beonsmiles/turn-red.png"] {content: url(https://i.ibb.co/48t0142/77.png); }

[src="/images/beonsmiles/undecided.png"] {content: url(https://i.ibb.co/PCj0twY/K1.png);}

[src="/images/beonsmiles/upset.png"] {content: url(https://i.ibb.co/rbNCrYd/K2.gif); }

[src="/images/beonsmiles/wink.png"] {content: url(https://i.ibb.co/VmhGt9q/K3.png);}

[src$="/templates/images/smiles/bad.gif"] {content: url(https://i.ibb.co/jzCCgBD/K4.png); }

[src$="/templates/images/smiles/biggrin.gif"] {content: url(https://i.ibb.co/YhGwnBv/K5.gif); }

[src$="/templates/images/smiles/blum.gif"] {content: url(https://i.ibb.co/cwLQY1V/K6.gif);}

[src$="/templates/images/smiles/blush.gif"] {content: url(https://i.ibb.co/Qcdk9J5/cat1.png);}

[src$="/templates/images/smiles/cray.gif"] {content: url(https://i.ibb.co/F62ztrV/cat2.png);}

[src$="/templates/images/smiles/crazy.gif"] {content: url(https://i.ibb.co/t8SJPvR/cat3.png);}

[src$="/templates/images/smiles/dance.gif"] {content: url(https://i.ibb.co/K70VQhv/cat4.png);}

[src$="/templates/images/smiles/diablo.gif"] {content: url(https://i.ibb.co/vdV6Qsx/cat5.png);}

[src$="/templates/images/smiles/dirol.gif"] {content: url(https://i.ibb.co/Dk00zhf/cat6.png);}

[src$="/templates/images/smiles/drinks.gif"] {content: url(https://i.ibb.co/ydYbyNQ/cat7.png);}



[src$="/templates/images/smiles/fool.gif"] {content: url(https://i.ibb.co/2KWpDgJ/t2.png);}
[src$="/templates/images/smiles/good.gif"] {content: url(https://i.ibb.co/Hn3VzD9/t1.png);}
[src$="/templates/images/smiles/kiss_mini.gif"] {content: url(https://i.ibb.co/dDrw5Z7/t3.png);}
[src$="/templates/images/smiles/man_in_love.gif"] {content: url(https://i.ibb.co/9tVp0FN/t4.png);}
[src$="/templates/images/smiles/music.gif"] {content: url(https://i.ibb.co/Lpb4LFH/t5.png);}
[src$="/templates/images/smiles/nea.gif"] {content: url(https://i.ibb.co/bvh9Bg8/t6.png) !important;}
[src$="/templates/images/smiles/pardon.gif"] {content: url(https://i.ibb.co/tKcjpQZ/t7.png) !important;}
[src$="/templates/images/smiles/rofl.gif"] {content: url(https://i.ibb.co/Pm7h3Jf/s1.png) !important;}
[src$="/templates/images/smiles/rolleyes.gif"] {content: url(https://i.ibb.co/b3R8dbP/s2.png) !important;}
[src$="/templates/images/smiles/sad.gif"] {content: url(https://i.ibb.co/2Sp657b/s3.png) !important;}
[src$="/templates/images/smiles/scratch_one-s_head.gif"] {content: url(https://i.ibb.co/dbzvKPn/s4.png) !important;}
[src$="/templates/images/smiles/shok.gif"] {content: url(https://i.ibb.co/M79rc66/s5.png) !important;}
[src$="/templates/images/smiles/shout.gif"] {content: url(https://i.ibb.co/q9JQJXv/s6.png);}


[src$="/templates/images/smiles/smile.gif"] {content: url(https://i.ibb.co/HYC5vb1/s7.png) !important;}
[src$="/templates/images/smiles/unknw.gif"] {content: url(https://i.ibb.co/zrjkFnq/s8.png) !important;}
[src$="/templates/images/smiles/wacko2.gif"] {content: url(https://i.ibb.co/sq77Shm/q1.png) !important;}
[src$="/templates/images/smiles/wink.gif"] {content: url(https://i.ibb.co/6cMd2Zt/q2.png) !important;}
[src$="/templates/images/smiles/yahoo.gif"] {content: url(https://i.ibb.co/qs54vk8/q3.png) !important;}
[src$="/templates/images/smiles/angel.gif"] {content: url(https://i.ibb.co/dcmXJgM/q4.png) !important;}





/*----ВТОРОЙ ПАК СТИКЕРОВ НА БАЗЕ ТРОЛФЕЙСА----*/

[src^="/images/fffuuusmiles/"] {
    padding: 96px;
    width: 0px;
}


/*сти*/

[src="/images/fffuuusmiles/doomed.gif"] {
background: url(https://i.ibb.co/VD7ycDm/q5.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/cool.gif"] {
background: url(https://i.ibb.co/9cQqRNv/q6.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/hurts.gif"] {
background: url(https://i.ibb.co/cCFznkN/q7.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/kiddingme.gif"] {
background: url(https://i.ibb.co/FJf1QWM/q8.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/lawyerbeginner.gif"] {
background: url(https://i.ibb.co/YQckcXn/qq3.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/trolldance.gif"] {
background: url(https://i.ibb.co/Pxqjxbz/qq1.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/pickupmaster.gif"] {
background: url(https://i.ibb.co/ZLy9Jpq/qq2.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/aimalaca.gif"] {
background: url(https://i.ibb.co/kyrHqS5/qq4.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/fair.gif"] {
background: url(https://i.ibb.co/QpWkHqy/qq5.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/fapfapfap.gif"] {
background: url(https://i.ibb.co/8stfD9h/qq6.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/foreveralone.gif"] {
background: url(https://i.ibb.co/M6DLPK0/qq7.png) no-repeat center / cover;
}


[src="/images/fffuuusmiles/fuckyeah.gif"] {
background: url(https://i.ibb.co/NYJg6L9/qq8.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/happy.gif"] {
background: url(https://i.ibb.co/9yXmhWZ/r16.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/itsnotok.gif"] {
background: url(https://i.ibb.co/VqkT246/r15.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/lol.gif"] {
background: url(https://i.ibb.co/BT1whc7/r14.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/pokerface.gif"] {
background: url(https://i.ibb.co/SVFW3SD/r13.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/please.gif"] {
background: url(https://i.ibb.co/7nYWW1w/r12.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/ofcourse.gif"] {
background: url(https://i.ibb.co/cg0jcdG/r11.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/suspiciou.gif"] {
background: url(https://i.ibb.co/ZmMR3BX/r10.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/trollbl.gif"] {
background: url(https://i.ibb.co/dmg7YDj/r9.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/okay.gif"] {
background: url(https://i.ibb.co/dtpQnMn/r8.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/pfff.gif"] {
background: url(https://i.ibb.co/2vRDcMG/r7.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/whaaat.gif"] {
background: url(https://i.ibb.co/bFTbNGM/r6.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/yaomingpff.gif"] {
background: url(https://i.ibb.co/F59ndw6/r5.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/beaman.gif"] {
background: url(https://i.ibb.co/MgF5JHS/r4.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/really.gif"] {
background: url(https://i.ibb.co/mRtxSfP/r3.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/rage.gif"] {
background: url(https://i.ibb.co/YtyWmxj/r2.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/tobey.gif"] {
background: url(https://i.ibb.co/x2cQnmD/r1.png) no-repeat center / cover;
}



/*--------------*/
[src="/images/fffuuusmiles/fu.gif"] {
background: url(https://i.ibb.co/djStLWD/z7.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/megustagirl.gif"] {
background: url(https://i.ibb.co/7JGH33N/z6.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/megustasmile.gif"] {
background: url(https://i.ibb.co/9hDYJnB/z5.png) no-repeat center / cover;
}


[src="/images/fffuuusmiles/muhaha.gif"] {
background: url(https://i.ibb.co/rt4LdTw/z4.png) no-repeat center / cover;
}


[src="/images/fffuuusmiles/shkololota.gif"] {
background: url(https://i.ibb.co/Qfnp6sz/z3.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/yaoming.gif"] {
background: url(https://i.ibb.co/zVprVJr/z2.png) no-repeat center / cover;
}

[src="/images/fffuuusmiles/yaominginv.gif"] {
background: url(https://i.ibb.co/GtkdWY7/z1.png) no-repeat center / cover;
}



/*-----------*/


[alt="FFFUUU Смайлы"] {
    background: url(https://i.ibb.co/cCFznkN/q7.png) no-repeat center;
    background-size: cover;
    padding: 10px !important;
    border-radius: 3px;
}

div#bbcode [src^="/images/fffuuusmiles/"] {
padding: 40px;
}  

