html {
    font-size: 105%;
}

span.data_comments, small.post_date {
    font-size: 11px;
}

header {
    background: #a0beff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 2;
}

header a {
    font-size: 19px;
    margin-right: 25px;
    color: #4e11ff;
}


.content {
    max-width: 70%;
    margin: auto;
    margin-top: 100px;
}

button {
    line-height: 2;
    margin-top: 8px;
}

.comments_content {
    white-space: pre-wrap;
}
