@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Noto+Sans+SC:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*

font-family: "Geologica", sans-serif;

*/

/*-------------------------*/

html {
    font-size: 14px;
}

body {
    font-family: "Geologica", sans-serif;
}

a {
    color: #3F51B5;
}

.post_stats, small.post_date, span.data_comments {
    font-size: 10px;
    color: #727272;
}


.post_edit {
    font-size: 11px;
}

.content {
    max-width: 70%;
    margin: auto;
    margin-top: 100px;
}

button {
    line-height: 2;
    margin-top: 8px;
}

.post-content p img, p.post_content img, .comments_content p img {
    max-width: 400px !important;
    padding: 3px;
}

