@import url('https://vtloa.github.io/twibercss/tw_all.css');




/*-------------*/

.post_body {
    display: grid;
}

.create_post {
    position: unset;
    order: 1;
}

.post {
    margin-bottom: 50px;
}



.post_avatar {
    width: 100px;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

p.post_content {
    margin-left: 100px;
}


.post_avatar img {
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 162px;
    border-radius: unset;
}

.post_edit {
    text-align: right;
}

span.post_username {
    display: block;
}

.post_avatar {
    float: left;
}
