@import url('https://vtloa.github.io/twibercss/tw_all.css');




/*-------------*/

.post_body {
    display: grid;
}

.create_post {
    position: unset;
    order: 1;
}

.post {
    margin-bottom: 50px;
}


.post_avatar {
    width: 100px;
}

p.post_content {
    margin-left: 100px;
    padding-left: 10px;
    white-space: pre-wrap;
    display: grid;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 50px;
}


.post_avatar img {
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 162px;
    border-radius: unset;
}

.post_edit {
    text-align: right;
}

span.post_username {
    display: block;
}

.post_avatar {
    float: left;
}

.content {
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 100px;
}

.profile_body {
    width: 30%;
    max-width: 330px;
}

.post_body {
    width: 100%;
}

.profile_body h2 {
    font-size: 14px;
    text-align: center;
    line-height: 3;
}

img.profile_avatar {
    margin: auto;
    display: block;
    max-width: 150px;
    max-height: 300px;
}
