@import url('https://vtloa.github.io/twibercss/tw_all.css');




/*-------------*/

.create_post+h2 {
    margin-top: 0px;
}

.profile_body summary {
    cursor: pointer;
    line-height: 4;
}

.post_body {
    display: inline-block;
}

.create_post {
    position: unset;
    order: 1;
}

.post {
    margin-bottom: 50px;
}

.post_avatar {
    width: 100px;
}

p.post_content {
    margin-left: 110px;
    display: grid;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 50px;
    word-break: break-word;
}

.profile_body img.profile_avatar {
    margin: auto;
    width: auto;
    display: block;
    max-width: 150px;
    max-height: 243px;
}

.post_avatar img {
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 162px;
}

.post_edit {
    text-align: right;
}

span.post_username {
    display: block;
}

.post_avatar {
    float: left;
}

.content {
    max-width: 100%;
    display: flex;
    margin: auto;
    margin-top: 149px;
}

.profile_body {
    width: 30%;
    max-width: 330px;
    margin-right: 30px;
}

.post_body {
    width: 100%;
}

.profile_body h2 {
    font-size: 14px;
    text-align: center;
    line-height: 2;
    color: white;
    font-weight: normal;
    background: #FF9800;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile_setting h2 {
    background: #2196F3;
}

h3.post_title {
    margin: 0px;
}

.post_stats {
    margin-left: 100px;
    padding-left: 10px;
    padding-top: 10px;
}

.profile_body h1 {
    font-size: 17px;
    text-align: center;
}

.additional_avatars h2+div {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.create_post .avatar_selection {
    align-items: flex-start;
}

.create_post .avatar_selection img {
    width: auto;
    max-width: 100px;
    object-fit: contain;
    max-height: 162px;
}

.create_post textarea, input[type="text"] {
    padding: 5px;
    font-size: 14px;
}

.avatar_selection img.selected {
    outline: 3px solid #8dcd32;
    outline-offset: -4px;
}

.additional_avatars h2+div img {
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 162px;
}

.additional_avatars h2+div div {
    margin-bottom: 5px;
}

.friends-section ul {
    padding: 0px;
}

.friends-section ul li {
    display: flex !important;
    line-height: 2;
    margin-bottom: 10px;
}

.friends-section ul li img {
    margin-right: 10px;
}

.friends-section h2 {
    background: #E91E63;
}

.gender-section, .birthdate-section, .zodiac-section {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-section h2 {
    display: none;
}

.gender-section h2, .birthdate-section h2, .zodiac-section h2 {
    background: transparent;
    color: #727272;
    margin: 0px;
    line-height: normal;
    margin-right: 10px;
}

.gender-section p,
.birthdate-section p,
.zodiac-section p {
    margin: 0px;
}

.about-section {
    color: #727272;
}


.post_content {
  margin-left: 100px;
  white-space: pre-wrap;
  display: grid;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 50px;
  word-break: break-word;
}

.post_content img {
  padding: 3px;
}

.post_avatar {
  margin-right: 10px;
}

.post-author {
    display: flex;
    align-items: center;
}

small.post_date {
    padding-left: 5px;
}

.post_info {
    font-size: 10px;
    color: #727272;
}

.post_content {
    margin-left: 0;
}

