@import url('https://vtloa.github.io/twibercss/tw_all.css');




/*-------------*/

div#comments {
    display: grid;
}

.avatar_selection img {
    max-width: 100px;
    max-height: 162px;
}

.avatar_selection img.selected {
    outline: 3px solid #8dcd32;
    outline-offset: -4px;
}

img.post_avatar {
    max-width: 100px;
    max-height: 162px;
}

.add_comment {
    margin-bottom: 20px;
}

.user_avatar {
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 162px;
    border-radius: unset;
}

.comment_avatar {
    width: 100px;
}

.comments_content p {
    margin: 0px;
}

.comment_edit {
    text-align: right;
}

textarea#content {
    width: calc(100% - 135px) !important;
    min-height: 100px;
    padding: 5px;
    font-size: 14px;
}

.avatar_selection {
    width: 135px;
    float: right;
    text-align: center;
    max-height: 200px;
    overflow-y: auto;
}

.avatar_selection img {
    max-width: 100px;
    max-height: 162px;
    margin-bottom: 10px;
}


.comments_content {
    margin-left: 100px;
    padding-left: 10px;
    white-space: pre-wrap;
    display: grid;
}

.comment_header {
    display: block;
}

.comment_avatar {
    float: left;
}

.comment {
    display: block;
    margin-bottom: 20px;
}

.comments_content {
    min-height: 50px;
}
