header {
    background: #a0beff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

header a {
    font-size: 19px;
    margin-right: 25px;
    color: #4e11ff;
}

.content {
    max-width: 70%;
    margin: auto;
}


/*-------------*/

.avatar_selection img {
    max-width: 100px;
    max-height: 162px;
}

.avatar_selection img.selected {
    outline: 3px solid #8dcd32;
}

.content {
    max-width: 70%;
    margin: auto;
    margin-top: 100px;
}

img.post_avatar {
    max-width: 100px;
    max-height: 162px;
}

textarea#content {
    width: 100% !important;
    min-height: 100px;
    padding: 5px;
    font-size: 14px;
}

.add_comment {
    margin-bottom: 20px;
}

button {
    line-height: 2;
    margin-top: 8px;
}

.user_avatar {
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 162px;
    border-radius: unset;
}

.comment_avatar {
    width: 100px;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.comment {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
    margin-bottom: 20px;
}

.comment_header {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
}

.comments_content {
    margin-left: 100px;
    padding-left: 10px;
    grid-row: 2 / 2;
    grid-column: 2 / -1;
}

.comments_content p {
    margin: 0px;
}

.comment_edit {
    text-align: right;
}
