@import url('https://vtloa.github.io/twibercss/tw_all.css');




/*-------------*/

.content {
    display: grid;
}

.post {
    order: 1;
    margin-bottom: 50px;
}

.top-users {
    margin-bottom: 50px;
}

img.post-avatar {
    max-width: 100px;
}
