@import url('https://vtloa.github.io/twibercss/tw_all.css');




/*-------------*/

.content {
    display: grid;
}

.post {
    order: 1;
    margin-bottom: 50px;
}

.top-users {
    margin-bottom: 50px;
}

img.post-avatar {
    max-width: 100px;
}

/*------ВРЕМЕННО*/

.post-header {
    display: grid;
}



.post-header {
    display: grid;
    float: inline-start;
}



.content {
    max-width: 100%;
    display: flex;
    margin: auto;
    margin-top: 100px;
}


.post_body {
    width: 100%;
}

.leftmenu {
    width: 30%;
    max-width: 330px;
}

.post_body {
    display: grid;
}

.top-users h2,.online_users h2 {
    font-size: 14px;
    text-align: center;
    line-height: 3;
}

/*-------------ТОП*/

.top-users ul img {
    width: auto;
    max-width: 50px;
    max-height: 81px;
    margin-top: 10px;
}

.top-users ul li:first-child img {
    max-width: 100px;
    max-height: 162px;
}

.top-users ul img {
    order: 1;
}

.top-users ul li {
    display: grid;
    margin-bottom: 10px;
}

.top-users ul li:first-child+li {
    margin-left: 20px;
}

.top-users ul li:first-child+li+li {
    margin-left: 30px;
}

.top-users ul li:first-child+li+li+li {
    margin-left: 30px;
}

.top-users ul li:first-child+li+li+li+li {
    margin-left: 30px;
}

.top-users ul li:first-child+li+li img,
.top-users ul li:first-child+li+li+li img,
.top-users ul li:first-child+li+li+li+li img {
    max-width: 40px;
    max-height: 65px;
}

.post_title h3 {
    margin: 0px;
}

.post_avatar {
    float: left;
}

