@import url('https://vtloa.github.io/twibercss/tw_all.css');




/*-------------*/

.top-users ul {
    padding-left: 20px;
}

h1.notice {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 22;
}

.leftmenu {
    margin-top: -150px;
}

.leftmenu>div {
    margin-bottom: 20px;
}

div#message {
    all: unset !important;
}

.post {
    order: 1;
    margin-bottom: 50px;
}

.top-users {
    margin-bottom: 50px;
}

img.post-avatar {
    max-width: 100px;
}

/*------ВРЕМЕННО*/

.post-header {
    display: grid;
}

.post-header {
    display: grid;
    float: inline-start;
}

.content {
    max-width: 100%;
    display: flex;
    margin: auto;
    margin-top: 250px;
}

.post_body {
    width: 100%;
}

.leftmenu {
    width: 30%;
    max-width: 330px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.online_users {
    order: 1;
}

.post_body {
    display: grid;
}

.top-users h2,.online_users h2 {
    font-size: 14px;
    text-align: center;
    line-height: 3;
}

/*-------------ТОП*/

.top-users ul img {
    width: auto;
    max-width: 50px;
    max-height: 81px;
    margin-top: 10px;
}

.top-users ul li:first-child img {
    max-width: 100px;
    max-height: 162px;
}

.top-users ul img {
    order: 1;
}

.top-users ul li {
    display: grid;
    margin-bottom: 10px;
}

.top-users ul li:first-child+li {
    margin-left: 20px;
}

.top-users ul li:first-child+li+li {
    margin-left: 30px;
}

.top-users ul li:first-child+li+li+li {
    margin-left: 30px;
}

.top-users ul li:first-child+li+li+li+li {
    margin-left: 30px;
}

.top-users ul li:first-child+li+li img,
.top-users ul li:first-child+li+li+li img,
.top-users ul li:first-child+li+li+li+li img {
    max-width: 40px;
    max-height: 65px;
}

.post_title h3 {
    margin: 0px;
}

.post_avatar {
    float: left;
    margin-right: 10px;
}

small, .post-actions {
    font-size: 10px;
    color: #727272;
}

.top-users h2, .online_users h2, div#notifications-container h3 {
    font-size: 14px;
    text-align: center;
    line-height: 2;
    color: white;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 10px;
}

.top-users h2 {
    background: #E91E63;
}

.online_users h2 {
    background: #FF9800;
}

.online_users ul li img {
    margin-right: 10px;
}

.online_users ul li {
    display: flex !important;
    line-height: 2;
    margin-bottom: 10px;
}

p.post_content {
    margin-left: 100px;
    white-space: pre-wrap;
    display: grid;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 50px;
    word-break: break-word;
}
